<div class="panel-tab-title-section">
    <div class="col"></div>
    <p class="panel-tab-title col">Queue</p>
    <div class="col pr-0">
        <app-bx-button *appAuth="true" (click)="startConversion()" class="panel-tab-title-button"
            [options]="{'type': 'addToLibrary', 'textDisplay': 'tooltip', 'text': 'Add all videos to a Playlist', 'context': 'queue'}">
        </app-bx-button>
    </div>
</div>
<div *ngIf="box" style="flex: 1; overflow: auto;">
    <div *ngIf="box.playlist.length > 0; else noVideos" class="d-flex flex-column h-100">
        <div class="d-flex align-items-center pl-2 pt-3">
            <img *ngIf="currentlyPlaying?.stateForcedWithBerries"
                src="../../../../../assets/images/icons/berry-coin-icon.svg" alt="" style="height: 30px;"
                ngbTooltip="This video is playing thanks to the use of berries.">
            <p class="list-rank pl-2">Now playing: </p>
        </div>
        <div class="now-playing-space">
            <div *ngIf="currentlyPlaying; else noPlaying">
                <app-queue-video [item]="currentlyPlaying" [box]="box" (order)="handlePlaylistOrder($event)">
                </app-queue-video>
            </div>
            <ng-template #noPlaying>
                <div class="no-playing text-center">
                    No video is currently playing.
                </div>
            </ng-template>
        </div>
        <div class="d-flex align-items-center justify-content-between px-2 pt-2">
            <div *ngIf="box.options.loop">
                <p class="list-rank pl-2">Videos in Queue ({{ upcomingVideos.length }}): </p>
            </div>
            <app-bx-tabset *ngIf="!box.options.loop" [options]="tabSetOptions" (clickedOption)="displayTab = $event"
                style="flex: 1">
            </app-bx-tabset>
            <div class="d-flex">
                <app-bx-chip [options]="{'type': 'random'}" [display]="'icon'" *ngIf="box?.options?.random">
                </app-bx-chip>
                <app-bx-chip [options]="{'type': 'loop'}" [display]="'icon'" *ngIf="box?.options?.loop">
                </app-bx-chip>
                <app-berry-counter *ngIf="box?.options?.berries && box?.creator?._id !== user?._id"
                    [boxToken]="box._id"></app-berry-counter>
            </div>
        </div>
        <div class="p-3 input-group">
            <input type="text" class="form-control" placeholder="Type to search in the queue..." #filterInput>
            <div class="input-group-append">
                <button class="btn btn-outline-default" type="button" (click)="resetFilter()">Reset</button>
            </div>
        </div>
        <div class="lists" [ngClass]="{'is-searching': filterValue !== ''}">
            <div *ngIf="!box.options.loop">
                <div *ngIf="displayTab === 'upcoming'">
                    <div
                        *ngFor="let entry of upcomingVideos | filter:filterValue:['video.name', 'video.link', 'submitted_by.name']; let i = index">
                        <app-queue-video [item]="entry" [box]="box" (order)="handlePlaylistOrder($event)">
                        </app-queue-video>
                    </div>
                </div>
                <div *ngIf="displayTab === 'played'">
                    <div
                        *ngFor="let entry of playedVideos | filter:filterValue:['video.name', 'video.link', 'submitted_by.name']; let i = index">
                        <app-queue-video [item]="entry" [box]="box" (order)="handlePlaylistOrder($event)">
                        </app-queue-video>
                    </div>
                </div>
            </div>
            <div *ngIf="box.options.loop">
                <div
                    *ngFor="let entry of upcomingVideos | filter:filterValue:['video.name', 'video.link', 'submitted_by.name']; let i = index">
                    <app-queue-video [item]="entry" [box]="box" (order)="handlePlaylistOrder($event)">
                    </app-queue-video>
                </div>
            </div>
            <div class="text-center mt-3">
                <span class="m-1" style="color: var(--video-separator-color);">&#9679;</span>
            </div>
        </div>
    </div>
    <ng-template #noVideos>
        <div class="text-center no-contents">
            <svg class="berrybox-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 475.55 428.13">
                <path class="berrybox-path"
                    d="M475.56 307.09L293.21 201.81v210.56l182.35-105.28M0 0h456.59v56.04H0zM0 93.02h456.59v56.04H0zM0 186.04h269.23v56.04H0zM0 279.07h269.23v56.04H0zM0 372.09h269.23v56.04H0z" />
            </svg>
            <h3>Your queue is empty</h3>
            <p>You can add youtube links in the chat input with the <span class="command-key">!add</span> command or use
                the lens icon to search directly on YouTube.</p>
        </div>
    </ng-template>
</div>