<div class="panel-tab-title-section" *ngIf="withHeader">
    <p class="panel-tab-title col">Queue</p>
</div>
<div *ngIf="box" style="flex: 1;height: inherit;">
    <div *ngIf="!isLoading; else loading" style="height: inherit;">
        <div *ngIf="inAddingProcess" style="height: inherit;">
            <app-search-tab [box]="box" [user]="user" [permissions]="permissions" (back)="inAddingProcess = false">
            </app-search-tab>
        </div>
        <div *ngIf="!inAddingProcess" style="height:inherit;">
            <div *ngIf="queue.length > 0; else noVideos" class="d-flex flex-column h-100">
                <div class="d-flex p-2 justify-content-between align-items-center queue-details">
                    <div *ngIf="!isFiltering; else filteringSpace" class="d-flex justify-content-between"
                        style="flex: 1;">
                        <div class="d-flex col align-items-center justify-content-start">
                            <app-bx-chip [options]="{'type': 'random'}" [display]="'icon'" [small]="true"
                                *ngIf="box?.options?.random">
                            </app-bx-chip>
                            <app-bx-chip [options]="{'type': 'loop'}" [display]="'icon'" [small]="true"
                                *ngIf="box?.options?.loop">
                            </app-bx-chip>
                            <span *appAuth="true">
                                <app-berry-counter *ngIf="box?.options?.berries && box?.creator?._id !== user?._id"
                                    [boxToken]="box._id"></app-berry-counter>
                            </span>
                        </div>
                        <div class="d-flex col align-items-center justify-content-center">
                            <span>{{ queue.length }} videos</span>
                        </div>
                        <div class="d-flex col justify-content-end">
                            <app-bx-button *appAuth="true" (click)="startConversion()"
                                [options]="{'type': 'addToLibrary', 'context': 'queue'}"></app-bx-button>
                            <app-bx-button (click)="showFilter()" [options]="{'type': 'search', 'context': 'queue'}">
                            </app-bx-button>
                        </div>
                    </div>
                    <ng-template #filteringSpace>
                        <app-bx-button (click)="showFilter()" [options]="{'type': 'back', 'context': 'queue'}">
                        </app-bx-button>
                        <div class="p-2 input-group">
                            <input type="text" class="form-control"
                                placeholder="Filter the queue by typing a video name..." #filterInput>
                            <button class="btn btn-outline-default" type="button" (click)="resetFilter()">Reset</button>
                        </div>
                    </ng-template>
                </div>
                <cdk-virtual-scroll-viewport itemSize="40" class="queue-space"
                    [ngClass]="{'is-searching': filterValue !== ''}">
                    <div *cdkVirtualFor="let item of filteredQueue">
                        <app-queue-video [item]="item" [box]="box"
                            [priority]="item.setToNext && priorityVideos.indexOf(item) + 1"
                            (order)="handlePlaylistOrder($event)" [permissions]="permissions">
                        </app-queue-video>
                    </div>
                    <div class="text-center my-3">
                        <span class="m-1" style="color: var(--video-separator-color);">&#9679;</span>
                    </div>
                </cdk-virtual-scroll-viewport>
            </div>
            <ng-template #noVideos>
                <div class="text-center no-contents">
                    <svg style="height: 1.5rem;" class="berrybox-svg" xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 500 500">
                        <path class="berrybox-path"
                            d="M462.39,334.36l-152.34-88a10,10,0,0,0-15,8.66V431a10,10,0,0,0,15,8.66l152.34-88A10,10,0,0,0,462.39,334.36Z" />
                        <rect class="berrybox-path" x="58.63" y="266.92" width="195.03" height="40.12" rx="7.2" />
                        <rect class="berrybox-path" x="58.63" y="354.65" width="195.03" height="40.12" rx="7.2" />
                        <rect class="berrybox-path" x="58.63" y="179.19" width="290.63" height="40.12" rx="8.79" />
                        <rect class="berrybox-path" x="58.63" y="91.46" width="290.63" height="40.12" rx="8.79" />
                    </svg>
                    <h3>Your queue is empty</h3>
                    <p>You can add youtube videos by clicking on the button below or by dragging YouTube miniatures over
                        the
                        screen (only available in the box screen and not the manager).</p>
                </div>
            </ng-template>
            <button class="fab" *ngIf="permissions.includes('addVideo')" (click)="inAddingProcess = true">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 500">
                    <defs>
                        <style>
                            .cls-1 {
                                fill: #fff;
                            }
                        </style>
                    </defs>
                    <g id="add-videos-icon">
                        <rect class="cls-1" x="60.13" y="266.92" width="195.03" height="40.12" rx="7.2" />
                        <rect class="cls-1" x="60.13" y="354.65" width="195.03" height="40.12" rx="7.2" />
                        <rect class="cls-1" x="60.13" y="179.19" width="290.63" height="40.12" rx="8.79" />
                        <rect class="cls-1" x="60.13" y="91.46" width="290.63" height="40.12" rx="8.79" />
                        <rect class="cls-1" x="294.54" y="304.84" width="172.68" height="51.48" rx="12.63"
                            transform="translate(711.46 -50.3) rotate(90)" />
                        <rect class="cls-1" x="294.54" y="304.84" width="172.68" height="51.48" rx="12.63"
                            transform="translate(761.76 661.16) rotate(180)" />
                    </g>
                </svg>
                <span class="fab-text">Add Videos</span>
            </button>
        </div>
    </div>
    <ng-template #loading>
        <div class="h-100 d-flex justify-content-center align-items-center">
            <app-loading-indicator></app-loading-indicator>
        </div>
    </ng-template>
</div>