@import './../../../../../imports.scss';
#queue-panel,
#like-panel {
    padding: 0 10px;
}

.playlist-actions {
    margin-top: 15px;
    margin-bottom: 15px;
}

.list-rank {
    color: var(--text-main-color);
    margin-bottom: 0;
    font-weight: 600;
    font-family: 'Nunito', sans-serif;
}

.no-playing {
    padding: 40px;
    color: var(--text-main-color);
}

.queue-details {
    background-color: var(--background-main-color);
}

.queue-space {
    padding-bottom: 50px;
    height: 100%;
    width: 100%;
    overflow: auto;
    @include can-search();
}

.above-fab {
    position: absolute;
    bottom: 90px;
    right: 29px;
}