@import './../../../../../imports.scss';
#queue-panel,
#like-panel {
    padding: 0 10px;
}

.playlist-actions {
    margin-top: 15px;
    margin-bottom: 15px;
}

.list-rank {
    color: var(--text-main-color);
    margin-bottom: 0;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}

.now-playing-space {
    // height: 107px;
}

.no-playing {
    padding: 40px;
    color: var(--text-main-color);
}

.lists {
    height: 100%;
    overflow: auto;
    @include can-search();
}