<div class="panel-tab-title-section">
    <p class="panel-tab-title col">Help</p>
</div>
<div class="p-3">
    <h4 class="help-section-title">Submitting a video</h4>

    You can submit a video by two different ways:
    <ul>
        <li>Search on YouTube by clicking the lens icon. Once you've find what you want, click on the "Submit" button!</li>
        <li>You can also use commands in the chat box, like <span class="command-key">!add</span>, followed by the URL of the video. The list of commands is available by clicking the ! icon</li>
    </ul>
</div>