@import './../../../../../imports.scss';
.message-list {
    flex: 1;
    overflow: auto;
}

.scroll-resumer {
    position: relative;
    bottom: 0;
    width: 80%;
    border-radius: 5px;
    background-color: rgba(black, 0.2);
    padding: 4px;
    color: var(--text-main-color);
    font-family: 'Nunito';
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    font-weight: 700;
    &:hover {
        background-color: rgba(black, 0.3);
    }
}