<div class="modal-header">
    <h5>Update your profile picture</h5>
    <button type="button" class="btn-close" aria-label="close" (click)="activeModal.dismiss()">
    </button>
</div>
<div class="modal-body">
    <div *ngIf="state === 'selecting'">
        <input type="file" #pictureInput class="d-none" (change)="processFile(pictureInput)">
        <div class="d-grid">
            <button class="btn btn-outline-default" id="btn-dropzone" (click)="pictureInput.click()">Import a
                picture</button>
        </div>
        <app-bx-alert [options]="{'type': 'danger', 'message': errorMessage}" *ngIf="errorMessage !== null">
        </app-bx-alert>
    </div>
    <div *ngIf="state === 'adjusting'">
        <div *ngIf="!success; else successMessage">
            <div class="text-center">
                <img src="{{ picturePreview }}" id="picture-preview" alt="">
            </div>
            <div class="d-flex flex-row-reverse mt-3">
                <button class="btn btn-success ms-3" (click)="uploadPicture()">Save</button>
                <button class="btn btn-secondary" (click)="activeModal.dismiss()">Cancel</button>
            </div>
        </div>
        <ng-template #successMessage>
            <app-bx-alert [options]="{'type': 'success', 'message': 'Your profile picture has been updated!'}">
            </app-bx-alert>
        </ng-template>
    </div>
</div>