<div class="row playlist-entry no-gutters video px-3 py-2 upcoming">
    <div class="entry-info d-flex">
        <div class="entry-image-container h-100">
            <img class="entry-image h-100 float-left" src="http://img.youtube.com/vi/{{ item?.video?.link }}/0.jpg" alt="">
            <span class="submission-duration">
                {{ item?.video.duration | duration }}
            </span>
        </div>
        <div class="entry-details col pr-0">
            <p class="song-list-line">
                <a href="https://youtube.com/watch?v={{item?.video?.link}}" title="{{item?.video?.name}}">{{item?.video?.name}}</a>
            </p>
            <div>
                <span class="submission-time">
                    {{ item?.submittedAt | date:'dd/MM/yyyy HH:mm:ss'}}
                </span>
                <span>|</span>
                <span class="submission-user" *ngIf="item?.submitted_by">
                    {{ item?.submitted_by?.name }}
                </span>
            </div>
            <div *appAuth="true">
                <app-like-button [video]="item"></app-like-button>
                <button *ngIf="item?.startTime !== null && item?.endTime === null" type="button" class="btn btn-primary ml-1" ngbTooltip="Skip" (click)="skipVideo(item)">
                    <svg class="btn-primary-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 402.39 385.88">
                    <polygon points="334.18 192.94 0 0 0 385.88 334.18 192.94"/>
                    <rect width="68.21" height="385.88" x="334.18"/>
                  </svg>
                </button>
                <button *ngIf="item?.startTime === null && item?.submitted_by?._id === user._id" class="btn btn-default ml-1" (click)="cancelVideo(item)">Cancel</button>
                <button *ngIf="item?.endTime !== null" class="btn btn-default button-resubmit ml-1" (click)="replayVideo(item)">Replay</button>
            </div>
        </div>
    </div>
</div>