<div class="row playlist-entry no-gutters video px-3 py-2 upcoming">
    <div class="entry-info d-flex">
        <div class="entry-image-container h-100">
            <img class="entry-image h-100 float-left" src="http://img.youtube.com/vi/{{ item?.video?.link }}/0.jpg" alt="">
        </div>
        <div class="entry-details col pr-0">
            <p class="song-list-line">
                <a href="https://youtube.com/watch?v={{item?.video?.link}}" title="{{item?.video?.name}}">{{item?.video?.name}}</a>
            </p>
            <div>
                <span class="submission-time">
                    {{ item?.submitted_at | date:'dd/MM/yyyy HH:mm:ss'}}
                </span>
                <span>|</span>
                <span class="submission-user" *ngIf="item?.submitted_by">
                    {{ item?.submitted_by?.name }}
                </span>
            </div>
            <button *ngIf="item?.endTime !== null" class="btn btn-default action-button" (click)="resubmit(item)">Resubmit</button>
            <button class="btn btn-outline-default action-button" (click)="addToPlaylist(item)">Add to playlist</button>
        </div>
    </div>
</div>