<div class="row playlist-entry no-gutters px-3" *ngFor="let video of likes; let i = index;">
    <p class="song-list-line col-11">
        <a href="https://youtube.com/watch?v={{video.link}}" title="{{video.video_name}}">{{video.video_name}}</a>
    </p>
    <div class="col-1" title="Queue">
        <svg class="berrybox-svg-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 457.98 202.99" (click)="quickQueue(video.link)">
            <rect width="64.36" height="121.43" y="40.78" />
            <polygon points="457.98 101.49 316.68 0 316.68 202.99 457.98 101.49" />
            <rect width="64.36" height="121.43" x="81.45" y="40.78" />
            <rect width="168.34" height="121.43" x="162.89" y="40.78" />
        </svg>
    </div>
</div>