<div *appAuth="true">
    <app-video-entry *ngFor="let video of user?.favorites" [video]="video" (submit)="submitVideo($event)"></app-video-entry>
</div>
<div *appAuth="false" class="text-center no-contents">
    <svg class="berrybox-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 408 408.09">
        <path class="berrybox-path" d="M408 129.05c0 92-135.88 225.81-185.85 271.92a26.76 26.76 0 0 1-36.3 0C135.88 354.89 0 221.05 0 129.05c0-111 115.51-188.38 200.28-62.41a4.73 4.73 0 0 0 7.72.18c96.55-130.09 200-48.87 200 62.23z"
        />
    </svg>
    <p>Log in or create an account to add videos to your favorites!</p>
    <button class="btn btn-default" (click)="openLoginPrompt()">Login</button>
    <button class="btn btn-default" (click)="openSignupPrompt()">Sign up</button>
</div>