<div class="row playlist-entry g-0 px-3">
    <div class="entry-info d-flex">
        <div class="entry-image-container">
            <img src="http://img.youtube.com/vi/{{ video?.link }}/0.jpg" alt="{{ video?.name }}"
                class="entry-image h-100">
            <span class="submission-duration d-flex align-items-center justify-content-center">
                {{ video?.duration | duration }}
            </span>
        </div>
        <div class="entry-details ps-3 pe-0">
            <div class="d-flex flex-row align-items-center">
                <div class="state-indicator in-queue-indicator" *ngIf="appliedOptions.inQueue"
                    ngbTooltip="Already in queue">
                    <svg-icon src="../../../../assets/images/icons/in-queue-icon.svg"
                        [svgClass]="'in-queue-indicator-icon'" [applyClass]="true"></svg-icon>
                </div>
                <p class="song-list-line">
                    <a href="https://youtube.com/watch?v={{ video?.link }}" title="{{ video?.name }}">{{ video?.name
                        }}</a>
                </p>
            </div>
        </div>
        <div *ngIf="!appliedOptions.none">
            <div ngbDropdown container="body">
                <div ngbDropdownToggle>
                    <svg class="berrybox-svg" style="height: 30px; width: 30px;" xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 500 500">
                        <rect class="berrybox-path" x="183.33" y="183.33" width="133.33" height="133.33" rx="10" />
                        <rect class="berrybox-path" x="183.33" y="27.67" width="133.33" height="133.33" rx="10" />
                        <rect class="berrybox-path" x="183.33" y="339" width="133.33" height="133.33" rx="10" />
                    </svg>
                </div>
                <div ngbDropdownMenu>
                    <button *ngIf="permissions.includes('addVideo') && appliedOptions.submit" class="dropdown-item"
                        (click)="submitVideo()">
                        <svg-icon src="../../../../assets/images/icons/play-later-icon.svg" [svgClass]="'img-icon'">
                        </svg-icon>
                        <span>
                            Add to Queue
                        </span>
                    </button>
                    <button
                        *ngIf="appliedOptions.forceNext && (permissions.includes('forceNext') || appliedOptions.berries)"
                        class="dropdown-item" (click)="submitVideo('next')">
                        <svg-icon src="../../../../assets/images/icons/play-next-icon.svg" [svgClass]="'img-icon'">
                        </svg-icon>
                        <span>
                            Play Next <span *ngIf="!permissions.includes('forceNext') && appliedOptions.berries">
                                (<app-berry-cost value="10"></app-berry-cost>)
                            </span>
                        </span>
                    </button>
                    <button
                        *ngIf="appliedOptions.forcePlay && (permissions.includes('forcePlay') || appliedOptions.berries)"
                        class="dropdown-item" (click)="submitVideo('now')">
                        <svg-icon src="../../../../assets/images/icons/play-now-icon.svg" [svgClass]="'img-icon'">
                        </svg-icon>
                        <span>
                            Play Now <span *ngIf="!permissions.includes('forcePlay') && appliedOptions.berries">
                                (<app-berry-cost value="30"></app-berry-cost>)
                            </span>
                        </span>
                    </button>
                    <div class="dropdown-divider"
                        *ngIf="(appliedOptions.submit || appliedOptions.forceNext || appliedOptions.forcePlay) && (appliedOptions.addToPlaylist || appliedOptions.removeFromPlaylist)">
                    </div>
                    <button *ngIf="appliedOptions.addToPlaylist" class="dropdown-item" (click)="addToPlaylist()">
                        <svg-icon src="../../../../assets/images/icons/add-to-library-icon.svg" [svgClass]="'img-icon'">
                        </svg-icon>
                        Add to playlist
                    </button>
                    <button *ngIf="appliedOptions.removeFromPlaylist" class="dropdown-item dropdown-item-danger"
                        (click)="removeFromPlaylist()">
                        <svg-icon src="../../../../assets/images/icons/trash-icon.svg" [svgClass]="'trash-icon'">
                        </svg-icon>
                        Remove from playlist
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>