@import './../../../../imports.scss';
.playlist-entry {
    padding: 5px 0;
    border-bottom: .5px solid rgba(var(--text-focus-color), 0.7);
    &:nth-child(even) {
        border-top: .5px solid rgba(var(--text-focus-color), 0.7);
    }
    &.playing {
        font-weight: 800;
        background-color: lighten($master-color, 30%);
    }
    &.played {
        color: var(--text-system-color);
    }
}

.entry-info {
    height: 90px;
    width: 100%;
}

.entry-actions {
    height: 30px;
}

.entry-details {
    width: calc(100% - 120px);
}

.entry-image-container {}