<div class="modal-header">
    <h5 class="modal-title">{{ title }}</h5>
    <button type="button" class="close" aria-label="close" (click)="activeModal.dismiss()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form (ngSubmit)="onSubmit()" #boxForm="ngForm">
        <div class="form-group">
            <label for="name">Title</label>
            <input type="text" class="form-control" id="name" name="name" [(ngModel)]="model.name">
        </div>

        <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control" name="description" id="description" cols="30" rows="10" [(ngModel)]="model.description"></textarea>
        </div>

        <div class="form-group">
            <label for="lang">Spoken language</label>
            <select name="lang" id="lang" class="form-control" [(ngModel)]="model.lang">
                <option value="">Select a language</option>
                <option *ngFor="let lang of langs" [value]="lang">{{ lang }}</option>
            </select>
        </div>

        <button type="submit" class="btn btn-default">Create</button>
    </form>
</div>