@import './../../../imports.scss';
.main-background {
    height: calc(100vh - #{$nav-height});
    overflow-y: auto;
    background: linear-gradient(70deg, $master-color 0, darken($master-color, 15%) 100%);
}