<div class="main-background">
    <h1 class="display-3 text-center mt-5">Reset your password</h1>

    <div class="row justify-content-center mt-5">
        <div class="col col-5">
            <div *ngIf="!errorMessage; else error">
                <div *ngIf="!isCheckingToken; else checking">
                    <div *ngIf="!isResetDone">
                        <form [formGroup]="resetForm" (ngSubmit)="resetPassword()">
                            <div class="py-2">
                                <label for="password" class="form-label">Enter your new password</label>
                                <input type="password" formControlName="password" class="form-control input-lg"
                                    name="password" placeholder="Password" required minlength="8">
                            </div>
                            <div class="py-2">
                                <label for="password-verify" class="form-label">Please verify your password</label>
                                <input type="password" formControlName="passwordVerify" class="form-control input-lg"
                                    name="password-verify" placeholder="Password verify" requried minlength="8">
                            </div>
                            <div class="py-2 d-grid">
                                <button type="submit" class="btn btn-primary">Reset your password</button>
                            </div>
                        </form>
                    </div>
                    <app-bx-alert *ngIf="isResetDone"
                        [options]="{'type': 'success', 'message': 'Your password has been reset! You can now log in Berrybox with your account.'}">
                    </app-bx-alert>
                </div>
                <ng-template #checking>
                    Checking your token...
                </ng-template>
            </div>
            <ng-template #error>
                <app-bx-alert [options]="{'type': 'danger', 'message': errorMessage}"></app-bx-alert>
            </ng-template>
        </div>
    </div>
</div>