<div class="d-flex overflow-auto" id="settings">
    <div class="col-4 menu pt-5">
        <nav class="nav flex-column p-0 text-right">
            <a class="nav-link nav-link-inverted" (click)="currentTab = 'account'" [ngClass]="{'active':currentTab === 'account'}">Account</a>
            <a class="nav-link nav-link-inverted" (click)="currentTab = 'display'" [ngClass]="{'active':currentTab === 'display'}">Display</a>
        </nav>
    </div>
    <div class="col settings-tabs">
        <div class="d-flex flex-row-reverse close-button-space">
            <button type="button" class="close mr-2" aria-label="close" (click)="closeSettings()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="col-7">
            <div id="account-tab" *ngIf="currentTab === 'account'">
                <h3 class="tab-title">Account</h3>
                <h5 class="section-title">Profile Picture</h5>
                <div class="form-group">
                    <div class="picture-edit-space d-flex">
                        <div class="col-3 text-center">
                            <img class="profile-picture profile-picture-lg" src="{{pictureLocation}}" alt="">
                        </div>
                        <div class="col m-auto">
                            <button type="button" class="btn btn-primary" (click)="openPictureUploader()">Change your
                                profile picture</button>
                            <p class="help-text text-muted">Accepted formats: JPEG, PNG. Maximum size: 2MB.</p>
                        </div>
                    </div>
                </div>
                <h5 class="section-title">Details</h5>
                <div class="form-group d-flex flex-row justify-content-between align-items-center">
                    <div class="col-3 p-0">
                        <label for="mail">Name</label>
                    </div>
                    <div class="col">
                        <input type="text" readonly class="form-control-plaintext" value="{{ session.name }}">
                        <p class="help-text text-muted">You cannot change your username.</p>
                    </div>
                </div>
                <div class="form-group d-flex flex-row justify-content-between align-items-center">
                    <div class="col-3 p-0">
                        <label for="mail">Mail address</label>
                    </div>
                    <div class="col">
                        <input type="text" readonly class="form-control-plaintext" value="{{ session.mail }}">
                        <p class="help-text text-muted">You cannot change your mail address.</p>
                    </div>
                </div>
            </div>
            <div id="display-tab" *ngIf="currentTab === 'display'">
                <h3 class="tab-title">Display</h3>
                <h5 class="section-title">Theme</h5>
                <div class="form-group d-flex no-gutters">
                    <div class="col-10">
                        <label for="theme">Dark Theme</label>
                        <p class="help-text text-muted">Toggles between light colors and dark colors for the overall appearance of the application. Saved automatically.</p>
                    </div>
                    <div class="col m-auto">
                        <app-slide-toggle class="checkbox" [value]="isDarkThemeEnabled" (valueChange)="toggleDarkTheme()">
                        </app-slide-toggle>
                    </div>
                </div>
                <h5 class="section-title">Customized Colors</h5>
                <div class="form-group">
                    <label for="color">Chat Color</label>
                    <p class="help-text text-muted">Choose a color for your username in chat. Be careful, some colors might be <strong>difficult to read</strong> in light or dark themes and for users with <strong>color blindness</strong>.
                    </p>
                    <div class="d-flex flex-row mt-2">
                        <div class="mr-4">
                            <span [style.background]="color" [cpToggle]="true" [cpDialogDisplay]="'inline'" [cpAlphaChannel]="'disabled'" [cpCancelButton]="false" [(colorPicker)]="color" [cpOutputFormat]="'hex'"></span>
                        </div>
                        <div class="display-flex flex-column h-100 align-items-between">
                            <div class="chat-preview">
                                <p class="help-text text-muted">Preview on Light Mode:</p>
                                <div class="chat-preview-theme chat-preview-theme-light">
                                    <span [style.color]="color">{{ session.name }}</span>
                                </div>
                            </div>
                            <div class="chat-preview mt-3">
                                <p class="help-text text-muted">Preview on Dark Mode:</p>
                                <div class="chat-preview-theme chat-preview-theme-dark">
                                    <span [style.color]="color">{{ session.name }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-success btn-block mt-3" (click)="saveChatColor()">Save Color</button>
                </div>
                <div class="form-group d-flex no-gutters">
                    <div class="col-10">
                        <label for="colorblind">Enable Color Blindness Display</label>
                        <p class="help-text text-muted">Removes all custom user colors in chat, including yours. Saved automatically.</p>
                    </div>
                    <div class="col m-auto">
                        <app-slide-toggle class="checkbox" [(value)]="session.settings.isColorblind" (valueChange)="toggleColorBlindMode()">
                        </app-slide-toggle>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>