@import './../../../imports.scss';
.nav-link {
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    color: var(--text-system-color) !important;
    &:hover {
        background-color: var(--background-main-hover-color);
        color: white !important;
    }
    &.active {
        cursor: default;
        color: white !important;
        font-weight: 800;
        background-color: var(--background-main-active-color);
    }
}

#settings {
    height: calc(100vh - #{$nav-height});
}

.menu {
    background-color: var(--background-main-color);
}

.settings-tabs {
    background-color: var(--background-secondary-color);
}

.tab-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    color: white;
    padding-bottom: 20px;
}

.form-option {
    border-bottom: 0.5px solid rgba(var(--text-focus-color), 0.7);
    color: var(--text-main-color);
    height: 60px;
    @include padding-vertical(10px);
}

// Override forms
.form-group {
    margin-bottom: 2rem;
}

label {
    font-family: 'Montserrat', sans-serif;
    color: var(--text-focus-color);
    font-weight: 700;
}

.save-button {
    @include padding-horizontal(40px);
}

.checkbox {
    float: right;
}