@import './../../../imports.scss';
#settings {
    height: calc(100vh - #{$nav-height});
}

.menu {
    background-color: var(--background-secondary-color);
}

.settings-tabs {
    background-color: var(--background-main-color);
}

.tab-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    color: var(--text-main-color);
    padding-bottom: 20px;
}

.form-option {
    border-bottom: 0.5px solid rgba(var(--text-focus-color), 0.7);
    color: var(--text-main-color);
    height: 60px;
    @include padding-vertical(10px);
}

.section-title {
    font-family: 'Montserrat', sans-serif;
    color: var(--text-focus-color);
    font-weight: 700;
}

// Override forms
.form-group {
    margin-bottom: 2rem;
}

label {
    font-family: 'Montserrat', sans-serif;
    color: var(--text-main-color);
    margin-bottom: 0;
    font-weight: 600;
}

.save-button {
    @include padding-horizontal(40px);
}

.checkbox {
    float: right;
}

.close-button-space {
    height: 60px;
}

button.close {
    font-size: 40px;
}

.chat-preview {
    width: 200px;
    font-family: 'Montserrat', sans-serif;
    .chat-preview-theme {
        font-weight: 700;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        height: 40px;
        &.chat-preview-theme-light {
            background-color: #efefef;
        }
        &.chat-preview-theme-dark {
            background-color: #303030;
        }
    }
}