<div class="d-flex overflow-auto" id="settings">
    <div class="col-4 menu pt-5 px-2">
        <nav class="nav flex-column p-0 text-end">
            <a class="nav-link nav-link-inverted" (click)="currentTab = 'account'"
                [ngClass]="{'active':currentTab === 'account'}">Account</a>
            <a class="nav-link nav-link-inverted" (click)="currentTab = 'security'"
                [ngClass]="{'active':currentTab === 'security'}">Security</a>
            <a class="nav-link nav-link-inverted" (click)="currentTab = 'display'"
                [ngClass]="{'active':currentTab === 'display'}">Display</a>
        </nav>
    </div>
    <div class="col ps-4 settings-tabs">
        <div class="d-flex flex-row-reverse close-button-space">
            <button type="button" class="close me-2" aria-label="close" (click)="closeSettings()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="col col-xl-7">
            <div id="account-tab" *ngIf="currentTab === 'account'">
                <h3 class="tab-title">Account</h3>
                <h5 class="section-title">Profile Picture</h5>
                <div class="form-group">
                    <div class="picture-edit-space d-flex">
                        <div class="col-3 text-center">
                            <img class="profile-picture profile-picture-lg" src="{{pictureLocation}}" alt="">
                        </div>
                        <div class="col m-auto">
                            <button type="button" class="btn btn-primary me-3" (click)="openPictureUploader()">Change
                                your profile picture</button>
                            <button *ngIf="session.settings.picture !== 'default-picture'" type="button"
                                class="btn btn-primary" (click)="openPictureDeleter()">Delete your
                                profile picture</button>
                            <p class="help-text text-muted">Accepted formats: JPEG, PNG. Maximum size: 2MB.</p>
                        </div>
                    </div>
                </div>
                <h5 class="section-title">Details</h5>
                <div class="form-group d-flex flex-row justify-content-between align-items-center">
                    <div class="col-3 p-0">
                        <label for="mail" class="form-label">Name</label>
                    </div>
                    <div class="col">
                        <input type="text" readonly class="form-control-plaintext" value="{{ session.name }}">
                        <p class="help-text text-muted">You cannot change your username.</p>
                    </div>
                </div>
                <div class="form-group d-flex flex-row justify-content-between align-items-center">
                    <div class="col-3 p-0">
                        <label for="mail" class="form-label">Mail address</label>
                    </div>
                    <div class="col">
                        <input type="text" readonly class="form-control-plaintext" value="{{ session.mail }}">
                        <p class="help-text text-muted">You cannot change your mail address.</p>
                    </div>
                </div>
                <hr>
                <h5 class="section-title section-title-danger">Account Deactivation</h5>
                <p class="help-text text-muted">This operation is <strong>irreversible</strong>, so proceed with
                    caution. All your data will be hard-deleted from the Berrybox database. <strong>No copy will be
                        kept.</strong></p>
                <p class="help-text text-muted">To deactivate your account, you need to close and delete all your boxes.
                </p>
                <div class="mt-2">
                    <form (ngSubmit)="deactivateAccount()" [formGroup]="deactivationForm">
                        <input type="text" class="form-control" formControlName="deactivationName"
                            name="deactivationName"
                            placeholder="Type your username here to unlock the deactivation button.">
                        <div *ngIf="deactivationName.invalid && (deactivationName.dirty || deactivationName.touched)">
                            <app-bx-alert
                                [options]="{'type': 'danger', 'icon': false, 'message': 'You have to fill this input to proceed.'}"
                                *ngIf="deactivationName.errors['required']"></app-bx-alert>
                            <app-bx-alert
                                [options]="{'type': 'danger', 'icon': false, 'message': 'The username you typed does not match your username.'}"
                                *ngIf="deactivationName.errors['mismatch']">
                            </app-bx-alert>
                        </div>
                        <button class="btn btn-danger mt-2" [disabled]="!deactivationForm.valid">Deactivate my
                            account.</button>
                    </form>
                </div>
            </div>
            <div id="display-tab" *ngIf="currentTab === 'display'">
                <h3 class="tab-title">Display</h3>
                <h5 class="section-title">Theme</h5>
                <div class="form-group d-flex g-0">
                    <div class="col-10">
                        <label for="theme" class="form-label">Dark Theme</label>
                        <p class="help-text text-muted">Toggles between light colors and dark colors for the overall
                            appearance of the application. Saved automatically.</p>
                    </div>
                    <div class="col d-flex align-items-center justify-content-end">
                        <app-slide-toggle [value]="isDarkThemeEnabled" (valueChange)="toggleDarkTheme()">
                        </app-slide-toggle>
                    </div>
                </div>
                <h5 class="section-title">Customized Colors</h5>
                <div class="form-group" *ngIf="!session.settings.isColorblind">
                    <label for="color" class="form-label">Chat Color</label>
                    <p class="help-text text-muted">Choose a color for your username in chat. Be careful, some colors
                        might be <strong>difficult to read</strong> in light or dark themes and for users with
                        <strong>color blindness</strong>.
                    </p>
                    <div class="d-flex flex-row mt-2">
                        <div class="me-4">
                            <span [style.background]="color" [cpToggle]="true" [cpDialogDisplay]="'inline'"
                                [cpAlphaChannel]="'disabled'" [cpCancelButton]="false" [(colorPicker)]="color"
                                [cpOutputFormat]="'hex'" (colorPickerChange)="onColorChange($event)"></span>
                        </div>
                        <div class="display-flex flex-column h-100 align-items-between">
                            <div class="chat-preview">
                                <p class="help-text text-muted">Preview on Light Mode:</p>
                                <div class="chat-preview-theme chat-preview-theme-light">
                                    <span [style.color]="color">{{ session.name }}</span>
                                </div>
                            </div>
                            <div class="chat-preview mt-3">
                                <p class="help-text text-muted">Preview on Dark Mode:</p>
                                <div class="chat-preview-theme chat-preview-theme-dark">
                                    <span [style.color]="color">{{ session.name }}</span>
                                </div>
                            </div>
                            <app-bx-alert *ngIf="colorSuccess"
                                [options]="{'type': 'success', 'message': 'Your color has been saved! Please refresh your browser if you do not see the change.'}">
                            </app-bx-alert>
                            <app-bx-alert *ngIf="colorWarning && !colorError"
                                [options]="{'type': 'warning', 'message': 'Watch out! This color might not be very readable in light or dark mode!'}">
                            </app-bx-alert>
                            <app-bx-alert *ngIf="colorError"
                                [options]="{'type': 'danger', 'message': 'This color is not visible enough. Please adjust your color.'}">
                            </app-bx-alert>
                        </div>
                    </div>
                    <div class="d-grid">
                        <button class="btn btn-outline-primary mt-3" (click)="saveChatColor()"
                            [disabled]="colorError">Save Color</button>
                    </div>
                </div>
                <div class="form-group d-flex g-0">
                    <div class="col-10">
                        <label for="colorblind" class="form-label">Enable Color Blindness Display</label>
                        <p class="help-text text-muted">Removes all custom user colors for your chat and resets your own
                            color. Saved automatically.</p>
                    </div>
                    <div class="col d-flex align-items-center justify-content-end">
                        <app-slide-toggle [(value)]="session.settings.isColorblind"
                            (valueChange)="toggleColorBlindMode()">
                        </app-slide-toggle>
                    </div>
                </div>
            </div>
            <div id="security-tab" *ngIf="currentTab === 'security'">
                <h3 class="tab-title">Security</h3>
                <h5 class="section-title">Password Change</h5>
                <p class="help-text text-muted">This operation is <strong>irreversible</strong>. Once you password is
                    reset, you will be disconnected.</p>
                <div class="mt-2">
                    <form [formGroup]="passwordResetForm" (ngSubmit)="resetPassword()">
                        <div class="form-group">
                            <div class="d-flex align-items-center">
                                <div class="col-3">
                                    <label for="password" class="form-label">Current password</label>
                                </div>
                                <input type="password" class="form-control input-lg" formControlName="currentPassword"
                                    placeholder="Enter your current password here" required minlength="8">
                            </div>
                            <div *ngIf="currentPassword.invalid && (currentPassword.dirty || currentPassword.touched)">
                                <app-bx-alert
                                    [options]="{'type': 'danger', 'icon': false, 'message': 'Your current password is required'}"
                                    *ngIf="currentPassword.errors['required']"></app-bx-alert>
                                <app-bx-alert
                                    [options]="{'type': 'danger', 'icon': false, 'message': 'Your password cannot have less than 8 symbols'}"
                                    *ngIf="currentPassword.errors['minlength']"></app-bx-alert>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="d-flex align-items-center">
                                <div class="col-3">
                                    <label for="password" class="form-label">New password</label>
                                </div>
                                <input type="password" class="form-control input-lg" formControlName="newPassword"
                                    placeholder="Enter your new password here" required minlength="8">
                            </div>
                            <div *ngIf="newPassword.invalid && (newPassword.dirty || newPassword.touched)">
                                <app-bx-alert
                                    [options]="{'type': 'danger', 'icon': false, 'message': 'Your new password is required'}"
                                    *ngIf="newPassword.errors['required']"></app-bx-alert>
                                <app-bx-alert
                                    [options]="{'type': 'danger', 'icon': false, 'message': 'Your password cannot have less than 8 symbols'}"
                                    *ngIf="newPassword.errors['minlength']"></app-bx-alert>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="d-flex align-items-center">
                                <div class="col-3">
                                    <label for="password" class="form-label">New password verification</label>
                                </div>
                                <input type="password" class="form-control input-lg" formControlName="newPasswordVerify"
                                    placeholder="Verify your new password here" required minlength="8">
                            </div>
                            <div
                                *ngIf="newPasswordVerify.invalid && (newPasswordVerify.dirty || newPasswordVerify.touched)">
                                <app-bx-alert
                                    [options]="{'type': 'danger', 'icon': false, 'message': 'The password verification is required'}"
                                    *ngIf="newPasswordVerify.errors['required']"></app-bx-alert>
                                <app-bx-alert
                                    [options]="{'type': 'danger', 'icon': false, 'message': 'Your password cannot have less than 8 symbols'}"
                                    *ngIf="newPasswordVerify.errors['minlength']"></app-bx-alert>
                                <app-bx-alert
                                    [options]="{'type': 'danger', 'icon': false, 'message': 'Your passwords do not match'}"
                                    *ngIf="newPasswordVerify.errors['passwordMismatch']"></app-bx-alert>
                            </div>
                        </div>
                        <app-bx-alert [options]="{'type': 'danger', 'message': errorMessage}" *ngIf="errorMessage">
                        </app-bx-alert>
                        <div class="d-grid">
                            <button type="submit" class="btn btn-default" [disabled]="!passwordResetForm.valid">Reset my
                                password</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>