@import './../../../imports.scss';
.nav-link {
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    color: $text-system-color !important;
    &:hover {
        background-color: $background-main-hover-color;
        color: white !important;
    }
    &.active {
        cursor: default;
        color: white !important;
        font-weight: 800;
        background-color: $background-main-active-color;
    }
}

#settings {
    height: calc(100vh - #{$nav-height});
}

.menu {
    background-color: $background-main-color;
}

.settings-tabs {
    background-color: $background-focus-color;
}

.tab-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
    padding-bottom: 20px;
}

.form-option{
    border-bottom: 0.5px solid rgba($text-focus-color, 0.7);
    color: $text-main-color;
    height: 60px;
    @include padding-vertical(10px);
}

// Override forms
.form-group {
    margin-bottom: 2rem;
}

label {
    font-family: 'Montserrat', sans-serif;
    color: $text-focus-color;
    text-transform: uppercase;
    font-weight: 700;
}

.save-button {
    @include padding-horizontal(40px);
}

.checkbox {
    float: right;
}