<div class="px-3">
    <form (submit)="searchYouTube()">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Type to search on YouTube..." [(ngModel)]="searchValue"
                name="searchCriterion">
            <div class="input-group-append">
                <button class="btn btn-outline-default" type="submit" [disabled]="canSearch === false">Search</button>
            </div>
        </div>
    </form>
    <div *ngIf="searchResults && !canSearch">
        <p class="text-muted text-center">Next search available in {{ searchTimeoutValue }} seconds.</p>
    </div>
</div>
<div *ngIf="searchResults" id="results">
    <div *ngIf="errorMessage" class="p-4">
        <app-bx-alert [options]="{'type': 'danger', 'message': errorMessage}"></app-bx-alert>
    </div>
    <app-video-entry *ngFor="let video of searchResults" [video]="video"
        [options]="{'submit': videosInQueue.indexOf(video.link) === -1, 'inQueue': videosInQueue.indexOf(video.link) !== -1, 'berries': this.berriesEnabled, 'forcePlay': true, 'forceNext': true}"
        [permissions]="permissions" (addedToQueue)="submitVideo($event)"></app-video-entry>
    <div class="text-center mt-3">
        <span class="m-1" style="color: var(--video-separator-color);">&#9679;</span>
    </div>
</div>