<div class="d-flex">
    <div class="col-1 menu pt-5">
        <a class="nav-link" (click)="currentTab = 'playlists'"
            [ngClass]="{'active':currentTab === 'playlists'}">Playlists</a>
        <a class="nav-link" (click)="currentTab = 'badges'" [ngClass]="{'active': currentTab === 'badges'}">Badges</a>
    </div>
    <div class="col admin-panel pt-3">
        <app-playlists-manager *ngIf="currentTab === 'playlists'"></app-playlists-manager>
        <app-badge-collection *ngIf="currentTab === 'badges'"></app-badge-collection>
    </div>
</div>