<div class="modal-header">
    <h5 class="modal-title">Select a playlist to add the video to</h5>
    <button type="button" class="close" aria-label="close" (click)="activeModal.dismiss()">
    <span aria-hidden="true">&times;</span>
</button>
</div>
<div class="modal-body">
    <form>
        <div class="form-check" *ngFor="let playlist of userPlaylists | async">
            <input type="checkbox" class="form-check-input" value="{{ playlist._id }}">
            <label for="form-check-label">{{ playlist.name }} ({{ playlist._id }})</label>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary">Add</button>
</div>