@import './../../../../imports.scss';
.modal-header,
.modal-body,
.modal-footer {
    background-color: var(--background-main-color);
    border: none;
    border-radius: 0;
}

.checkbox {
    float: right;
}

.playlists-list-item {
    cursor: pointer;
    .playlist-name {
        color: var(--text-main-color);
        font-size: 1.3rem;
        font-weight: 300;
    }
    .playlist-info {
        color: var(--text-secondary-color);
    }
    &.active {
        border-left: 5px solid $master-color;
    }
    &:hover {
        background-color: var(--background-secondary-color-alternate);
    }
}

.privacy-indicator {
    font-size: 0.8rem;
    background-color: orange;
    padding: 4px;
    border-radius: 3px;
    color: black;
}