@import './../../../../imports.scss';
.bx-chip {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: grey;
    color: white;
    border-radius: 10px;
    width: 100px;
    margin: 3px;
    img {
        height: 20px;
        padding: .2rem;
    }
}