@import './../../../../imports.scss';
.bx-chip {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 15px;
    height: 30px;
    &.bx-chip-display-full {
        width: 100px;
    }
    &.bx-chip-display-icon {
        width: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    margin: 3px;
    img {
        height: 26px;
        padding: 4px;
    }
    background-color: grey;
    color: white;
}