@import './../../../imports.scss';
.navbar {
    background-color: $master-color;
    margin-bottom: 0 !important;
    height: 60px;
    //@include fontFace('geometria', 'Geometria-Light-webfont');
    font-family: 'Montserrat', sans-serif;
}

.navbar-brand {
    color: white;
    font-size: 20px;
    font-weight: 800;
    &:hover {
        color: white;
    }
}

.nav-pp {
    @include nav-pp(35px);
}

.nav-name {
    font-size: 19px;
    font-weight: 700;
    color: $text-main-color;
}

.nav-item {
    cursor: pointer;
}

.dropdown-menu {
    background-color: $background-main-color;
    /* top: 46px !important; */
    border-radius: 0;
    border-color: $master-color;
    width: 179px;
    .dropdown-item {
        color: $text-focus-color;
        &:hover {
            background-color: $background-main-hover-color;
        }
    }
}