@import './../../../imports.scss';
.navbar {
    background-color: var(--nav-color);
    margin-bottom: 0 !important;
    height: 60px;
    //@include fontFace('geometria', 'Geometria-Light-webfont');
    font-family: 'Montserrat', sans-serif;
}

.navbar-brand {
    color: white;
    font-size: 20px;
    &:hover {
        color: white;
    }
}

.nav-pp {
    @include profile-picture-size(35px);
}

.nav-name {
    font-size: 19px;
    color: var(--text-main-color);
}

.dropdown-menu {
    background-color: var(--background-main-color);
    width: 200px;
    padding: 1rem 0 0.5rem 0;
    box-shadow: 0 0 7px 0.1rem black;
    top: 50px;
    border: none;
    .dropdown-item {
        cursor: pointer;
        color: var(--text-main-color);
        &:hover {
            background-color: var(--background-main-hover-color);
        }
    }
}

.label-beta {
    text-transform: uppercase;
    font-size: .7rem;
    background-color: #E89C0C;
    padding: .2rem .3rem;
}

.user-item {
    #nav-dropdown {
        height: 38px;
    }
    .user-pp {
        margin-right: 5px;
    }
}

.main-link {
    padding: 0.5rem 1rem;
    color: $grey-on-master-color;
    text-decoration: none;
    font-size: 1.1rem;
    &.active {
        color: white;
    }
    &:hover {
        color: white;
    }
}

.dropdown-divider {
    color: white;
}