<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-faded">
    <div class="container-fluid">
        <a routerLink="/home" class="navbar-brand" (click)="settingsHost.viewContainerRef.clear()">
            <span class="nav-pp">
                <img src="../../../assets/images/berrybox-logo-white.png" alt="" style="width:inherit;">
            </span>
            <span class="d-none d-md-inline ms-2">Berrybox</span>
        </a>
        <ul class="navbar-nav ms-auto">
            <li class="nav-item" *appAuth="true">
                <a class="btn btn-outline-primary-light" (click)="openCreateModal()">Create <span
                        class="d-none d-md-inline">a box</span></a>
            </li>
            <li class="nav-item" *appAuth="true">
                <a class="btn btn-outline-primary-light" (click)="openJoinModal()">Join <span
                        class="d-none d-md-inline">a
                        box</span></a>
            </li>
            <li class="nav-item" *appAuth="false">
                <a class="btn btn-outline-primary-light" (click)="login()">Log in</a>
            </li>
            <div class="nav-item" *appAuth="false">
                <a class="btn btn-primary" (click)="signup()">Sign up</a>
            </div>
            <li class="nav-item ms-3 user-item" ngbDropdown display="dynamic" placement="bottom-right" *appAuth="true">
                <div id="nav-dropdown" class="d-flex px-2 py-1" id="user-menu" ngbDropdownToggle>
                    <div class="d-flex justify-content-center align-items-center">
                        <img src="{{pictureLocation}}" class="profile-picture profile-picture-nav" alt="">
                    </div>
                </div>
                <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right" aria-labelledby="nav-dropdown">
                    <div class="d-flex justify-content-end pb-2 pe-4">
                        <img src="{{pictureLocation}}" class="profile-picture profile-picture-md mx-2" alt="">
                        <span class="nav-name my-auto">{{ user?.name }}</span>
                    </div>
                    <div class="text-end">
                        <div class="dropdown-divider"></div>
                        <p class="dropdown-title">Collections</p>
                        <a class="dropdown-item" routerLink="/collection/playlists"
                            (click)="settingsHost.viewContainerRef.clear()">Playlists</a>
                        <a class="dropdown-item" routerLink="/collection/badges"
                            (click)="settingsHost.viewContainerRef.clear()">Badges</a>
                        <div class="dropdown-divider"></div>
                        <p class="dropdown-title">Administration</p>
                        <a class="dropdown-item" routerLink="/admin/boxes"
                            (click)="settingsHost.viewContainerRef.clear()">Boxes</a>
                        <a class="dropdown-item" routerLink="/admin/moderation"
                            (click)="settingsHost.viewContainerRef.clear()">Moderation</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" (click)="summonSettings()">Settings</a>
                        <a (click)="logout()" class="dropdown-item">Log out</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</nav>
<ng-template settings-host></ng-template>