<nav class="navbar sticky-top navbar-toggleable-md navbar-light bg-faded">
    <a href="home" class="navbar-brand">
        <span class="nav-pp">
            <img src="../../../assets/images/berrybox-logo-white.png" alt="" style="width:inherit;">
        </span> Berrybox
    </a>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="btn btn-outline-primary-light" (click)="openCreateModal()"> Create a box</a>
            </li>
            <li class="nav-item ml-3">
                <div ngbDropdown class="d-inline-block">
                    <a id="nav-dropdown" ngbDropdownToggle>
                        <span class="nav-pp"><img src="../../../assets/images/berrybox-staff-logo.png" alt="" style="width:inherit;"></span>
                        <span class="nav-name">AngelZatch</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-left" aria-labelledby="nav-dropdown">
                        <a href="friends" class="dropdown-item">Friends</a>
                        <a href="likes" class="dropdown-item">Likes</a>
                        <a href="boxes" class="dropdown-item">Boxes</a>
                        <div class="dropdown-divider"></div>
                        <a href="settings" class="dropdown-item">Settings</a>
                        <a href="log-off" class="dropdown-item">Disconnect</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</nav>