<nav class="navbar sticky-top navbar-expand-lg navbar-toggleable-md navbar-light bg-faded">
    <a href="home" class="navbar-brand">
        <span class="nav-pp">
            <img src="../../../assets/images/berrybox-logo-white.png" alt="" style="width:inherit;">
        </span> Berrybox <span for="" class="label label-beta">Beta</span>
    </a>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item" *appAuth="true">
                <a class="btn btn-outline-primary-light" (click)="openCreateModal()"> Create a box</a>
            </li>
            <li class="nav-item" *appAuth="false">
                <a class="btn btn-outline-primary-light" (click)="login()">Log in</a>
            </li>
            <div class="nav-item" *appAuth="false">
                <a class="btn btn-outline-primary-light" (click)="signup()">Sign up</a>
            </div>
            <li class="nav-item ml-3 user-item" *appAuth="true">
                <div ngbDropdown class="d-inline-block" placement="bottom-right">
                    <div id="nav-dropdown" class="px-2 py-1" ngbDropdownToggle>
                        <span class="user-pp"><img src="../../../assets/images/berrybox-staff-logo.png" alt="" style="width:inherit;"></span>
                        <span class="nav-name">{{ user?.name }}</span>
                    </div>
                    <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right text-right" aria-labelledby="nav-dropdown">
                        <!-- <a href="friends" class="dropdown-item">Friends</a> -->
                        <!-- <a href="favorites" class="dropdown-item">Favorites</a> -->
                        <a class="dropdown-item" (click)="summonSettings()">Settings</a>
                        <a class="dropdown-item" routerLink="/admin">Administration</a>
                        <div class="dropdown-divider"></div>
                        <a (click)="logout()" class="dropdown-item">Log out</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</nav>
<ng-template settings-host></ng-template>