<div class="main-background">
    <div class="jumbotron jumbotron-home jumbotron-welcome" *appAuth="false">
        <h1 class="display-3">{{title}}</h1>
        <p class="lead">Welcome to Berrybox, your app to create virtual rooms where you can watch YouTube videos with anyone, at the same time.
        </p>
        <a href="" class="btn btn-primary btn-lg">Learn more</a>
        <a class="btn btn-outline-primary btn-lg" (click)="openCreateModal()">Get started</a>
    </div>

    <div class="container-fluid featured home-section">
        <div class="free-text text-center">
            <h1 class="display-3">Join a box</h1>
            <p class="lead">Find other people who watch the videos you like.</p>
        </div>
        <div class="row">
            <app-box-widget class="col-md-4 col-sm-3 col-lg-3 py-2" *ngFor="let box of boxes; let i = index" [box]="box" (click)="enter(box._id)"></app-box-widget>
        </div>
    </div>

    <div class="home-section how-to-container featured featured-reverse">
        <div class="free-text text-center">
            <h1 class="display-3">Watch YouTube together.</h1>
        </div>
        <div class="row no-gutters">
            <div class="col">
                <span class="glyphicon glyphicon-th-large"></span>
                <h3 class="how-to-point">Create a box</h3>
                <p class="how-to-text">Enter a name and you're set. Share the unique link and your friends will be able to enjoy the playlist with you.
                </p>
            </div>

            <div class="col">
                <span class="glyphicon glyphicon-play"></span>
                <h3 class="how-to-point">Build playlists together</h3>
                <p class="how-to-text">Submit a YouTube link and it will be queued. You have total control over the playlist.</p>
            </div>

            <div class="col">
                <span class="glyphicon glyphicon-search"></span>
                <h3 class="how-to-point">Discover</h3>
                <p class="how-to-text">If you feel adventurous, join a box. You might find videos you like.</p>
            </div>
        </div>
    </div>

    <div class="home-section container-fluid featured social-space">
        <div class="free-text">
            <h1 class="display-4">Follow us</h1>
            <p class="lead">And never miss anything!</p>
            <a href="https://twitter.com/search/?q=%23BerryboxApp" target="_blank" class="btn btn-outline-default ml-2">Twitter</a>
        </div>
    </div>

    <div class="home-section footer credits featured featured-reverse">
        <div class="col">
            <div class="text-center">
                <p>Berrybox is brought to you by <strong>AngelZatch</strong> since 2015.</p>
                <p>If you like the app, don't hesitate: <strong>share it around!</strong></p>
            </div>
        </div>
    </div>
</div>