<div class="main-background">
    <div class="jumbotron d-flex flex-column align-items-center justify-content-center jumbotron-home jumbotron-welcome"
        *appAuth="false">
        <h1 class="display-2">Watch YouTube together.</h1>
        <p class="lead">Welcome to Berrybox, your app to watch YouTube with your friends.</p>
    </div>

    <section class="container-fluid featured home-section">
        <div class="free-text text-center">
            <h2 class="display-4">Join a Community</h2>
            <p class="lead">
                Find other people who watch the videos you like or
                <button class="btn btn-outline-primary" (click)="openJoinModal()">
                    Join with an invite link
                </button>
            </p>
        </div>
        <div class="d-none d-lg-flex flex-column justify-content-center align-items-center"
            *ngIf="featuredBoxes.length > 0">
            <h3 class="featured-title">Our Picks</h3>
            <app-featured-boxes-carousel [boxes]="featuredBoxes"></app-featured-boxes-carousel>
        </div>
        <div class="featured home-section">
            <h2 class="box-list-cta">Find your Community</h2>
            <div class="row">
                <app-box-widget class="col-sm-6 col-md-6 col-lg-4 col-xl-3 py-2"
                    *ngFor="let box of boxes; let i = index" [box]="box" (click)="enter(box._id)"></app-box-widget>
            </div>
        </div>
    </section>

    <section class="home-section how-to-container featured featured-reverse">
        <div class="free-text text-center">
            <h2 class="display-3">Making the magic work</h2>
        </div>
        <div class="row no-gutters">
            <div class="col-sm-12 col-md-6 col-lg-4">
                <span class="glyphicon glyphicon-th-large"></span>
                <h3 class="how-to-point">Create a community</h3>
                <p class="how-to-text">Enter a name and you're set. Share the unique link and your friends will be able
                    to enjoy the playlist with you.
                </p>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-4">
                <span class="glyphicon glyphicon-play"></span>
                <h3 class="how-to-point">Build playlists together</h3>
                <p class="how-to-text">Submit a YouTube link and it will be queued. You have total control over the
                    playlist.</p>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-4">
                <span class="glyphicon glyphicon-search"></span>
                <h3 class="how-to-point">Discover</h3>
                <p class="how-to-text">If you feel adventurous, join a box. You might find videos you like.</p>
            </div>
        </div>
    </section>

    <section class="home-section container-fluid featured social-space">
        <div class="free-text">
            <h2 class="display-4">Follow us</h2>
            <p class="lead">And never miss anything!</p>
            <a href="https://twitter.com/search/?q=%23BerryboxApp" target="_blank"
                class="btn btn-outline-default ml-2">Twitter</a>
        </div>
    </section>

    <footer class="home-section footer credits featured featured-reverse">
        <div class="col">
            <div class="text-center">
                <p>Berrybox is brought to you by <strong>AngelZatch</strong> since 2015.</p>
                <p>If you like the app, don't hesitate: <strong>share it around!</strong></p>
                <div>
                    <a
                        href='https://play.google.com/store/apps/details?id=com.cranberry&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'>
                        <img alt='Get it on Google Play' style="width: 10%;"
                            src='https://play.google.com/intl/en_us/badges/static/images/badges/en_badge_web_generic.png' /></a>
                </div>
                <a [routerLink]="'/privacy'">Privacy Policy</a>
            </div>
        </div>
    </footer>
</div>