@import './../../../../../imports.scss';
.controller-indicator {
    background-color: var(--background-alternate-color);
    color: var(--text-main-color);
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Nunito';
    .svg-icon {
        height: 55px;
        width: 55px;
        fill: var(--text-main-color);
    }
    p {
        font-size: 1.2rem;
        font-weight: 700;
    }
    span {
        font-weight: 400;
    }
}