<div *appAuth="true">
    <div *ngIf="!selectedPlaylist">
        <div class="text-center pt-2">
            <span class="help-text">Choose a Playlist</span>
        </div>
        <div *ngFor="let playlist of playlists" class="playlists-list-item p-3" (click)="selectPlaylist(playlist)">
            <p class="playlist-name mb-0">{{ playlist.name }}</p>
        </div>
    </div>
    <div *ngIf="selectedPlaylist">
        <div class="d-flex pt-2">
            <div class="col-3">
                <button class="btn btn-outline-secondary" (click)="selectedPlaylist = null">Back</button>
            </div>
            <div class="col-6">
                <p class="text-center selected-playlist-name mb-0">{{ selectedPlaylist.name }}</p>
            </div>
            <div class="col-3"></div>
        </div>
        <div class="p-3 input-group">
            <input type="text" class="form-control" placeholder="Type to search in the playlist..." #filterInput>
            <div class="input-group-append">
                <button class="btn btn-outline-default" type="button" (click)="resetFilter()">Reset</button>
            </div>
        </div>
        <div *ngIf="selectedPlaylist.videos.length > 0; else noFavorites">
            <app-video-entry *ngFor="let video of selectedPlaylist.videos | filter:filterValue:['name', 'link']" [video]="video" [options]="{'submit': true, 'favorite': false, 'addToPlaylist': false, 'removeFromPlaylist': false}" (submit)="submitVideo($event)"></app-video-entry>
        </div>
        <ng-template #noFavorites>
            <div class="text-center no-contents">
                <svg class="mood-icon berrybox-svg-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 408 408.09" title="Add to favorites">
                    <path d="M408 129.05c0 92-135.88 225.81-185.85 271.92a26.76 26.76 0 0 1-36.3 0C135.88 354.89 0 221.05 0 129.05c0-111 115.51-188.38 200.28-62.41a4.73 4.73 0 0 0 7.72.18c96.55-130.09 200-48.87 200 62.23z"/>
                </svg>
                <h3>You have no favorites yet</h3>
                <p>You can add favorites by pressing the little heart near the video title</p>
            </div>
        </ng-template>
    </div>
</div>
<div *appAuth="false" class="text-center no-contents">
    <svg class="berrybox-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 408 408.09">
        <path class="berrybox-path" d="M408 129.05c0 92-135.88 225.81-185.85 271.92a26.76 26.76 0 0 1-36.3 0C135.88 354.89 0 221.05 0 129.05c0-111 115.51-188.38 200.28-62.41a4.73 4.73 0 0 0 7.72.18c96.55-130.09 200-48.87 200 62.23z"
        />
    </svg>
    <p>Log in or create an account to add videos to your favorites!</p>
    <button class="btn btn-default" (click)="openLoginPrompt()">Login</button>
    <button class="btn btn-default" (click)="openSignupPrompt()">Sign up</button>
</div>