<div class="main-background">
    <div class="d-flex justify-content-center py-5">
        <div class="col-6">
            <h1>Privacy Policy</h1>
            <div class="pb-5">
                <p class="help-text">Last updated: August 28, 2020</p>
            </div>
            <p>
                The policy on your personal information in Berrybox is applying to your use of the web application
                (berrybox.tv) as well as the mobile app Berrybox available on the Google Play Store, the aforementioned
                app containing a link sending to this page.
                By using this application and registering an account, you accept the contents of this Privacy Policy, as
                authorized by the law.
            </p>
            <p>
                Berrybox is an open-source software developed by AngelZatch, from France. The developers nor the product
                represent any corporation in regards to the law.
            </p>

            <h5>Personal information stored by Berrybox</h5>
            <p>
                The only personal information stored on Berrybox is your email address and an username of your choice,
                which
                you enter when you register an account. If you use the application in an anonymous way (without setting
                any
                account up), we will therefore not store any personal information whatsoever.
            </p>
            <p>
                Berrybox does not use cookies to store your active session. We use the local memory of your browser to
                store
                the following information: Your email address, your username and the list of permissions specific to the
                box you will be interacting with at the moment.
            </p>

            <h5>How your personal information are used</h5>
            <p>
                Berrybox is using your personal information in the following cases:
            </p>
            <ul>
                <li>When you authentify yourself, we will verify that your email address & username are correct</li>
                <li>When you reset your password, we will send an email to the email address you gave us containing a
                    link
                    to the application to safely enter a new password
                </li>
                <li>When interacting with other users, we will only display your username.</li>
            </ul>
            <p>Your personal information will <strong>not be used in any other context.</strong></p>
            <p>
                Berrybox is a free app with no purchases. It will always stay fre. As such, we will never have to share
                your personal information with any fiscal authorities.
            </p>
            <p>
                We will also never share your personal information with any third-party services. Berrybox is maintained
                entirely by AngelZatch, and hosted on DigitalOcean's clusters. DigitalOcean garanties in their own
                privacy policy that they will not access any private data stored in any client servers in their
                datacenters.
            </p>

            <h5>Data security and conservation</h5>
            <p>
                Your password is hashed by a Blowfish cypher method and is stored as this format in our database. As
                such,
                Berrybox will never know your true password and will never be able to access your account.
            </p>
            <p>
                All exchanges between the client apps and the server are enrypted by the HTTPs protocol. Furthermore, we
                will never display your email address to any user. You are solely responsible of the confidentiality
                of your password, and as such, of your account.
            </p>
            <p>
                We will keep the data pertaining to your Berrybox account as long as necessary to satisfy this Privacy
                Policy and ensure that you can keep using our services safely. Once you delete your account, we will
                not keep <strong>any copy</strong> on our databases, so in the case you require a copy of your data,
                please do so before deleting your account.
            </p>

            <h5>User rights</h5>
            <p>
                According to the RGPD laws in effect in the European Economic Area ("EEA"), all european residents have
                the rights to access a copy of the personal informations we store, update those they see obsolete or
                wrong and deletion of any and all data we store on them. As such, you can at any moment send an email
                to <a href="mailto:privacy@berrybox.tv">privacy@berrybox.tv</a> to request a copy of your data. If you
                want to close your account, go to your
                Settings panel, in the "Account" tab.
            </p>
            <p>
                You can still require a copy of your data if you are not a resident of the EEA.
            </p>

            <h5>Updates pertaining to this Privacy Policy</h5>
            <p>
                Berrybox might change, update, add or delete parts of this Privacy Policy to reflect the update of its
                services or changes to the laws. In the event of an update, the home page will be updated with a message
                alerting users of incoming changes and when they will apply. <strong>We will not notify you of changes
                    by email.</strong>
            </p>

            <h5>Contact</h5>
            <p>
                All the code of all the applications are freely accessible on <a
                    href="https://github.com/TeamBerry">GitHub</a>, and all modifications will be peer-reviewed before
                being implemented.
            </p>
            <p>
                If you have questions regarding this Privacy Policy or your account, please send an email to
                <a href="mailto:privacy@berrybox.tv">privacy@berrybox.tv</a>
            </p>
        </div>
    </div>
</div>