@import './../../../../../imports.scss';
.btn {
    cursor: default;
}

// Chat
.system-message {
    color: $text-system-color;
    .message-author {
        color: $master-color;
    }
    .message-contents {
        font-style: italic;
    }
}

.message {
    margin-bottom: 0;
    padding: 4px 0;
}

.message:nth-child(even) {
    background-color: lighten($background-focus-color, 5%);
}

.message-time {
    color: $text-system-color;
}

.message-author {
    // &:hover {
    //     text-decoration: underline;
    // }
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    padding: 0 5px;
}

.bot-icon {
    font-size: 0.7rem;
    background-color: $master-color;
    padding: .2rem;
    color: white;
    font-weight: 700;
    border-radius: .3rem;
}