@import './../../../../../imports.scss';
.btn {
    cursor: default;
}

// Chat

.system-message {
    font-style: italic;
    color: $system-color;
}

.message {
    margin-bottom: 0;
    padding: 4px 0;
}

.message:nth-child(even) {
    background-color: darken($secondary-background, 5%);
}

.message-time {
    color: $system-color;
}

.message-author {
    &:hover {
        text-decoration: underline;
    }
}