<p *ngFor="let message of messages; let i = index" class="message px-3" [ngClass]="{'system-message': message.source === 'system' || message.source === 'bot'}">
    <span class="message-time" title="{{message.time}}" *ngIf="message.source !== 'system'">{{ message.time | date: 'HH:mm' }}</span>
    <span class="message-author author-linkback" [ngStyle]="{'color': '#'+message.author_color}">{{ message.author?.name || message.author }}</span>
    <span *ngIf="message.source === 'bot'" class="message-author">Berrybot <span class="bot-icon" *ngIf="message.source === 'bot'">BOT</span></span>
    <span class="message-contents">{{message.contents}}</span>
    <br>
</p>