@import './../../../../../imports.scss';
img {
    height: 118px;
}

.box-card {
    border: 1px solid lighten($master-color, 10%);
    @include margin-vertical(.7rem);
    color: var(--text-main-color);
    border-radius: .3rem;
    height: 120px;
    &.inactive {
        background: repeating-linear-gradient( 45deg, transparent, transparent 10px, var(--background-secondary-color) 10px, var(--background-secondary-color) 20px), linear-gradient( to bottom, var(--background-main-hover-color), var(--background-main-active-color))
    }
}

.box-info {
    padding: 1rem;
}

.box-name {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4rem;
    color: var(--text-main-color);
}

.actions-icon {
    height: 40%;
}

.box-status {
    &.status-closed {
        background-color: $danger-color;
    }
}

#edit-icon {
    font-size: 1.4em;
}