<div class="box-card d-flex" [ngClass]="{'inactive': box.open === false}">
    <div>
        <img *ngIf="currentVideo" src="https://i.ytimg.com/vi/{{ currentVideo?.video?.link }}/hqdefault.jpg" alt="">
        <img *ngIf="!currentVideo" src="assets/images/berrybox-logo-master.png" alt="" class="no-playing">
    </div>
    <div class="col d-flex pr-0">
        <div class="col box-info">
            <a class="box-name" href="box/{{ box?._id }}">{{ box?.name }}</a>
            <div class="box-details pl-0">
                <p class="box-lang">{{ box?.lang }} | {{ box?.description || 'No description' }}</p>
                <span *ngIf="!box.open"><strong>This box is closed. If left inactive, it will be destroyed on {{ box.updatedAt | boxDeletionEstimationPipe | date }}</strong></span>
                <div class="modes d-flex pb-2">
                    <div class="col-2 box-option" *ngIf="box?.options?.random === true" ngbTooltip="The next video will be picked at random from the upcoming pool." placement="top">
                        Random
                    </div>
                    <div class="col-2 box-option" *ngIf="box?.options?.loop === true" ngbTooltip="The system will automatically requeue old videos." placement="top">
                        Loop
                    </div>
                </div>
            </div>
        </div>
        <div class="col-1 h-100 p-0" ngbDropdown ngbTooltip="Options">
            <div ngbDropdownToggle class="h-100 box-option-button">
                <img class="actions-icon" alt=""
                style="height: 30px; width: 30px;">
            </div>
            <div ngbDropdownMenu>
                <button ngbDropdownItem (click)="openCreateModal(box)">
                    <img alt="" class="bx-dropdown-icon edit-icon">
                    <span>Edit</span>
                </button>
                <button ngbDropdownItem (click)="toggleBoxState(box)">
                    <img alt="" class="bx-dropdown-icon active-icon">
                    <span>{{ box.open ? 'Close': 'Open' }}</span>
                </button>
                <button ngbDropdownItem (click)="deleteBox(box)" *ngIf="!box.open">
                    <img alt="" class="bx-dropdown-icon trash-icon">
                    <span>Delete</span>
                </button>
            </div>
        </div>
    </div>
</div>