<div class="container-fluid">
    <div class="page-title">
        <h1 class="display-3">Your likes</h1>
        <p class="help-block">Manage your likes from this page. On a box, you will be able to quick send them.</p>
    </div>

    <div class="container">
        <div class="card-deck">
            <div class="card card-like" *ngFor="let video of likes; let i = index">
                <img src="http://i.ytimg.com/vi/{{video.link}}/hqdefault.jpg" alt="{{video.video_name}}" class="card-img-top">
                <div class="card-block">
                    <h6 class="card-title">
                        <a href="https://youtube.com/watch?v={{video.link}}" title="{{video.video_name}}" target="_blank">{{ video.video_name }}</a>
                    </h6>
                </div>
                <div class="card-footer">
                    <button class="btn btn-primary btn-block" (click)="removeVote(video.vote_id)">Remove</button>
                </div>
            </div>
        </div>
    </div>

</div>