<div class="playlist-entry no-gutters p-0">
    <div class="entry-info d-flex">
        <div class="entry-image-container h-100">
            <img src="http://img.youtube.com/vi/{{ video?.link }}/0.jpg" alt="{{ video?.name }}" class="entry-image h-100 float-left">
        </div>
        <div class="entry-details m-auto col pr-0">
            <p class="song-list-line">
                <a href="https://youtube.com/watch?v={{ video?.link }}" title="{{ video?.name }}">{{ video?.name }}</a>
            </p>
            <p class="help-text">
                {{ video?.duration | duration }}
            </p>
        </div>
        <div class="col-2 m-auto text-center h-100 d-flex">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 408 408.09">
                <path d="M408 129.05c0 92-135.88 225.81-185.85 271.92a26.76 26.76 0 0 1-36.3 0C135.88 354.89 0 221.05 0 129.05c0-111 115.51-188.38 200.28-62.41a4.73 4.73 0 0 0 7.72.18c96.55-130.09 200-48.87 200 62.23z"/>
              </svg>
        </div>
    </div>
</div>