@import './../../../../../imports.scss';
.acl-manager {
    height: 86.8vh;
    width: 100%;
    background-color: var(--background-secondary-color);
}

.acl-configurator {
    display: flex;
    height: 65%;
    overflow: auto;
    margin-bottom: 20px;
}