<nav class="navbar navbar-static-top navbar-fixed-top">
    <div class="container">
        <div class="visible-sm visible-md visible-lg">
            <div class="navbar-header">
                <a href="" class="navbar-brand">
                    <span class="nav-pp">
                        <img src="" alt="" style="width:inherit;">
                    </span> Berrybox
                </a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="create" class="nav-element"></a>
                </li>
                <li><span class="nav-element separator">|</span></li>
                <li>
                    <a href="follow" class="nav-element">
                        <span class="glyphicon glyphicon-heart"></span> Your follows
                    </a>
                </li>
                <li class="nav-element-picture">
                    <span class="nav-pp">
                    <img src="" alt="" style="width:inherit;" class="nav-pp">
                  </span>
                    <span class="nav-name">AngelZatch</span>
                </li>
            </ul>
        </div>
    </div>
</nav>