<ngb-tabset type="pills" class="nav-fill" id="chat-widget-menu">
    <ngb-tab>
        <ng-template ngbTabTitle>Chat</ng-template>
        <ng-template ngbTabContent>
            <div class="box-side-panel" id="body-chat">
                <p *ngFor="let message of messages; let i = index" class="message">
                    <span class="message-time" title="{{message.time}}">{{message.time | date: 'HH:mm'}}</span>
                    <a href="">
            <span class="message-author author-linkback">{{message.author}}</span>
        </a> {{message.contents}}
                    <br>
                </p>
            </div>
        </ng-template>
    </ngb-tab>
    <ngb-tab>
        <ng-template ngbTabTitle>Queue</ng-template>
        <ng-template ngbTabContent>
            <div class="box-side-panel">
                <div class="playlist-actions row">
                    <div class="col">
                        <button class="btn btn-default btn-admin btn-block">Next</button>
                    </div>
                    <div class="col">
                        <button class="btn btn-default btn-admin btn-block">Shuffle</button>
                    </div>
                </div>
                <div *ngFor="let video of playlist; let i = index; let first = first">
                    <p class="list-rank" *ngIf="(video.video_status == 0 || video.video_status == 3) && !first">UPCOMING: </p>
                    <p class="list-rank rank-playing" *ngIf="video.video_status == 1">NOW PLAYING: </p>
                    <p class="list-rank" *ngIf="video.video_status == 2 && playlist[i - 1].video_status != 2 && !first">PLAYED: </p>
                    <div class="row playlist-entry" [ngClass]="{'song-playing': video.video_status == 1,
                                'song-played': video.video_status == 2,
                                'song-ignored': video.video_status == 3}">
                        <div class="ngClass" [ngClass]="{'col-9': video.video_status != 1 && video.video_status != 2 && !first,
                                            'col-10': video.video_status == 0 && first,
                                            'col-11': video.video_status == 2,
                                            'col-12': video.video_status == 1}">
                            <p class="song-list-line">
                                <a href="https://youtube.com/watch?v={{video.link}}" title="{{video.video_name}}">{{video.video_name}}</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </ngb-tab>
    <ngb-tab>
        <ng-template ngbTabTitle>Users</ng-template>
        <ng-template ngbTabContent></ng-template>
    </ngb-tab>
    <ngb-tab>
        <ng-template ngbTabTitle>Options</ng-template>
        <ng-template ngbTabContent></ng-template>
    </ngb-tab>
</ngb-tabset>