<div class="row no-gutters">
    <div class="col-11">
        <div class="panel-title text-center">{{activePanel}}</div>
        <div class="box-side-panel" *ngIf="activePanel == 'chat'">
            <p *ngFor="let message of messages; let i = index" class="message">
                <span class="message-time" title="{{message.time}}">{{message.time | date: 'HH:mm'}}</span>
                <a href="">
            <span class="message-author author-linkback"
            [ngStyle]="{'color': '#'+message.author_color}">{{message.author}}</span>
        </a> {{message.contents}}
                <br>
            </p>
        </div>
        <div class="box-side-panel" id="queue-panel" *ngIf="activePanel == 'queue'">
            <div class="playlist-actions row">
                <div class="col">
                    <button class="btn btn-default btn-admin btn-block">Next</button>
                </div>
                <div class="col">
                    <button class="btn btn-default btn-admin btn-block">Shuffle</button>
                </div>
            </div>
            <div *ngFor="let video of playlist; let i = index; let first = first">
                <p class="list-rank" *ngIf="(video.video_status == 0 || video.video_status == 3) && first">UPCOMING: </p>
                <p class="list-rank rank-playing" *ngIf="video.video_status == 1">NOW PLAYING: </p>
                <p class="list-rank" *ngIf="video.video_status == 2 && playlist[i - 1].video_status != 2 && !first">PLAYED: </p>
                <div class="row playlist-entry no-gutters" [ngClass]="{'song-playing': video.video_status == 1,
                                'song-played': video.video_status == 2,
                                'song-ignored': video.video_status == 3}">
                    <div class="ngClass" [ngClass]="{'col-9': video.video_status != 1 && video.video_status != 2 && !first,
                                            'col-10': video.video_status == 0 && first,
                                            'col-11': video.video_status == 2,
                                            'col-12': video.video_status == 1}">
                        <p class="song-list-line">
                            <a href="https://youtube.com/watch?v={{video.link}}" title="{{video.video_name}}">{{video.video_name}}</a>
                        </p>
                    </div>
                    <div class="col-1" *ngIf="(video.video_status == 0 || video.video_status == 3) && !first" title="Play later" (click)="swap(video, 'up')">
                        <svg class="berrybox-svg-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 290 448.37">
                            <polygon points="145 0 0 201.87 290 201.87 145 0" />
                            <rect width="307.91" height="121.43" x="96.05" y="252.66" transform="rotate(-90 188.02 356.39)" />
                        </svg>
                    </div>
                    <div class="col-1" *ngIf="(video.video_status == 0 || video.video_status == 3) && playlist[i + 1].video_status != 1" title="Play sooner" (click)="swap(video, 'down')">
                        <svg class="berrybox-svg-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 290 448.37">
                            <polygon points="145 448.37 290 246.5 0 246.5 145 448.37" />
                            <rect width="307.91" height="121.43" x="93.05" y="127.2" transform="rotate(90 212.98 119.93)" />
                        </svg>
                    </div>
                    <div class="col-1" *ngIf="(video.video_status == 0 || video.video_status == 3) && playlist[i + 1].video_status == 1" title="Play now" (click)="emitSkip()">
                        <svg class="berrybox-svg-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 290 448.37">
                            <polygon points="145 448.37 290 246.5 0 246.5 145 448.37" />
                            <rect width="307.91" height="121.43" x="93.05" y="127.2" transform="rotate(90 212.98 119.93)" />
                        </svg>
                    </div>
                    <div class="col-1" *ngIf="video.video_status == 2" title="Queue again">
                        <svg class="berrybox-svg-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 457.98 202.99" (click)="replayVideo(video.link)">
                            <rect width="64.36" height="121.43" y="40.78" />
                            <polygon points="457.98 101.49 316.68 0 316.68 202.99 457.98 101.49" />
                            <rect width="64.36" height="121.43" x="81.45" y="40.78" />
                            <rect width="168.34" height="121.43" x="162.89" y="40.78" />
                        </svg>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-side-panel" id="like-panel" *ngIf="activePanel == 'likes'">
            <div *ngFor="let video of likes; let i = index;">
                <p class="song-list-line">
                    <a href="https://youtube.com/watch?v={{video.link}}" title="{{video.video_name}}">{{video.video_name}}</a>
                </p>
            </div>
        </div>
        <div class="box-side-panel" *ngIf="activePanel == 'users'">

        </div>
    </div>
    <div class="col-1" id="chat-widget-menu">
        <ul class="nav flex-column">
            <li class="nav-item" [ngClass]="{'active': activePanel == 'chat'}">
                <a class="nav-link" (click)="showPanel('chat')" title="Chat">
                    <svg class="berrybox-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 434.16 360.68">
                        <path class="berrybox-path" d="M434.16 0H0v283.32h68.05l-34.87 77.36 171.63-77.36h229.35V0" />
                    </svg>
                </a>
            </li>
            <li class="nav-item" [ngClass]="{'active': activePanel == 'queue'}">
                <a class="nav-link" (click)="showPanel('queue')" title="Queue">
                    <svg class="berrybox-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 475.55 428.13">
                        <path class="berrybox-path" d="M475.56 307.09L293.21 201.81v210.56l182.35-105.28M0 0h456.59v56.04H0zM0 93.02h456.59v56.04H0zM0 186.04h269.23v56.04H0zM0 279.07h269.23v56.04H0zM0 372.09h269.23v56.04H0z"
                        />
                    </svg>
                </a>
            </li>
            <li class="nav-item" [ngClass]="{'active': activePanel == 'likes'}">
                <a class="nav-link" (click)="showPanel('likes')" title="Likes">
                    <svg class="berrybox-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 456.59 436.62">
                        <path class="berrybox-path" d="M0 0h456.59v56.04H0zM0 93.02h456.59v56.04H0zM0 186.04h184.3v56.04H0zM0 279.07h184.3v56.04H0zM0 372.09h184.3v56.04H0zM456.6 259.5c0 58.37-86.26 143.34-118 172.62a17 17 0 0 1-23 0c-31.72-29.27-118-114.24-118-172.62 0-70.48 73.33-119.6 127.14-39.64a3 3 0 0 0 4.9.12c61.28-82.58 126.96-31.03 126.96 39.52z"
                        />
                    </svg>
                </a>
            </li>
            <li class="nav-item" [ngClass]="{'active': activePanel == 'users'}">
                <a class="nav-link" (click)="showPanel('users')" title="Users">
                    <svg class="berrybox-svg" style="height: 1.5em;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 334.45 460">
                        <path class="berrybox-path" d="M271.41 190.25a63 63 0 0 0-63 63v190.17h126.04V253.28a63 63 0 0 0-63.04-63.03z" />
                        <circle class="berrybox-path" cx="268.81" cy="129.3" r="52.62" />
                        <path class="berrybox-path" d="M66.15 185.75A66.15 66.15 0 0 0 0 251.9v199.52h132.29V251.89a66.15 66.15 0 0 0-66.14-66.14z"
                        />
                        <circle class="berrybox-path" cx="63.41" cy="121.79" r="55.21" />
                        <path class="berrybox-path" d="M170.23 145.13a78.39 78.39 0 0 0-78.39 78.39V460h156.78V223.52a78.39 78.39 0 0 0-78.39-78.39z"
                        />
                        <circle class="berrybox-path" cx="166.98" cy="65.44" r="65.44" />
                    </svg>
                </a>
            </li>
        </ul>
    </div>
</div>
<div id="input-space">
    <span class="input-mode" id="span-default-mode" *ngIf="!hasLink && !hasCommand">DEFAULT MODE</span>
    <span class="input-mode" id="span-command-mode" *ngIf="!hasLink && hasCommand">COMMAND MODE</span>
    <span class="input-mode" id="span-youtube-mode" *ngIf="hasLink && !hasCommand">YOUTUBE MODE</span>
    <textarea name="" id="" cols="30" rows="2" class="form-control chatbox" [ngClass]="{'chatbox-link': hasLink, 'chatbox-command': hasCommand}"
        placeholder="Type a message or paste a YouTube link" [(ngModel)]="contents" (keydown.enter)="post($event)" (keyup)="watchContents()"></textarea>
    <div class="chat-actions row">
        <!--<div class="col-2">
            <button class="btn btn-primary">Options</button>
        </div>
        <div class="col-2">
            <button class="btn btn-default">Emotes</button>
        </div>-->
        <div class="col-12">
            <button *ngIf="!hasLink && !hasCommand" class="btn btn-default" style="float:right;" (click)="send()">
                <svg class="berrybox-svg-button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 434.16 360.68">
                        <path d="M434.16 0H0v283.32h68.05l-34.87 77.36 171.63-77.36h229.35V0" />
                    </svg>
                Send message
                </button>
            <button *ngIf="hasLink && !hasCommand" class="btn btn-default" id="link-button" style="float:right;">
                <svg class="berrybox-svg-button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 457.98 202.99">
<rect width="64.36" height="121.43" y="40.78""/>
<polygon"/>
<rect width="64.36" height="121.43" x="81.45" y="40.78""/>
<rect width="168.34" height="121.43" x="162.89" y="40.78""/>
</svg>
                Submit video</button>
            <button *ngIf="!hasLink && hasCommand" class="btn btn-default" id="command-button" style="float:right;">Use command</button>
        </div>
    </div>
</div>