<button class="btn btn-{{computedOptions.context}} btn-icon"
    [ngbTooltip]="computedOptions.textDisplay === 'tooltip' ? buttonText : ''">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 475.55 428.13" *ngIf="computedOptions.type === 'play'">
        <path
            d="M475.56 307.09L293.21 201.81v210.56l182.35-105.28M0 0h456.59v56.04H0zM0 93.02h456.59v56.04H0zM0 186.04h269.23v56.04H0zM0 279.07h269.23v56.04H0zM0 372.09h269.23v56.04H0z" />
    </svg>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 500" *ngIf="computedOptions.type === 'replay'">
        <defs>
            <style>
                .fb3aefa7-36e9-4ea6-a3df-1fcede199f94 {
                    fill: none;
                    stroke: #fff;
                    stroke-miterlimit: 10;
                    stroke-width: 70px;
                }

                .b46f9459-1c33-418f-8ada-8f8c261a15d6 {
                    fill: #fff;
                }
            </style>
        </defs>
        <g id="b9ee2a4a-943b-4f16-91d8-a19a44b7e7da" data-name="replay-icon">
            <path class="fb3aefa7-36e9-4ea6-a3df-1fcede199f94" d="M311.08,110.47a167.47,167.47,0,1,0,81.41,216.62" />
            <polygon class="b46f9459-1c33-418f-8ada-8f8c261a15d6"
                points="441.63 169.65 323 3.93 238.79 189.53 441.63 169.65" />
        </g>
    </svg>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 500" *ngIf="computedOptions.type === 'skip'">
        <defs>
            <style>
                .a48c7219-a21d-4edb-b4b0-c0abee0ef230 {
                    fill: #fff;
                }
            </style>
        </defs>
        <g id="be955d33-f4d6-43f9-ae92-2327b844cb4b" data-name="skip-icon">
            <polygon class="a48c7219-a21d-4edb-b4b0-c0abee0ef230"
                points="375.32 255.74 41.14 62.81 41.14 448.68 375.32 255.74" />
            <rect class="a48c7219-a21d-4edb-b4b0-c0abee0ef230" x="375.32" y="62.81" width="96.36" height="385.88" />
        </g>
    </svg>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 500" *ngIf="computedOptions.type === 'cancel'">
        <defs>
            <style>
                .a090726c-a38f-4c37-99c8-95cc47e0621a,
                .ed4ae1f6-bbf5-410f-9f6e-742958b1ac06 {
                    fill: none;
                    stroke: #fff;
                    stroke-miterlimit: 10;
                }

                .a090726c-a38f-4c37-99c8-95cc47e0621a {
                    stroke-width: 33px;
                }

                .fb2eb5f9-051b-43be-9d14-86287c00a09a {
                    fill: #fff;
                }

                .ed4ae1f6-bbf5-410f-9f6e-742958b1ac06 {
                    stroke-width: 20px;
                }
            </style>
        </defs>
        <g id="a7932ac1-0d2a-4242-be49-fd91fee8ffbc" data-name="trash-icon">
            <path class="a090726c-a38f-4c37-99c8-95cc47e0621a"
                d="M368,466.2H147.44c-11.72,0-21.22-12.52-21.22-28L88.12,102.16h334.2L389.23,438.24C389.23,453.68,379.73,466.2,368,466.2Z" />
            <path class="fb2eb5f9-051b-43be-9d14-86287c00a09a"
                d="M60.7,48.31h389a8.59,8.59,0,0,1,8.59,8.59V80.14a0,0,0,0,1,0,0H52.12a0,0,0,0,1,0,0V56.89A8.59,8.59,0,0,1,60.7,48.31Z" />
            <rect class="fb2eb5f9-051b-43be-9d14-86287c00a09a" x="189.07" y="22.02" width="132.29" height="52.57"
                rx="20.87" />
            <rect class="ed4ae1f6-bbf5-410f-9f6e-742958b1ac06" x="250.88" y="164.18" width="8.68" height="240"
                rx="4.34" />
            <rect class="ed4ae1f6-bbf5-410f-9f6e-742958b1ac06" x="188.04" y="164.76" width="8.68" height="240" rx="4.34"
                transform="translate(-26.71 20) rotate(-5.56)" />
            <rect class="ed4ae1f6-bbf5-410f-9f6e-742958b1ac06" x="312.42" y="164.76" width="8.68" height="240" rx="4.34"
                transform="translate(37.61 -36.96) rotate(7.1)" />
        </g>
    </svg>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 500" *ngIf="computedOptions.type === 'addToLibrary'">
        <defs>
            <style>
                .cls-1 {
                    fill: #fff;
                }
            </style>
        </defs>
        <title>add-to-library-icon</title>
        <g id="add-to-library-icon">
            <rect class="cls-1" x="21.7" y="32.51" width="456.59" height="56.04" />
            <rect class="cls-1" x="21.7" y="125.53" width="456.59" height="56.04" />
            <rect class="cls-1" x="21.7" y="218.55" width="184.3" height="56.04" />
            <rect class="cls-1" x="21.7" y="311.57" width="184.3" height="56.04" />
            <rect class="cls-1" x="21.7" y="404.59" width="184.3" height="56.04" />
            <rect class="cls-1" x="237.35" y="316.28" width="228.3" height="45.21" />
            <rect class="cls-1" x="237.35" y="316.28" width="228.3" height="45.21"
                transform="translate(690.39 -12.61) rotate(90)" />
        </g>
    </svg>
    <svg class="btn-primary-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 500"
        *ngIf="computedOptions.type === 'preselect'">
        <defs>
            <style>
                .b3a00f4d-734e-4de3-ab69-4cd51c4b1030 {
                    fill: #fff;
                }
            </style>
        </defs>
        <g id="e8c2dfe3-0592-440d-aedf-947051c38ae1" data-name="fast-forward-icon">
            <polygon class="b3a00f4d-734e-4de3-ab69-4cd51c4b1030"
                points="261.49 250 39.58 121.88 39.58 378.12 261.49 250" />
            <polygon class="b3a00f4d-734e-4de3-ab69-4cd51c4b1030"
                points="483.4 250 261.49 121.88 261.49 378.12 483.4 250" />
        </g>
    </svg>
    <span *ngIf="computedOptions.textDisplay === 'button'" class="btn-text ml-2">{{ buttonText }}</span>
</button>