<button class="btn btn-{{computedOptions.context}} btn-icon"
    [ngbTooltip]="computedOptions.textDisplay === 'tooltip' ? buttonText : ''" container="body">
    <svg-icon src="../../../../assets/images/icons/settings-icon.svg" *ngIf="computedOptions.type === 'settings'"
        [svgClass]="'settings-icon'">
    </svg-icon>
    <svg-icon src="../../../../assets/images/icons/play-later-icon.svg" *ngIf="computedOptions.type === 'play'"
        [svgClass]="'img-icon'">
    </svg-icon>
    <svg-icon src="../../../../assets/images/icons/replay-icon.svg" *ngIf="computedOptions.type === 'replay'"
        [svgClass]="'replay-icon'">
    </svg-icon>
    <svg-icon src="../../../../assets/images/icons/skip-icon.svg" *ngIf="computedOptions.type === 'skip'"
        [svgClass]="'img-icon'">
    </svg-icon>
    <img src="../../../../assets/images/icons/trash-icon.svg" alt="" *ngIf="computedOptions.type === 'cancel'"
        class="img-icon">
    <svg-icon src="../../../../assets/images/icons/add-to-library-icon.svg"
        *ngIf="computedOptions.type === 'addToLibrary'" [svgClass]="'img-icon'">
    </svg-icon>
    <svg-icon src="../../../../assets/images/icons/play-next-icon.svg" *ngIf="computedOptions.type === 'forceNext'"
        [svgClass]="'img-icon'">
    </svg-icon>
    <svg-icon src="../../../../assets/images/icons/play-now-icon.svg" *ngIf="computedOptions.type === 'forcePlay'"
        [svgClass]="'img-icon'">
    </svg-icon>
    <svg-icon src="../../../../assets/images/icons/invite-icon.svg" *ngIf="computedOptions.type === 'inviteUser'"
        [svgClass]="'img-icon'">
    </svg-icon>
    <svg-icon src="../../../../assets/images/icons/resolve-issue-icon.svg" *ngIf="computedOptions.type === 'resolve'"
        [svgClass]="'success-icon'"></svg-icon>
    <span *ngIf="computedOptions.textDisplay === 'button'" class="btn-text d-none d-md-inline ms-2 me-1">{{ buttonText
        }}</span>
</button>