@import './../../../../imports.scss';
.btn-queue {
    color: var(--text-main-color);
    &:hover {
        background-color: rgba(black, 0.2);
    }
    &:active {
        background-color: rgba(black, 0.3);
    }
}

.btn-icon {
    padding: 0.25em;
    border-width: 1px;
    border-style: solid;
}

.img-icon {
    height: 19px;
    width: 25px;
    fill: var(--text-main-color);
}

.trash-icon {
    height: 19px;
    width: 25px;
    .a56e4c31-dc4f-4dee-98b7-3e4aa62d62ee,.fdca5d17-2fd9-404e-aa8c-935afbc79839{
        fill: var(--text-main-color);
    }
    .a56e4c31-dc4f-4dee-98b7-3e4aa62d62ee{
        stroke:var(--text-main-color);
        stroke-miterlimit:10;
        stroke-width:33px;
    }
}

.replay-icon {
    height: 19px;
    width: 25px;
    .abfe4fea-2fc0-453a-aeba-431b9215adf3{
        fill:none;
        stroke:var(--text-main-color);
        stroke-linecap:round;
        stroke-miterlimit:10;
        stroke-width:70px;
    }
    .f57eb0fe-a54e-49fe-a1ff-e3eee3c733c1{
        fill:var(--text-main-color);
    }
}

.settings-icon {
    height: 19px;
    width: 25px;
    .cls-1{
        fill:none;
        stroke-width:50px;
    }
    .cls-1,.cls-2{
        stroke: var(--text-main-color);
        stroke-miterlimit:10;
    }
    .cls-2{
        fill: var(--text-main-color);
        stroke-width:10px;
    }
}

.success-icon {
    height: 24px;
    width: 24px;
    .cls-1 {
        fill: var(--success-color);
    }
}