@import './../../../../imports.scss';
.btn-icon {
    padding: 0.25em;
    border-width: 1px;
    border-style: solid;
    .img-icon {
        height: 19px;
        width: 25px;
    }
}

.img-icon {
    height: 19px;
    width: 25px;
    fill: var(--text-main-color);
}