<div class="message px-3"
    [ngClass]="{'system-message': message.source === 'system', 'feedback-message': message.source === 'feedback'}"
    [class]="typeStyle">
    <span class="message-time" ngbTooltip="{{ message.time }}"
        container="body">{{ message.time | date: 'HH:mm' }}</span>
    <span *ngIf="message.author">
        <span class="message-author" [ngClass]="{'message-author-classic': session.settings.isColorblind}"
            [style.color]="message.author.color" [hidden]="message.source !== 'human'">{{ message.author.name }}</span>
    </span>
    <span class="message-contents" [innerHTML]="message.contents"></span>
    <br>
    <div [hidden]="message.source !== 'feedback'">
        <span class="feedback-alert">Only you can see this</span>
    </div>
</div>