@import './../../../../../imports.scss';
// Chat
.system-message,
.feedback-message {
    color: var(--text-system-color);
    border-left-width: 3px;
    border-left-style: solid;
    padding-left: 13px !important;
}

.system-message {
    border-left-color: $master-color;
    .message-contents {
        color: var(--text-system-color);
    }
}

.context-success {
    border-left-color: var(--success-color);
}

.context-error {
    border-left-color: var(--danger-color);
}

.context-warning {
    border-left-color: var(--warning-color);
}

.context-info {
    border-left-color: $master-color;
}

.context-berries {
    border-left-color: $berry-color;
    color: $berry-color;
}

.feedback-message {
    color: var(--text-main-color);
    &.context-success {
        background-color: rgba(var(--success-color-rgb), 0.075)
    }
    &.context-error {
        background-color: rgba(var(--danger-color-rgb), 0.075)
    }
    &.context-warning {
        background-color: rgba(var(--warning-color-rgb), 0.075)
    }
    &.context-info {
        background-color: transparentize($master-color, 0.925)
    }
}

.feedback-alert {
    font-size: x-small;
    color: var(--text-system-color);
}

.message-contents {
    white-space: pre-wrap;
    word-wrap: break-word;
    padding-left: 5px;
    color: var(--text-main-color);
}

.message {
    margin-bottom: 4px;
    padding: 4px 0;
}

.message-time {
    color: var(--text-system-color);
}

.message-author {
    // &:hover {
    //     text-decoration: underline;
    // }
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    padding-left: 5px;
    &.message-author-classic {
        color: var(--text-main-color) !important;
    }
}

.bot-icon {
    font-size: 0.7rem;
    background-color: $master-color;
    padding: .2rem;
    color: white;
    font-weight: 700;
    border-radius: .3rem;
}

.highlight {
    background-color: var(--text-main-color);
    color: var(--background-main-color);
    padding: 2px;
}