@import './../../../../../imports.scss';
// Chat
.system-message, .feedback-message {
    color: var(--text-system-color);
    border-left-width: 3px;
    border-left-style: solid;
    padding-left: 13px !important;
}

.system-message {
    border-left-color: $master-color;
    font-style: italic;
}

.feedback-message {
    color: var(--text-main-color);
    &.feedback-message-success {
        border-left-color: var(--success-color);
        background-color: rgba(var(--success-color-rgb), 0.075)
    }
    &.feedback-message-error {
        border-left-color: var(--danger-color);
        background-color: rgba(var(--danger-color-rgb), 0.075)
    }
    &.feedback-message-warning {
        border-left-color: var(--warning-color);
        background-color: rgba(var(--warning-color-rgb), 0.075)
    }
    &.feedback-message-info {
        border-left-color: $master-color;
        background-color: transparentize($master-color, 0.925)
    }
}

.feedback-alert {
    font-size: x-small;
    color: var(--text-system-color);
}

.feedback-type {
    padding-left: 5px;
    text-transform: uppercase;
    font-weight: 700;
    &.feedback-message-success {
        color: var(--success-color);
    }
    &.feedback-message-error {
        color: var(--danger-color);
    }
    &.feedback-message-warning {
        color: var(--warning-color);
    }
    &.feedback-message-info {
        color: $master-color;
    }
}

.message-contents {
    white-space: pre-wrap;
    word-wrap: break-word;
    padding-left: 5px;
}

.message {
    margin-bottom: 4px;
    padding: 4px 0;
}

.message-time {
    color: var(--text-system-color);
}

.message-author {
    // &:hover {
    //     text-decoration: underline;
    // }
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    padding-left: 5px;
}

.bot-icon {
    font-size: 0.7rem;
    background-color: $master-color;
    padding: .2rem;
    color: white;
    font-weight: 700;
    border-radius: .3rem;
}

.highlight {
    background-color: var(--text-main-color);
    color: var(--background-main-color);
    padding: 2px;
}