.issue-icon {
    height: 20px;
    width: 20px;
    .cf0809a4-cc5c-11eb-b8bc-0242ac130003{
        fill:none;
        stroke: var(--danger-color);
        stroke-miterlimit:10;
        stroke-width:40px;
    }
    .db7a97f6-cc5c-11eb-b8bc-0242ac130003{
        fill: var(--danger-color);
    }
}