@import './../../../../../imports.scss';
.box-list {
    background-color: #202020;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    #box-list-container {
        height: inherit;
        overflow: auto;
    }
    .box-list-item {
        border-radius: 10px;
        cursor: pointer;
        .box-name {
            font-family: 'Nunito', sans-serif;
            color: var(--text-main-color);
            font-size: 1.3rem;
        }
        &.active {
            background-color: var(--background-secondary-color-alternate);
        }
        &:hover {
            background-color: var(--background-secondary-color-alternate);
        }
    }
}

.featured-indicator {
    color: var(--text-main-color);
    font-weight: 700;
    span {
        color: var(--active-color)
    }
}

.deletion-indicator {
    color: var(--text-main-color);
    font-weight: 700;
    span {
        color: var(--danger-color);
    }
}

.box-stats-banner {
    justify-content: center;
    margin-bottom: 3px;
    .box-stat {
        background-color: var(--background-main-color);
        padding: 5px;
        border-radius: 5px;
        width: 180px;
        text-align: center;
        margin: 10px;
        color: var(--text-main-color);
        .stat-title {
            font-weight: 800;
        }
    }
}

.space-title-section {
    border-bottom: 1px solid darken($main-black, 20%);
    display: flex;
    justify-content: space-between;
    padding: 10px;
    .space-title {
        text-align: center;
        color: var(--text-main-color);
        font-style: 'Nunito';
        font-size: 1rem;
        padding: 5px;
        margin-bottom: 0;
        justify-self: center;
    }
    .space-title-button {
        font-size: 0.8rem;
        display: flex;
        align-content: center;
        .img-icon {
            height: 17px;
            width: 17px;
            margin-right: 5px;
        }
    }
}


.content-space {
    background-color: var(--background-secondary-color);
}

.box-option-button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding-left: 1.875rem;
    &:hover {
        background-color: transparentize($master-hover-color, 0.8);
    }
    &:active {
        background-color: transparentize($master-active-color, 0.6);
    }
}

.actions-icon {
    height: 40%;
}

.box-status {
    &.status-closed {
        background-color: $danger-color;
    }
}

.modes {
    display: flex;
    flex-wrap: wrap;
}

.half-panel{
    height: calc(100vh - 415px);
}

.fixed-tab {
    display: flex;
    height: 100%;
    flex-direction: column;
}