@import './../../../../../imports.scss';
.box-manager {
    height: 83.5vh;
    width: 100%;
}

.box-list {
    border-right: 1px solid var(--background-secondary-color-alternate);
    background-color: var(--background-secondary-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    #box-list-container {
        height: inherit;
        overflow-y: scroll;
        overflow-x: visible;
    }
    .box-list-item {
        cursor: pointer;
        .box-name {
            font-family: 'Montserrat', sans-serif;
            color: var(--text-main-color);
            font-size: 1.3rem;
        }
        &.active {
            border-left: 5px solid $master-color;
        }
        &:hover {
            background-color: var(--background-secondary-color-alternate);
        }
    }
}

.box-stats-banner {
    display: flex;
    justify-content: center;
    .box-stat {
        background-color: var(--background-main-color);
        padding: 5px;
        border-radius: 5px;
        width: 180px;
        text-align: center;
        margin: 10px;
        color: var(--text-main-color);
        .stat-title {
            font-weight: 800;
        }
    }
}

.box-panel {
    background-color: var(--background-secondary-color);
}

.chat-space {
    border: 1px solid var(--background-secondary-color-alternate);
    height: 40%;
}

.space-title {
    text-align: center;
    color: var(--text-main-color);
    font-style: 'Montserrat';
    font-size: 1.3rem;
}

.box-card {
    border: 1px solid lighten($master-color, 10%);
    margin: .7rem;
    color: var(--text-main-color);
    border-radius: .3rem;
}

.box-info {
    padding: 1rem;
}

.box-option-button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding-left: 1.875rem;
    &:hover {
        background-color: transparentize($master-hover-color, 0.8);
    }
    &:active {
        background-color: transparentize($master-active-color, 0.6);
    }
}

.actions-icon {
    height: 40%;
}

.box-status {
    &.status-closed {
        background-color: $danger-color;
    }
}