<div class="row justify-content-center">
    <h2 class="admin-tab-title">Boxes</h2>
    <div class="d-flex box-manager">
        <div class="col-2 box-list px-0">
            <div id="box-list-container">
                <div *ngFor="let box of boxes" class="box-list-item p-3"
                    [ngClass]="{'active': box._id === selectedBox?._id}" (click)="selectBox(box._id)">
                    <div class="d-flex">
                        <div class="col px-0">
                            <div class="d-flex align-items-center">
                                <app-box-status-indicator [isOpen]="box?.open" class="mr-2"></app-box-status-indicator>
                                <a class="box-name" href="box/{{ box?._id }}">{{ box?.name }}</a>
                            </div>
                            <div class="modes">
                                <app-bx-chip [options]="{'type': 'random'}" *ngIf="box?.options?.random"></app-bx-chip>
                                <app-bx-chip [options]="{'type': 'loop'}" *ngIf="box?.options?.loop"></app-bx-chip>
                                <app-bx-chip [options]="{'type': 'no-coin'}" *ngIf="!box?.options?.berries">
                                </app-bx-chip>
                            </div>
                        </div>
                        <div class="col-1 p-0 m-auto text-center h-100 d-flex" ngbDropdown container="body">
                            <div ngbDropdownToggle>
                                <img class="actions-icon" style="height: 30px; width: 30px;">
                            </div>
                            <div ngbDropdownMenu>
                                <button ngbDropdownItem (click)="openCreateModal(box)">
                                    <img alt="" class="bx-dropdown-icon edit-icon">
                                    <span>Edit</span>
                                </button>
                                <button ngbDropdownItem (click)="toggleBoxState(box)">
                                    <img alt="" class="bx-dropdown-icon active-icon">
                                    <span>{{ box.open ? 'Close': 'Open' }}</span>
                                </button>
                                <button ngbDropdownItem (click)="deleteBox(box)" *ngIf="!box.open">
                                    <img alt="" class="bx-dropdown-icon trash-icon">
                                    <span>Delete</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="px-2">
                <button class="btn btn-primary btn-block" (click)="openCreateModal()">
                    Create a box
                </button>
            </div>
        </div>
        <div class="col box-panel px-0">
            <div class="box-stats-banner d-flex mx-2">
                <div class="box-stat" id="box-lifetime">
                    <p class="mb-0 stat-title">Life</p>
                    <span *ngIf="lifetime">{{ lifetime | duration }}</span>
                </div>
                <div class="box-stat" id="box-users">
                    <p class="mb-0 stat-title">Current Users</p>
                    <span *ngIf="users !== null">{{ users }}</span>
                </div>
                <div class="box-stat" id="box-users">
                    <p class="mb-0 stat-title">Videos</p>
                    <span>{{ selectedBox?.playlist.length }}</span>
                </div>
            </div>
            <div class="d-flex pt-1 h-100">
                <div class="col-4 pl-2 pr-1">
                    <div class="chat-space mb-2">
                        <p class="space-title">Chat</p>
                        <div class="half-panel" id="chat-panel">
                            <app-chat-tab class="fixed-tab" *ngIf="selectedBox" [boxToken]="selectedBox?._id"
                                [user]="user" style="height: 75%;"></app-chat-tab>
                            <app-chat-input [boxToken]="selectedBox?._id"
                                [options]="{'searchButton': false, 'berryCount': false}"></app-chat-input>
                        </div>
                    </div>
                    <div class="player-space mt-2">
                        <p class="space-title">Player</p>
                        <!-- <app-player #player [boxToken]="selectedBox" [video]="currentVideo" (state)="onPlayerStateChange($event)">
                        </app-player> -->
                    </div>
                </div>
                <div class="col-4 px-1">
                    <div class="playlist-space">
                        <p class="space-title">Playlist</p>
                        <div class="side-panel full-panel">
                            <app-queue class="fixed-tab" *ngIf="selectedBox" [user]="user" [box]="selectedBox">
                            </app-queue>
                        </div>
                    </div>
                </div>
                <div class="col-4 pl-1 pr-2">
                    <div class="search-space">
                        <p class="space-title">Search</p>
                        <div class="side-panel full-panel">
                            <app-search-tab [boxToken]="selectedBox?._id" [user]="user"></app-search-tab>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>