@import './../../../../../imports.scss';
#queue-panel,
#like-panel {
    padding: 0 10px;
}

.video:nth-child(even) {
    background-color: darken($secondary-background, 5%);
}

.playlist-actions {
    margin-top: 15px;
    margin-bottom: 15px;
}

.list-rank {
    margin-bottom: 0;
}

.playlist-entry {
    margin-bottom: 5px;
    padding: 5px 0;
}

.song-playing {
    font-weight: 800;
}

.song-played {}

.song-ignored>div>p>a {
    color: #d953af;
}

.song-list-line {
    margin-bottom: 0;
    @include one-line-text();
    padding-right: 10px;
    a {
        color: $main-color;
        &:hover {
            text-decoration: underline;
        }
        &:active {
            color: darken($main-color, 10%);
        }
    }
}