@import './../../../../../imports.scss';
.chat-actions {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

// Input
#input-space {
    width: 100%;
    bottom: 0;
    height: 48px;
    padding: 5px;
    @include lg {
        padding: 10px;
        height: 106px;
    }
}

.input-group-chatbox {
    margin-bottom: 10px;
    border-radius: 0.3rem;
    &:focus, &:active, &:focus-within{
        border: 1px solid $master-color;
    }
    .chatbox {
        border-right: none !important;
        resize: none;
    }
    .input-group-append {
        background-color: rgba(0, 0, 0, 0.15);
        border-top-right-radius: 0.3rem;
        border-bottom-right-radius: 0.3rem;
        .btn {
            &:hover {
                background-color: rgba(0, 0, 0, 0.15);
            }
            &:active:focus {
                outline: none;
                box-shadow: none;
            }
        }
    }
}

.input-mode {
    color: white;
    padding: 3px 10px;
    font-family: 'Nunito', sans-serif;
    border-top-left-radius: 10px;
    border-top-right-radius: 40px;
}

span#span-default-mode {
    background-color: $master-color;
}

.emoji-picker-container.dropdown-menu {
    box-shadow: none;
    padding: 0;
    width: 343px;
    border-radius: 20px;
}

.fixed-tab {
    display: flex;
    height: inherit;
    flex-direction: column;
}

#emoji-typeahead-title {
    color: var(--text-main-color);
    font-family: 'Nunito';
    padding-left: 27px;
    font-weight: 700;
}