<div id="input-space">
    <div *ngIf="!hasCommand">
        <span class="input-mode" id="span-default-mode">Chat </span>
        <span class="key-commands">Type <kbd>!</kbd> to execute a command</span>
    </div>
    <div *ngIf="hasCommand">
        <span class="input-mode" id="span-command-mode">Command </span>
        <span class="key-commands">Use
            <kbd>Ctrl + Enter</kbd> to send as text</span>
    </div>
    <div class="d-flex" ngbDropdown placement="top-left" #emojiTypeahead="ngbDropdown">
        <div ngbDropdownMenu class="w-100">
            <p id="emoji-typeahead-title">Emoji Results</p>
            <p class="text-center help-text" *ngIf="emojiResults.length === 0">No results</p>
            <button ngbDropdownItem *ngFor="let result of emojiResults" (click)="replaceEmoji(result)">
                {{ result.native }} {{ result.shortName }}
            </button>
        </div>
        <div class="input-group input-group-chatbox" [ngClass]="{'chatbox-command': hasCommand}">
            <input type="text" class="form-control chatbox no-border no-focus"
                placeholder="Type a message. Commands start with a '!'" [(ngModel)]="contents" ngbDropdownAnchor
                ngbDropdownToggle (click)="watchContents()" (keydown.enter)="post($event)"
                (keydown.control.enter)="post($event)" #chatbox>
            <div class="input-group-append no-border" ngbTooltip="Use Emojis" ngbDropdown #emojiPicker="ngbDropdown">
                <div ngbDropdownMenu class="emoji-picker-container">
                    <emoji-mart class="emoji-picker" [set]="'google'" [color]="'#009AEB'" [hidden]="hasCommand"
                        (emojiClick)="addEmoji($event)"></emoji-mart>
                </div>
                <button class="btn btn-outline-secondary no-border no-focus" type="button" [disabled]="hasCommand"
                    ngbDropdownToggle>🙂</button>
            </div>
        </div>
    </div>
    <div class="chat-actions no-gutters">
        <button *ngIf="!hasCommand" class="btn btn-primary" (click)="post($event)">Send
            message</button>
        <button *ngIf="hasCommand" class="btn btn-primary" id="command-button" (click)="post($event)">Use
            command</button>
        <div *ngIf="appliedOptions.berryCount">
            <button class="btn btn-outline-berries" (click)="showPanel('queue')"
                ngbTooltip="Your berries. You will collect them over time. Spend them to execute special actions indicated by the buttons of the same color!"
                *ngIf="box?.creator._id !== user._id && box?.options?.berries">
                <img src="../../../../../assets/images/icons/berry-coin-icon.svg" alt="">
                <span id="berries-count">{{ berryCount }}</span>
            </button>
        </div>
        <button *ngIf="appliedOptions.searchButton" class="btn btn-outline-primary" (click)="showPanel('search')">
            <svg class="berrybox-svg-button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 427.28 439.64">
                <rect class="berrybox-path" x="-10.35" y="290.75" width="245.89" height="72.58"
                    transform="translate(-198.27 175.41) rotate(-45)" />
                <path class="berrybox-path"
                    d="M275.62,0A151.66,151.66,0,1,0,427.28,151.66,151.66,151.66,0,0,0,275.62,0Zm0,239a87.32,87.32,0,1,1,87.32-87.32A87.32,87.32,0,0,1,275.62,239Z" />
            </svg>
            Add videos
        </button>
    </div>
</div>