@import './../../../../imports.scss';
.modal-header,
.modal-body {
    background-color: var(--background-main-color);
    border: none;
    border-radius: 0;
}

.col-form-label {
    font-family: 'Montserrat';
}