<div class="modal-header">
    <h5 class="modal-title">{{ title }}</h5>
    <button type="button" class="close" aria-label="close" (click)="activeModal.dismiss()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form (ngSubmit)="onSubmit()" #boxForm="ngForm">
        <div class="form-group">
            <label for="name">Title</label>
            <input type="text" class="form-control" id="name" name="name" [(ngModel)]="box.name">
        </div>

        <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control" name="description" id="description" cols="30" rows="5" [(ngModel)]="box.description"></textarea>
        </div>

        <!-- <div class="form-group">
            <label for="lang">Spoken language</label>
            <select name="lang" id="lang" class="form-control" [(ngModel)]="box.lang">
                <option value="">Select a language</option>
                <option *ngFor="let lang of langs" [value]="lang">{{ lang }}</option>
            </select>
        </div> -->

        <div class="form-group d-flex no-gutters">
            <div class="col-10">
                <label for="random" class="col-form-label pb-0">Random Mode</label>
                <p class="help-text text-muted">When a video ends, the next one will be picked at random from the upcoming pool of videos</p>
            </div>
            <div class="col m-auto">
                <app-slide-toggle class="float-right" [(value)]="box.options.random"></app-slide-toggle>
            </div>
        </div>

        <div class="form-group d-flex no-gutters">
            <div class="col-10">
                <label for="random" class="col-form-label pb-0">Loop Mode</label>
                <p class="help-text text-muted">The system will automatically requeue old videos. Combined with Random Mode, videos will be picked randomly.</p>
            </div>
            <div class="col m-auto">
                <app-slide-toggle class="float-right" [(value)]="box.options.loop"></app-slide-toggle>
            </div>
        </div>

        <div class="form-group d-flex no-gutters">
            <div class="col-10">
                <label for="berries" class="col-form-label pb-0">Berries</label>
                <p class="help-text text-muted">Your users will be able to collect Berries while they are in your box. They will then be able to spend the berries to skip a video or select the next video to play.
                </p>
            </div>
            <div class="col m-auto">
                <app-slide-toggle class="float-right" [(value)]="box.options.berries"></app-slide-toggle>
            </div>
        </div>

        <button type="submit" class="btn btn-default btn-block">{{ context }}</button>
    </form>
</div>