@import './../../../../../imports.scss';
.berry-counter {
    display: flex;
    align-items: center;
    height: 40px;
    cursor: default;
    img {
        width: 28px;
        height: 28px;
    }
    span {
        display: flex;
        align-self: center;
        font-family: 'Nunito';
        font-weight: 800;
        color: var(--text-main-color);
        font-size: 1.1rem;
    }
}