@import './../../../../../imports.scss';
.playlist-entry {
    padding: 5px 0;
    position: relative;
    &:hover {
        background-color: var(--background-secondary-color-alternate);
    }
    &.playing {
        img {
            border: 2px solid $master-color;
        }
        .submission-duration {
            left: 2px;
            top: calc(77% - 4px);
            width: calc(100% - 4px);
        }
    }
}

.entry-info {
    height: 130px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.entry-actions {
    height: 30px;
}

.entry-details {
    width: calc(100% - 120px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.entry-image-container {
    position: relative;
    height: 80%;
    .submission-duration {
        font-family: 'Nunito', sans-serif;
        font-size: 0.9rem;
        font-weight: 300;
        position: absolute;
        left: 0;
        top: 77%;
        width: 100%;
        background-color: rgba($color: #000000, $alpha: 0.9);
        text-align: center;
        color: white;
        height: 25px;
    }
}

.state-indicator {
    align-content: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    margin-right: 10px;
    &.next-indicator {
        .next-indicator-icon {
            height: 15px;
            width: 15px;
            fill: var(--active-color) !important;
        }
        .priority-value {
            font-family: 'Nunito';
            color: var(--active-color);
            font-weight: 800;
            cursor: default;
            padding-top: 3px;
        }
    }
    &.current-indicator {
        .current-indicator-icon {
            height: 20px;
            width: 20px;
            fill: $master-color !important;
        }
    }
}




.submission-details {
    font-family: 'Nunito', sans-serif;
    font-size: 0.9rem;
    margin-top: .25rem;
    margin-bottom: .25rem;
    color: var(--text-main-color);
}