<div class="row playlist-entry g-0 video p-2"
    [ngClass]="{'force-next': item.setToNext, 'playing': item.startTime !== null && item.endTime === null, 'playing-step': item.startTime !== null && item.endTime === null && !box.options.loop}">
    <div *ngIf="item.setToNext" class="d-flex align-items-center">
        <img *ngIf="item?.stateForcedWithBerries" src="../../../../../assets/images/icons/berry-coin-icon.svg" alt=""
            style="height: 30px;" ngbTooltip="This video is preselected thanks to the use of berries.">
    </div>
    <div class="entry-info d-flex">
        <div class="entry-image-container">
            <img class="entry-image h-100" src="http://img.youtube.com/vi/{{ item?.video?.link }}/0.jpg" alt=""
                (load)="handleImageLoad($event)">
            <span class="submission-duration d-flex align-items-center justify-content-center">
                {{ item?.video.duration | duration }}
            </span>
        </div>
        <div class="entry-details ps-3 pe-0">
            <div class="d-flex flex-row align-items-center">
                <div class="state-indicator" *ngIf="!isReachable"
                    ngbTooltip="This video could not be reached. Berrybox might not be able to play it."
                    container="body">
                    <app-issue-indicator></app-issue-indicator>
                </div>
                <div class="state-indicator next-indicator" *ngIf="item.setToNext" ngbTooltip="Will play in priority"
                    container="body">
                    <svg-icon src="../../../../../assets/images/icons/play-next-icon.svg"
                        [svgClass]="'next-indicator-icon'">
                    </svg-icon>
                    <span class="priority-value">{{ priority }}</span>
                </div>
                <div class="state-indicator current-indicator" *ngIf="item.startTime !== null && item.endTime === null"
                    ngbTooltip="Now Playing" container="body">
                    <svg-icon src="../../../../../assets/images/icons/play-icon.svg"
                        [svgClass]="'current-indicator-icon'" [applyClass]="true">
                    </svg-icon>
                </div>
                <p class="song-list-line">
                    <!-- <a href="https://youtube.com/watch?v={{item?.video?.link}}"
                        title="{{item?.video?.name}}">{{item?.video?.name}}</a> -->
                    {{ item?.video?.name }}
                </p>
            </div>
            <div class="submission-details">
                <div class="bb-box-picture d-flex align-items-center me-2">
                    <app-profile-picture [fileName]="item.submitted_by.settings.picture" [size]="'xs'">
                    </app-profile-picture>
                    <span class="ms-2" *ngIf="item?.submitted_by">
                        {{ item?.submitted_by?.name }}
                    </span>
                </div>
            </div>
            <div *appAuth="true">
                <span *ngIf="!isReachable">
                    <div class="d-flex w-100 justify-content-center align-items-center">
                        <app-bx-button *ngIf="status === 'playing'" (click)="skipVideo(item)"
                            [options]="{'type': 'skip', 'context': 'secondary', 'text': 'Skip the video', 'textDisplay': 'button'}">
                        </app-bx-button>
                        <app-bx-button *ngIf="status !== 'playing'" (click)="cancelVideo(item)"
                            [options]="{'type': 'resolve', 'context': 'secondary', 'text': 'Remove the unreachable video', 'textDisplay': 'button'}">
                        </app-bx-button>
                    </div>
                </span>
            </div>
        </div>
        <div *appAuth="true">
            <span *ngIf="isReachable">
                <div ngbDropdown container="body">
                    <div ngbDropdownToggle>
                        <app-bx-button [options]="{'type': 'menu', 'context': 'queue'}">
                        </app-bx-button>
                    </div>
                    <div ngbDropdownMenu>
                        <button
                            *ngIf="(permissions.includes('skipVideo') || box?.options?.berries) && status === 'playing'"
                            class="dropdown-item" (click)="skipVideo(item)">
                            <svg-icon src="../../../../assets/images/icons/skip-icon.svg" [svgClass]="'img-icon'">
                            </svg-icon>
                            <span>
                                Skip <span *ngIf="!permissions.includes('skipVideo')">
                                    (<app-berry-cost value="20"></app-berry-cost>)
                                </span>
                            </span>
                        </button>
                        <button
                            *ngIf="(permissions.includes('forceNext') || box?.options?.berries) && status === 'upcoming' && !item.setToNext"
                            class="dropdown-item" (click)="togglePreselection(item)">
                            <svg-icon src="../../../../assets/images/icons/play-next-icon.svg" [svgClass]="'img-icon'">
                            </svg-icon>
                            <span>
                                Play Next <span *ngIf="!permissions.includes('forceNext')">
                                    (<app-berry-cost value="10"></app-berry-cost>)
                                </span>
                            </span>
                        </button>
                        <button *ngIf="permissions.includes('forceNext') && status === 'upcoming' && item.setToNext"
                            class="dropdown-item" (click)="togglePreselection(item)">
                            <svg-icon src="../../../../assets/images/icons/play-later-icon.svg" [svgClass]="'img-icon'">
                            </svg-icon>
                            Play later
                        </button>
                        <button
                            *ngIf="(permissions.includes('forcePlay') || box?.options?.berries) && status === 'upcoming'"
                            class="dropdown-item" (click)="forcePlay(item)">
                            <svg-icon src="../../../../assets/images/icons/play-now-icon.svg" [svgClass]="'img-icon'">
                            </svg-icon>
                            <span>
                                Play Now <span *ngIf="!permissions.includes('forcePlay')">
                                    (<app-berry-cost value="30"></app-berry-cost>)
                                </span>
                            </span>
                        </button>
                        <button *ngIf="permissions.includes('addVideo') && status === 'played'" class="dropdown-item"
                            (click)="replayVideo(item)">
                            <svg-icon src="../../../../assets/images/icons/replay-icon.svg" [svgClass]="'replay-icon'">
                            </svg-icon>
                            Requeue
                        </button>
                        <button
                            *ngIf="(permissions.includes('removeVideo') || item?.submitted_by?._id === user._id) && (status === 'upcoming' || status === 'played')"
                            class="dropdown-item dropdown-item-danger" (click)="cancelVideo(item)">
                            <svg-icon src="../../../../assets/images/icons/trash-icon.svg" [svgClass]="'trash-icon'">
                            </svg-icon>
                            Remove from queue
                        </button>
                        <div class="dropdown-divider"></div>
                        <button class="dropdown-item" (click)="addToPlaylist()">
                            <svg-icon src="../../../../assets/images/icons/add-to-library-icon.svg"
                                [svgClass]="'img-icon'">
                            </svg-icon>
                            Add to playlist
                        </button>
                    </div>
                </div>
            </span>
        </div>
    </div>
</div>