@import './../../../../../imports.scss';
.submission-details {
    font-family: 'Nunito', sans-serif;
    font-size: 0.9rem;
    margin-top: .25rem;
    margin-bottom: .25rem;
    color: var(--text-main-color);
}

.berry-used-indicator {
    padding: 2px 5px;
    margin-left: 10px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
    background-color: #D14900;
}