<div class="row playlist-entry no-gutters video px-3 py-2"
    [ngClass]="{'force-next': item.isPreselected, 'playing': item.startTime !== null && item.endTime === null}">
    <div *ngIf="item.isPreselected" class="d-flex align-items-center">
        <img *ngIf="item?.stateForcedWithBerries" src="../../../../../assets/images/icons/berry-coin-icon.svg" alt=""
            style="height: 30px;" ngbTooltip="This video is preselected thanks to the use of berries.">
        <svg class="next-indicator-icon mr-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 500">
            <polygon points="261.49 250 39.58 121.88 39.58 378.12 261.49 250" />
            <polygon points="483.4 250 261.49 121.88 261.49 378.12 483.4 250" />
        </svg>
        <span class="next-indicator">NEXT</span>
    </div>
    <div class="entry-info d-flex">
        <div class="entry-image-container">
            <img class="entry-image h-100" src="http://img.youtube.com/vi/{{ item?.video?.link }}/0.jpg" alt="">
            <span class="submission-duration d-flex align-items-center justify-content-center">
                {{ item?.video.duration | duration }}
            </span>
        </div>
        <div class="entry-details pl-3 pr-0">
            <div>
                <p class="song-list-line">
                    <a href="https://youtube.com/watch?v={{item?.video?.link}}"
                        title="{{item?.video?.name}}">{{item?.video?.name}}</a>
                </p>
            </div>
            <div class="submission-details" ngbTooltip="{{ item?.submittedAt | date:'dd/MM/yyyy HH:mm:ss'}}">
                <div class="bb-box-picture d-flex align-items-center mr-2">
                    <app-profile-picture [userId]="item.submitted_by._id" [size]="'xs'"></app-profile-picture>
                    <span class="ml-2" *ngIf="item?.submitted_by">
                        {{ item?.submitted_by?.name }}
                    </span>
                    <span class="m-1">&#9679;</span>
                    <span>
                        {{ item?.submittedAt | fromNow }}
                    </span>
                </div>
            </div>
            <div *appAuth="true" class="d-flex justify-content-between">
                <div class="d-flex">
                    <app-bx-button *ngIf="item.video" (click)="addToPlaylist()"
                        [options]="{'type': 'addToLibrary', 'textDisplay': 'tooltip', 'text': 'Add to a Playlist', 'context': 'queue'}">
                    </app-bx-button>
                </div>
                <div class="d-flex">
                    <span *appAcl="'skipVideo'">
                        <app-bx-button *ngIf="status === 'playing'" class="ml-1" (click)="skipVideo(item)"
                            [options]="{'type': 'skip', 'textDisplay': 'tooltip', 'context': 'queue'}">
                        </app-bx-button>
                    </span>
                    <span *appAcl="'!skipVideo'">
                        <app-bx-button *ngIf="status === 'playing'" class="ml-1" (click)="skipVideo(item)"
                            [options]="{'type': 'skip', 'textDisplay': 'tooltip', 'context': 'berries', 'text': 'Spend 20 berries to skip'}">
                        </app-bx-button>
                    </span>
                    <span *appAcl="'forceNext'">
                        <app-bx-button *ngIf="status === 'upcoming'" class="ml-1" (click)="togglePreselection(item)"
                            [options]="{'type': 'forceNext', 'textDisplay': 'tooltip', 'context': 'queue', 'text': 'Play next'}">
                        </app-bx-button>
                    </span>
                    <span *appAcl="'!forceNext'">
                        <app-bx-button *ngIf="status === 'upcoming' && box?.options?.berries" class="ml-1"
                            (click)="togglePreselection(item)"
                            [options]="{'type': 'forceNext', 'textDisplay': 'tooltip', 'context': 'berries', 'text': 'Spend 10 berries to play next'}">
                        </app-bx-button>
                    </span>
                    <span *appAcl="'forcePlay'">
                        <app-bx-button *ngIf="status === 'upcoming'" class="ml-1" (click)="forcePlay(item)"
                            [options]="{'type': 'forcePlay', 'textDisplay': 'tooltip', 'context': 'queue', 'text': 'Play now', 'context': 'queue'}">
                        </app-bx-button>
                    </span>
                    <span *appAcl="'!forcePlay'">
                        <app-bx-button *ngIf="status === 'upcoming' && box?.options?.berries" class="ml-1"
                            (click)="forcePlay(item)"
                            [options]="{'type': 'forcePlay', 'textDisplay': 'tooltip', 'context': 'berries', 'text': 'Spend 30 berries to play now'}">
                        </app-bx-button>
                    </span>
                    <span *appAcl="'addVideo'">
                        <app-bx-button *ngIf="status === 'played'" class="ml-1" (click)="replayVideo(item)"
                            [options]="{'type': 'replay', 'textDisplay': 'tooltip', 'context': 'queue'}">
                        </app-bx-button>
                    </span>
                    <span *appAcl="'!removeVideo'">
                        <span *ngIf="item?.submitted_by?._id === user._id">
                            <app-bx-button *ngIf="(status === 'upcoming' || status === 'played')" class="ml-1"
                                (click)="cancelVideo(item)"
                                [options]="{'type': 'cancel', 'context': 'danger', 'textDisplay': 'tooltip', 'text': 'Remove from Queue'}">
                            </app-bx-button>
                        </span>
                    </span>
                    <span *appAcl="'removeVideo'">
                        <app-bx-button *ngIf="(status === 'upcoming' || status === 'played')" class="ml-1"
                            (click)="cancelVideo(item)"
                            [options]="{'type': 'cancel', 'context': 'danger', 'textDisplay': 'tooltip', 'text': 'Remove from Queue'}">
                        </app-bx-button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>