@import './../../../../../imports.scss';
.playlist-entry {
    padding: 5px 0;
    border-bottom: .5px solid rgba(var(--text-focus-color), 0.7);
    &:nth-child(even) {
        border-top: .5px solid rgba(var(--text-focus-color), 0.7);
    }
    &.playing {
        background-color: var(--background-main-active-color);
    }
}

.entry-info {
    height: 90px;
    width: 100%;
}

.entry-actions {
    height: 30px;
}

.entry-details {
    width: calc(100% - 120px);
}

.entry-image-container {
    position: relative;
    .submission-duration {
        position: absolute;
        left: 0;
        top: 77%;
        width: 100%;
        background-color: rgba($color: #000000, $alpha: 0.8);
        text-align: center;
    }
}

.force-next {
    outline: 3px solid var(--active-color);
    outline-offset: -6px;
}

.next-indicator-icon {
    height: 18px;
    fill: var(--active-color) !important;
}

.next-indicator {
    font-family: 'Montserrat';
    color: var(--active-color);
    font-weight: 800;
}