<div class="d-flex">
    <div class="col-1 menu pt-5">
        <a class="nav-link" (click)="currentTab = 'boxes'" [ngClass]="{'active':currentTab === 'boxes'}">Boxes</a>
        <a class="nav-link" (click)="currentTab = 'playlists'" [ngClass]="{'active':currentTab === 'playlists'}">Playlists</a>
        <a class="nav-link" (click)="currentTab = 'acl'" [ngClass]="{'active':currentTab === 'acl'}">Moderation</a>
        <!-- <a class="nav-link">Custom Emotes</a>
        <a class="nav-link">Custom Commands</a> -->
    </div>
    <div class="col admin-panel pt-3">
        <app-boxes-manager *ngIf="currentTab === 'boxes'"></app-boxes-manager>
        <app-playlists-manager *ngIf="currentTab === 'playlists'"></app-playlists-manager>
        <app-acl-manager *ngIf="currentTab === 'acl'"></app-acl-manager>
    </div>
</div>