<div class="d-flex">
    <div class="col-1 menu pt-5">
        <a class="nav-link" (click)="currentTab = 'boxes'" [ngClass]="{'active':currentTab === 'boxes'}">Boxes</a>
        <a class="nav-link" (click)="currentTab = 'playlists'" [ngClass]="{'active':currentTab === 'playlists'}">Playlists</a>
        <!-- <a class="nav-link">Moderators</a>
        <a class="nav-link">Custom Emotes</a>
        <a class="nav-link">Custom Commands</a> -->
    </div>
    <div class="col admin-panel pt-5">
        <app-boxes-tab *ngIf="currentTab === 'boxes'" [user]="user"></app-boxes-tab>
        <app-playlists-tab *ngIf="currentTab === 'playlists'" [user]="user"></app-playlists-tab>
    </div>
</div>