<img *ngIf="playlist.videos.length > 0" src="http://i.ytimg.com/vi/{{ playlist.videos[0].link }}/hqdefault.jpg" alt="" class="card-img-top">
<img *ngIf="playlist.videos.length === 0" src="assets/images/no-playing.png" alt="" class="card-img-top">
<div class="card-body">
    <h5 class="card-title playlist-name">{{ playlist.name }}</h5>
    <span class="playlist-length">{{ playlist.videos.length }} videos</span>
</div>
<div class="card-footer">
    <button class="btn btn-primary" (click)="viewPlaylist(playlist)">View</button>
</div>