@import './../../../../imports.scss';
.card-box {
    background-color: $main-black;
    color: white;
    border-radius: 0 !important;
    cursor: pointer;
    .card-img-top {
        width: 100%;
        border-radius: inherit;
    }
    &:hover {
        background-color: lighten($main-black, 10%);
    }
}

.card-name {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-family: 'Montserrat', sans-serif;
    color: $master-color;
}

.box-pp {
    @include nav-pp(40px);
}