<div class="card card-box">
    <img src="http://i.ytimg.com/vi/{{ currentVideo?.video?.link }}/hqdefault.jpg" alt="" class="card-img-top">
    <div class="card-block">
        <h4 class="card-name">{{ box.name }}</h4>
        <p class="card-text">{{ currentVideo?.video?.name }}</p>
        <div class="media">
            <img src="./assets/profile-pictures/{{ box.creator }}" alt="" class="d-flex mr-3 box-pp">
            <div class="media-body">
                <h6 class="mt-0">
                    <a href="user/{{ box.creator }}">{{ box.creator }}</a>
                </h6>
            </div>
        </div>
    </div>
    <a href="" class="btn btn-default btn-block">Join</a>
</div>