@import './../../../../imports.scss';
.card-box {
    background-color: var(--background-main-color);
    color: var(--text-main-color);
    border-radius: 0 !important;
    cursor: pointer;
    border: 1px solid var(--background-main-border-color);
    .card-img-top {
        border-radius: inherit;
    }
    .no-playing {
        width: 70%;
    }
    &:hover {
        background-color: var(--background-main-hover-color);
    }
}

.card-name {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-family: 'Nunito', sans-serif;
    color: var(--text-main-color);
}

.img-container {
    max-height: 300px;
    overflow: hidden;
}

#box-info-container {
    width: 85%;
}

#box-admin {
    font-family: 'Nunito';
    color: var(--text-system-color);
}

#currently-playing {
    font-family: 'Nunito';
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

#box-info {
    font-size: pxtorem(16px);
}

.box-pp {
    @include profile-picture-size(40px);
}

.modes {
    height: 29px;
    display: flex;
    justify-content: flex-start;
}