<div class="d-flex no-gutters h-100">
    <div class="col-11 side-panel h-100">
        <div class="box-side-panel" id="panel-space">
            <app-userlist [hidden]="activePanel !== 'users'" [user]="user"></app-userlist>
            <app-queue class="fixed-tab" [hidden]="activePanel !== 'queue'" [user]="user"></app-queue>
            <app-chat-tab class="fixed-tab" [hidden]="activePanel !== 'chat'" [boxToken]="boxToken" [user]="user"
                (socketStatus)="refreshChatStatus($event)"></app-chat-tab>
            <app-search-tab [hidden]="activePanel !== 'search'" [boxToken]="boxToken" [user]="user">
            </app-search-tab>
        </div>
    </div>
    <div class="col-1" id="panel-menu">
        <ul class="nav flex-column">
            <li class="nav-item" [ngClass]="{'active': activePanel == 'chat'}" ngbTooltip="Chat" placement="left">
                <a class="nav-link" (click)="showPanel('chat'); newMessages = false">
                    <svg class="berrybox-svg" id="chat-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 550 550"
                        style="height:1.4em;">
                        <polygon class="berrybox-path"
                            points="465.41 102.83 31.25 102.83 31.25 386.15 99.3 386.15 64.44 463.51 236.07 386.15 465.41 386.15 465.41 102.83" />
                        <circle *ngIf="newMessages" class="berrybox-path notification-indicator" cx="430.41" cy="122.83"
                            r="111" />
                    </svg>
                </a>
            </li>
            <li class="nav-item" [ngClass]="{'active': activePanel == 'queue'}" ngbTooltip="Queue" placement="left">
                <a class="nav-link" (click)="showPanel('queue')" title="Queue">
                    <svg style="height: 1.5rem;" class="berrybox-svg" xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 500 500">
                        <path class="berrybox-path"
                            d="M462.39,334.36l-152.34-88a10,10,0,0,0-15,8.66V431a10,10,0,0,0,15,8.66l152.34-88A10,10,0,0,0,462.39,334.36Z" />
                        <rect class="berrybox-path" x="58.63" y="266.92" width="195.03" height="40.12" rx="7.2" />
                        <rect class="berrybox-path" x="58.63" y="354.65" width="195.03" height="40.12" rx="7.2" />
                        <rect class="berrybox-path" x="58.63" y="179.19" width="290.63" height="40.12" rx="8.79" />
                        <rect class="berrybox-path" x="58.63" y="91.46" width="290.63" height="40.12" rx="8.79" />
                    </svg>
                </a>
            </li>
            <li class="nav-item" [ngClass]="{'active': activePanel === 'search'}" *appAuth="true"
                ngbTooltip="Add Videos" placement="left">
                <a class="nav-link" (click)="showPanel('search')" title="Add Videos">
                    <svg class="berrybox-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 427.28 439.64">
                        <rect class="berrybox-path" x="-10.35" y="290.75" width="245.89" height="72.58"
                            transform="translate(-198.27 175.41) rotate(-45)" />
                        <path class="berrybox-path"
                            d="M275.62,0A151.66,151.66,0,1,0,427.28,151.66,151.66,151.66,0,0,0,275.62,0Zm0,239a87.32,87.32,0,1,1,87.32-87.32A87.32,87.32,0,0,1,275.62,239Z" />
                    </svg>
                </a>
            </li>
            <li class="nav-item" [ngClass]="{'active': activePanel == 'users'}" ngbTooltip="Users" placement="left">
                <a class="nav-link" (click)="showPanel('users')" title="Users">
                    <svg class="berrybox-svg" style="height: 1.5em;" xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 500 500">
                        <path class="berrybox-path"
                            d="M376,143.42a79.68,79.68,0,0,1-39.9,69.08,105.63,105.63,0,0,0-12.52-.74h-50a79.76,79.76,0,0,0-9.19-141.42A79.74,79.74,0,0,1,376,143.42Z" />
                        <path class="berrybox-path"
                            d="M336.06,212.5a79,79,0,0,1-29.95,10,104,104,0,0,0-33.84-10l1.26-.74h50A105.63,105.63,0,0,1,336.06,212.5Z" />
                        <path class="berrybox-path"
                            d="M428.49,316.71v109.6a10,10,0,0,1-10,10h-63.8a10,10,0,0,0,10-10V316.71a104.92,104.92,0,0,0-58.58-94.17,79,79,0,0,0,29.95-10A105,105,0,0,1,428.49,316.71Z" />
                        <path class="berrybox-path"
                            d="M293.46,143.42a79.69,79.69,0,0,1-38.63,68.34l-1.26.74a78.52,78.52,0,0,1-7.93,4,79.39,79.39,0,0,1-31.9,6.64q-3.78,0-7.46-.35a79.74,79.74,0,1,1,87.18-79.38Z" />
                        <path class="berrybox-path"
                            d="M346,316.71v109.6a10,10,0,0,1-10,10H91.48a10,10,0,0,1-10-10V320.57A108.74,108.74,0,0,1,190.29,211.76H241q3.24,0,6.44.21t6.09.53A104.92,104.92,0,0,1,346,316.71Z" />
                    </svg>
                </a>
            </li>
        </ul>
    </div>
</div>