<div class="row no-gutters h-100" appYouTubeMiniatureDropZone (isDragging)="handleMiniatureDrag($event)"
    (fileDropped)="submitFromMiniature($event)">
    <div class="dropzone" [hidden]="isDraggingMiniature === false">
        <div class="d-flex justify-content-center align-items-center h-100">
            <div class="text-center dropzone-help">
                <svg class="berrybox-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 500"
                    style="height: 10em;">
                    <path class="berrybox-path"
                        d="M258.12,466.45,383.63,291.72a10,10,0,0,0-8.13-15.84h-251a10,10,0,0,0-8.13,15.84L241.88,466.45A10,10,0,0,0,258.12,466.45Z" />
                    <rect class="berrybox-path" x="96.05" y="122.63" width="307.91" height="121.43" rx="10"
                        transform="translate(433.34 -66.66) rotate(90)" />
                </svg>
                <p class="m-auto">Drop the YouTube Miniature to add the video to the queue</p>
            </div>
        </div>
    </div>
    <div class="col-11 side-panel">
        <div class="box-side-panel" id="panel-space">
            <app-userlist [hidden]="activePanel !== 'users'" [user]="user"></app-userlist>
            <app-command-list [hidden]="activePanel !== 'commands'" (clickedCommand)="kickstartCommand($event)">
            </app-command-list>
            <app-help-tab [hidden]="activePanel !== 'help'"></app-help-tab>
            <app-queue class="fixed-tab" [hidden]="activePanel !== 'queue'" [user]="user"></app-queue>
            <app-chat-tab class="fixed-tab" [hidden]="activePanel !== 'chat'" [boxToken]="boxToken" [user]="user"
                (socketStatus)="refreshChatStatus($event)"></app-chat-tab>
            <app-search-tab [hidden]="activePanel !== 'search'" [boxToken]="boxToken" [user]="user">
            </app-search-tab>
        </div>
    </div>
    <div class="col-1" id="panel-menu">
        <ul class="nav flex-column">
            <li class="nav-item" [ngClass]="{'active': activePanel == 'chat'}" ngbTooltip="Chat" placement="left">
                <a class="nav-link" (click)="showPanel('chat'); newMessages = false">
                    <svg class="berrybox-svg" id="chat-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 550 550"
                        style="height:1.4em;">
                        <polygon class="berrybox-path"
                            points="465.41 102.83 31.25 102.83 31.25 386.15 99.3 386.15 64.44 463.51 236.07 386.15 465.41 386.15 465.41 102.83" />
                        <circle *ngIf="newMessages" class="berrybox-path notification-indicator" cx="430.41" cy="122.83"
                            r="111" />
                    </svg>
                </a>
            </li>
            <li class="nav-item" [ngClass]="{'active': activePanel == 'queue'}" ngbTooltip="Queue" placement="left">
                <a class="nav-link" (click)="showPanel('queue')" title="Queue">
                    <svg class="berrybox-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 475.55 428.13">
                        <path class="berrybox-path"
                            d="M475.56 307.09L293.21 201.81v210.56l182.35-105.28M0 0h456.59v56.04H0zM0 93.02h456.59v56.04H0zM0 186.04h269.23v56.04H0zM0 279.07h269.23v56.04H0zM0 372.09h269.23v56.04H0z" />
                    </svg>
                </a>
            </li>
            <li class="nav-item" [ngClass]="{'active': activePanel === 'search'}" *appAuth="true"
                ngbTooltip="Find Videos" placement="left">
                <a class="nav-link" (click)="showPanel('search')" title="Find Videos">
                    <svg class="berrybox-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 427.28 439.64">
                        <rect class="berrybox-path" x="-10.35" y="290.75" width="245.89" height="72.58"
                            transform="translate(-198.27 175.41) rotate(-45)" />
                        <path class="berrybox-path"
                            d="M275.62,0A151.66,151.66,0,1,0,427.28,151.66,151.66,151.66,0,0,0,275.62,0Zm0,239a87.32,87.32,0,1,1,87.32-87.32A87.32,87.32,0,0,1,275.62,239Z" />
                    </svg>
                </a>
            </li>
            <li class="nav-item" [ngClass]="{'active': activePanel == 'users'}" ngbTooltip="Users" placement="left">
                <a class="nav-link" (click)="showPanel('users')" title="Users">
                    <svg class="berrybox-svg" style="height: 1.5em;" xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 334.45 460">
                        <path class="berrybox-path"
                            d="M271.41 190.25a63 63 0 0 0-63 63v190.17h126.04V253.28a63 63 0 0 0-63.04-63.03z" />
                        <circle class="berrybox-path" cx="268.81" cy="129.3" r="52.62" />
                        <path class="berrybox-path"
                            d="M66.15 185.75A66.15 66.15 0 0 0 0 251.9v199.52h132.29V251.89a66.15 66.15 0 0 0-66.14-66.14z" />
                        <circle class="berrybox-path" cx="63.41" cy="121.79" r="55.21" />
                        <path class="berrybox-path"
                            d="M170.23 145.13a78.39 78.39 0 0 0-78.39 78.39V460h156.78V223.52a78.39 78.39 0 0 0-78.39-78.39z" />
                        <circle class="berrybox-path" cx="166.98" cy="65.44" r="65.44" />
                    </svg>
                </a>
            </li>
            <li class="nav-separator my-1"></li>
            <li class="nav-item" [ngClass]="{'active': activePanel === 'commands'}" ngbTooltip="Commands"
                placement="left" *appAuth="true">
                <a class="nav-link" (click)="showPanel('commands')" title="Commands">!</a>
            </li>
            <li class="nav-item" [ngClass]="{'active': activePanel === 'help'}" ngbTooltip="Help" placement="left"
                *appAuth="true">
                <a class="nav-link" (click)="showPanel('help')" title="Help">?</a>
            </li>
        </ul>
    </div>
</div>
<div id="input-space">
    <div *appAuth="true">
        <app-chat-input #chatInput [boxToken]="box?._id" (command)="handleCommands($event)"></app-chat-input>
    </div>
    <div *appAuth="false" class="text-center p-2">
        <h5>
            <button class="btn btn-primary" (click)="openLoginPrompt()">Log in</button> or <button
                class="btn btn-primary" (click)="openSignupPrompt()">Sign up</button> to chat and submit videos to the
            playlist!
        </h5>
    </div>
</div>