<div class="row no-gutters">
    <div class="col-11 sub-panels">
        <div class="panel-title text-center">{{activePanel}}</div>
        <div class="box-side-panel" id="chat-space">
            <app-chat [hidden]="activePanel !== 'chat'" [boxToken]="boxToken" [user]="user" (socketStatus)="refreshChatStatus($event)"></app-chat>
            <app-playlist [hidden]="activePanel !== 'queue'" [user]="user"></app-playlist>
            <app-favoritelist [hidden]="activePanel !== 'favorites'" [boxToken]="boxToken" [user]="user"></app-favoritelist>
            <app-userlist [hidden]="activePanel !== 'users'" [user]="user"></app-userlist>
            <app-command-list [hidden]="activePanel !== 'commands'" (clickedCommand)="kickstartCommand($event)"></app-command-list>
        </div>
    </div>
    <div class="col-1" id="panel-menu">
        <ul class="nav flex-column">
            <li class="nav-item" [ngClass]="{'active': activePanel == 'chat'}">
                <a class="nav-link" (click)="showPanel('chat'); newMessages = false" title="Chat">
                    <svg class="berrybox-svg" id="chat-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 550 550" style="height:1.4em;">
                        <polygon class="berrybox-path" points="465.41 102.83 31.25 102.83 31.25 386.15 99.3 386.15 64.44 463.51 236.07 386.15 465.41 386.15 465.41 102.83"/>
                        <circle *ngIf="newMessages" class="berrybox-path notification-indicator" cx="430.41" cy="122.83" r="111"/>
                    </svg>
                </a>
            </li>
            <li class="nav-item" [ngClass]="{'active': activePanel == 'queue'}">
                <a class="nav-link" (click)="showPanel('queue')" title="Queue">
                    <svg class="berrybox-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 475.55 428.13">
                        <path class="berrybox-path" d="M475.56 307.09L293.21 201.81v210.56l182.35-105.28M0 0h456.59v56.04H0zM0 93.02h456.59v56.04H0zM0 186.04h269.23v56.04H0zM0 279.07h269.23v56.04H0zM0 372.09h269.23v56.04H0z"
                        />
                    </svg>
                </a>
            </li>
            <li class="nav-item" [ngClass]="{'active': activePanel == 'users'}">
                <a class="nav-link" (click)="showPanel('users')" title="Users">
                    <svg class="berrybox-svg" style="height: 1.5em;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 334.45 460">
                        <path class="berrybox-path" d="M271.41 190.25a63 63 0 0 0-63 63v190.17h126.04V253.28a63 63 0 0 0-63.04-63.03z" />
                        <circle class="berrybox-path" cx="268.81" cy="129.3" r="52.62" />
                        <path class="berrybox-path" d="M66.15 185.75A66.15 66.15 0 0 0 0 251.9v199.52h132.29V251.89a66.15 66.15 0 0 0-66.14-66.14z"
                        />
                        <circle class="berrybox-path" cx="63.41" cy="121.79" r="55.21" />
                        <path class="berrybox-path" d="M170.23 145.13a78.39 78.39 0 0 0-78.39 78.39V460h156.78V223.52a78.39 78.39 0 0 0-78.39-78.39z"
                        />
                        <circle class="berrybox-path" cx="166.98" cy="65.44" r="65.44" />
                    </svg>
                </a>
            </li>
            <li class="nav-separator my-1"></li>
            <li class="nav-item" [ngClass]="{'active': activePanel == 'favorites'}">
                <a class="nav-link" (click)="showPanel('favorites')" title="Favorites">
                    <svg class="berrybox-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 408 408.09">
                        <path class="berrybox-path" d="M408 129.05c0 92-135.88 225.81-185.85 271.92a26.76 26.76 0 0 1-36.3 0C135.88 354.89 0 221.05 0 129.05c0-111 115.51-188.38 200.28-62.41a4.73 4.73 0 0 0 7.72.18c96.55-130.09 200-48.87 200 62.23z"
                        />
                    </svg>
                </a>
            </li>
            <li class="nav-separator my-1"></li>
            <li class="nav-item" [ngClass]="{'active': activePanel === 'commands'}">
                <a class="nav-link" (click)="showPanel('commands')" title="Commands">!</a>
            </li>
        </ul>
    </div>
</div>
<div id="input-space" class="py-3" *appAuth="true">
    <div *ngIf="!hasCommand">
        <span class="input-mode" id="span-default-mode">Chat </span>
        <span class="key-commands">Type <kbd>!</kbd> to execute a command</span>
    </div>
    <div *ngIf="hasCommand">
        <span class="input-mode" id="span-command-mode">Command </span>
        <span class="key-commands">Use
            <kbd>Ctrl + Enter</kbd> to send as text</span>
    </div>
    <textarea name="" id="" cols="30" rows="2" class="form-control chatbox" [ngClass]="{'chatbox-link': hasLink, 'chatbox-command': hasCommand}" placeholder="Type a message. Commands start with a '!'" [(ngModel)]="contents" (keydown.enter)="post($event)"
        (keydown.control.enter)="post($event)" (keyup)="watchContents()"></textarea>
    <div class="chat-actions row">
        <!--<div class="col-2">
            <button class="btn btn-primary">Options</button>
        </div>
        <div class="col-2">
            <button class="btn btn-default">Emotes</button>
        </div>-->
        <div class="col-12">
            <button *ngIf="!hasCommand" class="btn btn-primary" style="float:right;" (click)="post($event)">
                Send message
            </button>
            <button *ngIf="hasCommand" class="btn btn-primary" id="command-button" style="float:right;" (click)="post($event)">Use command</button>
        </div>
    </div>
</div>