@import './../../../../../imports.scss';
.playlists-list-item {
    .playlist-name {
        color: var(--text-main-color);
        font-size: 1.3rem;
        font-weight: 300;
    }
    .playlist-info {
        color: var(--text-secondary-color);
    }
    &.active {
        border-left: 5px solid $master-color;
    }
    &:hover {
        background-color: var(--background-secondary-color-alternate);
    }
}

.selected-playlist-name {
    font-size: 1.4rem;
    color: var(--text-main-color);
}

.selected-playlist-items {
    flex: 1;
    overflow: auto;
    @include can-search();
}

#result-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}