<div *ngIf="!selectedPlaylist" class="h-100">
    <div class="text-center pt-2">
        <span class="help-text">Choose a Playlist</span>
    </div>
    <div class="overflow-auto" style="height: 95%">
        <div *ngFor="let playlist of playlists" class="playlists-list-item p-3" (click)="selectPlaylist(playlist)">
            <p class="playlist-name mb-0">{{ playlist.name }}</p>
        </div>
    </div>
</div>
<div *ngIf="selectedPlaylist" id="result-container">
    <div class="d-flex pt-2">
        <div class="col">
            <button class="btn btn-outline-secondary" (click)="selectedPlaylist = null">Back</button>
        </div>
        <div class="col-sm-auto">
            <p class="text-center selected-playlist-name mb-0">{{ selectedPlaylist.name }}</p>
        </div>
        <app-bx-button *ngIf="permissions.includes('addVideo')" (click)="submitPlaylist(selectedPlaylist._id)"
            class="d-flex justify-content-end col"
            [options]="{'type': 'play', 'textDisplay': 'tooltip', 'text': 'Queue the whole playlist', 'context': 'queue'}">
        </app-bx-button>
    </div>
    <div class="p-3 input-group">
        <input type="text" class="form-control" placeholder="Type to search in the playlist..." #filterInput>
        <div class="input-group-append">
            <button class="btn btn-outline-default" type="button" (click)="resetFilter()">Reset</button>
        </div>
    </div>
    <div *ngIf="selectedPlaylist.videos.length > 0; else noFavorites" class="selected-playlist-items"
        [ngClass]="{'is-searching': filterValue !== ''}">
        <app-video-entry *ngFor="let video of selectedPlaylist.videos | filter:filterValue:['name', 'link']"
            [video]="video"
            [options]="{'submit': videosInQueue.indexOf(video.link) === -1, 'inQueue': videosInQueue.indexOf(video.link) !== -1, 'berries': this.berriesEnabled, 'forcePlay': true, 'forceNext': true}"
            [permissions]="permissions" (addedToQueue)="submitVideo($event)"></app-video-entry>
        <div class="text-center mt-3">
            <span class="m-1" style="color: var(--video-separator-color);">&#9679;</span>
        </div>
    </div>
    <ng-template #noFavorites>
        <div class="text-center no-contents">
            <svg class="empty-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 500">
                <path
                    d="M416.12,178.05c0,86.53-127.87,212.49-174.89,255.88a25.17,25.17,0,0,1-34.16,0c-47-43.39-174.89-169.35-174.89-255.88,0-104.49,108.7-177.3,188.47-58.76a4.44,4.44,0,0,0,7.26.17C318.77-2.95,416.12,73.47,416.12,178.05Z" />
                <rect x="332.48" y="347.54" width="147.7" height="44.04" rx="10.8"
                    transform="translate(775.89 -36.77) rotate(90)" />
                <rect x="332.48" y="347.54" width="147.7" height="44.04" rx="10.8"
                    transform="translate(812.66 739.12) rotate(180)" />
            </svg>
            <h3>This playlist is empty :(</h3>
        </div>
    </ng-template>
</div>