<div class="panel-tab-title-section">
    <p class="panel-tab-title col">Search</p>
</div>
<div style="height: calc(100% - 60px);">
    <div class="d-flex flex-column h-100">
        <app-bx-tabset [options]="[{title: 'Youtube', value: 'youtube'}, {title: 'Playlists', value: 'playlists'}]"
            (clickedOption)="displayedTab = $event">
        </app-bx-tabset>
        <app-youtube-search-tab *ngIf="displayedTab === 'youtube'" [boxToken]="boxToken" [user]="user"
            [videosInQueue]="videosInQueue">
        </app-youtube-search-tab>
        <app-playlists-search-tab *ngIf="displayedTab === 'playlists'" [boxToken]="boxToken" [user]="user"
            [videosInQueue]="videosInQueue" style="height: 92%;">
        </app-playlists-search-tab>
    </div>
</div>