<div class="panel-tab-title-section">
    <p class="panel-tab-title col">Search</p>
</div>
<app-bx-tabset
    [options]="[{title: 'Youtube', value: 'youtube'}, {title: 'Playlists', value: 'playlists'}]"
    (clickedOption)="displayedTab = $event"
>
</app-bx-tabset>
<div *ngIf="displayedTab === 'youtube'">
    <app-youtube-search-tab [boxToken]="boxToken" [user]="user"></app-youtube-search-tab>
</div>
<div *ngIf="displayedTab === 'playlists'">
    <app-playlists-search-tab [boxToken]="boxToken" [user]="user"></app-playlists-search-tab>
</div>