@import './../../../../../imports.scss';
.lists {
    height: 100%;
    overflow: auto;
    @include can-search();
}

.search-tab-container {
    height: calc(100% - 61px);
    display: flex;
    flex-direction: column;
}

.back-btn {
    width: 180px;
    @include padding-vertical(10px);
    background-color: var(--background-main-color);
    border-bottom-right-radius: 90px;
    color: var(--text-main-color);
    font-weight: 600;
}