<div class="panel-tab-title-section">
    <p class="panel-tab-title col">Add videos</p>
</div>
<div *ngIf="box" style="flex: 1; overflow: hidden;">
    <div class="d-flex flex-column h-100">
        <div>
            <app-bx-tabset
                [options]="[{title: 'Youtube' , value: 'youtube' }, {title: 'Playlists' , value: 'playlists'}]"
                (clickedOption)="displayedTab = $event">
            </app-bx-tabset>
        </div>
        <div class="d-flex align-items-center justify-content-end px-3" *appAcl="'!bypassVideoDurationLimit'">
            <span *ngIf="durationRestriction !== 0">
                <app-bx-chip [options]="{
                        'type': 'duration-limit',
                        'chipText': durationRestriction+' minutes'}" [display]="'full'">
                </app-bx-chip>
            </span>
            <app-berry-counter *ngIf="berriesEnabled" [boxToken]="box._id"></app-berry-counter>
        </div>
        <app-youtube-search-tab *ngIf="displayedTab === 'youtube'" [boxToken]="box._id" [user]="user"
            [videosInQueue]="videosInQueue" [berriesEnabled]="berriesEnabled" class="search-tab-container">
        </app-youtube-search-tab>
        <app-playlists-search-tab *ngIf="displayedTab === 'playlists'" [boxToken]="box._id" [user]="user"
            [videosInQueue]="videosInQueue" [berriesEnabled]="berriesEnabled" class="search-tab-container">
        </app-playlists-search-tab>
    </div>
</div>