@import './../../../../../imports.scss';
.box-space {
    height: calc(100vh - #{$nav-height});
    overflow: hidden;
}

#room-panel {
    z-index: 3;
    padding-right: 0;
    background-color: var(--background-secondary-color);
    color: var(--text-main-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#player {
    height: calc(100% - 94px);
}

.under-player {
    color: var(--text-main-color);
    padding: 15px 0;
    white-space: nowrap;
}

.box-info:after {
    @media(max-width: 992px){
        display: none;
    }
    content: '';
    width: 1px;
    position: absolute;
    height: 70%;
    top: 15%;
    right: 0;
    background-color: $master-color;
}

.box-title,
.video-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1.6rem;
    margin-bottom: 0;
    text-overflow: ellipsis;
    overflow: hidden;
}

.minor-text {
    color: var(--text-system-color);
}

.mood-widget {
    text-align: center;
}

.closed-label {
    background-color: $danger-color;
    padding: 5px;
    border-radius: 2.5px;
    text-transform: uppercase;
    cursor: default;
    align-self: center;
    margin-right: 5px;
}

#box-title-space {
    display: flex;
    justify-content: space-between;
}

#box-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.md-separator {
    border: .1rem solid $master-color;
    width: 100%;
}

.player-bait {
    height: 100%;
    width: 2px;
}

.no-events {
    pointer-events: none;
}