<div *ngIf="!loading">
    <div class="box-space row no-gutters">
        <div class="col-9">
            <div id="player">
                <app-player #player [token]="box.token" (playing)="updateVideoInfo($event)"></app-player>
            </div>
            <div class="row under-player">
                <div class="col-4 box-info">
                    <p class="box-title" title="{{box.name}}">{{ box.name }}</p>
                    <svg class="berrybox-svg-icon secondary-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 457.98 202.99" title="Administrator">
                        <rect width="440.78" height="181.69" x="29.61" y="209.46" />
                        <polygon points="250 53.84 148.6 229.46 351.4 229.46 250 53.84" />
                        <polygon points="470.39 54.84 368.99 230.46 470.39 230.46 470.39 54.84" />
                        <polygon points="131.01 230.46 29.61 54.84 29.61 230.46 131.01 230.46" />
                    </svg> {{ box.creator }}
                </div>
                <div class="col-8 video-info" *ngIf="currentVideo">
                    <p class="video-title" title="{{currentVideo.video_name}}">{{currentVideo.video_name}}</p>
                    <div class="row">
                        <div class="col-9">
                            <span class="minor-text">Submitted by </span>{{currentVideo.user_pseudo}}
                        </div>
                        <div class="col-3">
                            <app-mood-widget *ngIf="currentVideo" [currentVideo]="currentVideo.video_index" class="row mood-widget"></app-mood-widget>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <app-panel class="col-3" id="room-panel" #panel [token]="box._id" (skipEvent)="app-player.next()"></app-panel>
    </div>
</div>