<div *ngIf="!loading">
    <div class="box-space row no-gutters">
        <div class="col-9">
            <div id="player">
                <app-player #player [boxToken]="box._id" [video]="currentVideo" (state)="onPlayerStateChange($event)"></app-player>
            </div>
            <div class="row under-player">
                <div class="col-4 box-info">
                    <div>
                        <p class="box-title" title="{{box.name}}">{{ box.name }}</p>
                    </div>
                    <div class="d-flex">
                        <div class="col-5 pl-0">
                            <div>
                                <svg class="berrybox-svg-icon crown" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 500" title="Administrateur">
                                <rect x="29.61" y="209.46" width="440.78" height="181.69"/>
                                <polygon points="250 53.84 148.6 229.46 351.4 229.46 250 53.84"/>
                                <polygon points="470.39 54.84 368.99 230.46 470.39 230.46 470.39 54.84"/>
                                <polygon points="131.01 230.46 29.61 54.84 29.61 230.46 131.01 230.46"/>
                            </svg>
                                <span class="ml-1">{{ box?.creator?.name }}</span>
                            </div>
                        </div>
                        <div class="col-3 box-option" *ngIf="box?.options?.random === true" ngbTooltip="The next video will be picked at random from the upcoming pool" placement="top">
                            Random
                        </div>
                        <div class="col text-center">
                            <span *ngIf="!box?.open" class="closed-label" title="The box is closed. Video play and submission are disabled.">Closed</span>
                        </div>
                    </div>
                </div>
                <div class="col-8 video-info" *ngIf="currentVideo">
                    <div class="row">
                        <div class="col-10">
                            <p class="video-title" title="{{currentVideo?.video.name}}">{{currentVideo?.video.name}}</p>
                        </div>
                        <div class="col-1">
                            <button *ngIf="user._id === box.creator._id" type="button" class="btn btn-primary" (click)="skipVideo()">
                                <svg class="btn-primary-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 402.39 385.88">
                                <polygon points="334.18 192.94 0 0 0 385.88 334.18 192.94"/>
                                <rect width="68.21" height="385.88" x="334.18"/>
                              </svg>
                              Skip
                            </button>
                        </div>
                        <div class="col-1 my-auto" *appAuth="true">
                            <app-mood-widget *ngIf="currentVideo" [video]="currentVideo" class="row mood-widget"></app-mood-widget>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-9">
                            <span class="minor-text">Submitted by {{ currentVideo?.submitted_by?.name }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <app-panel class="col-3" id="room-panel" #panel [boxToken]="box._id"></app-panel>
    </div>
</div>