<div ngbDropdown container="body">
    <div ngbDropdownToggle>
        <app-bx-button [options]="{'type': 'menu', 'context': 'queue'}"></app-bx-button>
    </div>
    <div ngbDropdownMenu>
        <button ngbDropdownItem *ngIf="permissions.includes('setModerator') && context !== 'moderator'"
            (click)="selectedRole.emit('moderator')">Set as
            Moderator</button>
        <button ngbDropdownItem *ngIf="permissions.includes('setVIP') && context !== 'vip'"
            (click)="selectedRole.emit('vip')">Set as VIP</button>
        <button ngbDropdownItem *ngIf="permissions.includes('unsetModerator') && context === 'moderator'"
            (click)="selectedRole.emit('simple')">Remove
            privileges</button>
        <button ngbDropdownItem *ngIf="permissions.includes('unsetVIP') && context === 'vip'"
            (click)="selectedRole.emit('simple')">Remove privileges</button>
    </div>
</div>