.mood-icon {
    &:hover {
        fill: lighten(red, 10%);
    }
    &.mood-active {
        fill: red;
    }
}
.mood-active {
    color: red;
}

.skip-icon {
    &:hover {
        fill: lighten(purple, 10%);
    }
    &.skip-active {
        fill: purple;
    }
}