<div class="modal-header text-center">
    <div class="header-contents w-100 text-center">
        <span id="auth-icon">
            <img src="../../../assets/images/berrybox-logo-white.png" alt="" style="width:inherit;">
        </span>
        <h5 class="modal-title" id="auth-title">Welcome!</h5>
    </div>
    <app-bx-button [options]="{'type': 'close', 'context': 'queue'}" (click)="activeModal.dismiss()" aria-label="close">
    </app-bx-button>
</div>
<div class="modal-body">
    <form (ngSubmit)="signup()" [formGroup]="signupForm">
        <div class="py-2">
            <label for="name" class="form-label">Username</label>
            <input type="text" formControlName="username" class="form-control input-lg" name="name"
                placeholder="Your username (20 characters max.)" required autofocus minlength="4" maxlength="20">
            <div *ngIf="username.invalid && (username.dirty || username.touched)">
                <app-bx-alert [options]="{'type': 'danger', 'icon': false, 'message': 'You must choose an username'}"
                    *ngIf="username.errors['required']"></app-bx-alert>
                <app-bx-alert
                    [options]="{'type': 'danger', 'icon': false, 'message': 'Your name cannot have less than 4 letters'}"
                    *ngIf="username.errors['minlength']"></app-bx-alert>
                <app-bx-alert
                    [options]="{'type': 'danger', 'icon': false, 'message': 'Your name cannot have more than 20 letters'}"
                    *ngIf="username.errors['maxlength']"></app-bx-alert>
                <app-bx-alert
                    [options]="{'type': 'danger', 'icon': false, 'message': 'Your name cannot contain spaces'}"
                    *ngIf="username.errors['whitespace']"></app-bx-alert>
            </div>
        </div>
        <div class="py-2">
            <label for="mail" class="form-label">Email address</label>
            <input type="email" formControlName="mail" class="form-control input-lg" name="mail" placeholder="Email"
                required email>
            <p class="help-text text-muted">We will never send you any mail, beside the welcome mail once you finished
                signing up.</p>
            <div *ngIf="mail.invalid && (mail.dirty || mail.touched)">
                <app-bx-alert [options]="{'type': 'danger', 'icon': false, 'message': 'The mail address is required'}"
                    *ngIf="mail.errors['required']"></app-bx-alert>
                <app-bx-alert
                    [options]="{'type': 'danger', 'icon': false, 'message': 'The value is not a mail address'}"
                    *ngIf="mail.errors['email']"></app-bx-alert>
                <app-bx-alert
                    [options]="{'type': 'danger', 'icon': false, 'message': 'A mail address cannot contain spaces'}"
                    *ngIf="mail.errors['whitespace']"></app-bx-alert>
            </div>
        </div>
        <div class="py-2">
            <label for="password" class="form-label">Password</label>
            <input type="password" formControlName="password" class="form-control input-lg" name="password"
                placeholder="Password (8 symbols minimum)" required minlength="8">
            <div *ngIf="password.invalid && (password.dirty || password.touched)">
                <app-bx-alert [options]="{'type': 'danger', 'icon': false, 'message': 'The password is required'}"
                    *ngIf="password.errors['required']"></app-bx-alert>
                <app-bx-alert
                    [options]="{'type': 'danger', 'icon': false, 'message': 'Your password cannot have less than 8 symbols'}"
                    *ngIf="password.errors['minlength']"></app-bx-alert>
            </div>
        </div>
        <div class="py-2">
            <label for="password-verify" class="form-label">Please verify your password</label>
            <input type="password" formControlName="passwordVerify" class="form-control input-lg" name="password-verify"
                placeholder="Password verify" required>
            <div *ngIf="passwordVerify.invalid && (passwordVerify.dirty || passwordVerify.touched)">
                <app-bx-alert
                    [options]="{'type': 'danger', 'icon': false, 'message': 'The password verification is required'}"
                    *ngIf="passwordVerify.errors['required']"></app-bx-alert>
                <app-bx-alert
                    [options]="{'type': 'danger', 'icon': false, 'message': 'Your password cannot have less than 8 symbols'}"
                    *ngIf="passwordVerify.errors['minlength']"></app-bx-alert>
            </div>
        </div>
        <app-bx-alert [options]="{'type': 'danger', 'message': errorMessage}" *ngIf="errorMessage"></app-bx-alert>
        <div class="py-2 align-center d-grid">
            <button type="submit" class="btn btn-default" [disabled]="!signupForm.valid">Sign up</button>
        </div>
    </form>
</div>