@import '../../../imports.scss';

.card-box{
    width: 360px;
    background-color: $main-black;
    color: white;
    border-radius: 0 !important;
    cursor: pointer;

    .card-img-top{
        width: inherit;
        border-radius: inherit;
    }
}

.card-name{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.box-pp{
    @include nav-pp(40px);
}