@import './../../../../../imports.scss';

.playlist-videos,
.search-space {
    background-color: var(--background-secondary-color);
}

.playlists-list {
    flex: 1;
}

.playlist-videos {
    overflow: auto;
    padding: 10px;
    flex: 2;
}

.search-space {
    flex: 1;
}

.playlists-list {
    background-color: #202020;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Nunito', sans-serif;
    padding: 20px;
    .playlists-list-item {
        cursor: pointer;
        border-radius: 10px;
        .playlist-name {
            color: var(--text-main-color);
            font-size: 1.3rem;
        }
        .playlist-info {
            color: var(--text-secondary-color);
        }
        &.active {
            background-color: var(--background-secondary-color-alternate);
            .playlist-name {
                font-weight: 700;
            }
        }
        &:hover {
            background-color: var(--background-secondary-color-alternate);
        }
    }
}

.playlist-space {
    border-right: 3px solid var(--background-main-color);
}

.playlist-video-item {
    flex-direction: row;
    justify-content: space-between;
}

.playlist-image {
    height: 250px;
}

#results {
    overflow: auto;
    height: 91%;
}

.no-videos-indicator {
    font-size: 2rem;
    color: var(--text-secondary-color);
}

.actions-icon {
    height: 40%;
}

.privacy-indicator{
    font-size: 0.8rem;
    background-color: orange;
    padding: 4px;
    border-radius: 3px;
    color: black;
}