@import './../../../../../imports.scss';
.badge-collection {
    height: 86.8vh;
    width: 100%;
    overflow: auto;
    background-color: var(--background-secondary-color);
    padding: 20px;
}

.badge-card {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    width: 11%;
    flex-wrap: wrap;
    @include padding-vertical(20px);
    @include padding-horizontal(10px);
    border-radius: 10px;
    cursor: pointer;
    img {
        width: 150px;
        -webkit-filter: grayscale(1);
        filter: grayscale(1);
    }
    .badge-name {
        font-size: 20px;
        color: var(--text-main-color);
    }
    .badge-description {
        color: var(--text-system-color)
    }
    &:hover {
        background-color: var(--background-secondary-color-alternate);
    }
}