
$white: #fff;

// Main colors
$main-yellow: #ffa726;
$main-purple: #6012b2;
$main-black: #444;
$system-color: #bbb;

// Nav colors
$nav-black: #222;

// Box widget
$box-black: #555;

// Type colors
$command-color: #0fb562;
$youtube-color: #b5220f;
