// Main overwrites for the dark theme
// Main colors
$background-main-color: #0B1A2D;
$background-main-hover-color: lighten($background-main-color, 5%);
$background-main-active-color: lighten($background-main-color, 15%);
$background-main-border-color: #979797;
$background-secondary-color: #0B1A38;
$input-main-color: #d0d0d0;
$text-main-color: white;
// Focus colors
$background-focus-color: #192929;
$text-focus-color: $master-color;
// System colors
$text-system-color: #bbb;
// SVG
$stroke-color: var(--text-system-color);
// Inactive
$inactive-color: #ccc;