// Main overwrites for the light theme
// Main colors
$background-main-color: white;
$background-main-hover-color: darken($background-main-color, 5%);
$background-main-active-color: darken($background-main-color, 15%);
$background-main-border-color: #979797;
$background-secondary-color: #0B1A38;
$input-main-color: #d0d0d0;
$text-main-color: black;
// Focus colors
$background-focus-color: darken(white, 10%);
$text-focus-color: $master-color;
// System colors
var(--text-system-color): #444444;
// SVG
$stroke-color: var(--text-system-color);
// Inactive
$inactive-color: #8f8f8f;