// Main overwrites for the light theme

// Main colors
$main-color: #65A6A6;
$secondary-background: darken(white, 10%);

// Text colors
$text-color: black;
$text-on-main-background: white;
$text-on-secondary-background: $main-color;

//$main-purple: #6012b2;
$main-purple: #2C3D4F;
$main-black: #444;
$system-color: #444444;

// Nav colors
$nav-black: #222;

// Box widget
$box-black: #555;

// Type colors
$command-color: #0fb562;
$youtube-color: #b5220f;

// SVG
$fill-color: none;
$stroke-color: $system-color;


body {
    background-color: white;
}