@mixin profile-picture-size($size) {
    height: $size;
    width: $size;
    border-radius: $size/2;
    overflow: hidden;
}

@mixin padding-horizontal($size) {
    padding-left: $size;
    padding-right: $size;
}

@mixin padding-vertical($size) {
    padding-top: $size;
    padding-bottom: $size;
}

@mixin margin-horizontal($size) {
    margin-right: $size;
    margin-left: $size;
}

@mixin margin-vertical($size) {
    margin-top: $size;
    margin-bottom: $size;
}

@mixin override-button($color) {
    background-color: $color;
    border: lighten($color, 5%);
    &:hover {
        background-color: darken($color, 10%);
    }
    &:active {
        background-color: darken($color, 20%);
    }
    &:focus {
        border: lighten($color, 5%);
    }
}

@mixin override-button-outline($color) {
    border-color: $color;
    color: $color;
    &:hover {
        background-color: $color;
        color: white;
    }
    &:active {
        background-color: darken($color, 10%);
        color: white;
    }
}

@mixin one-line-text() {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

@function pxtorem($px) {
    $remSize: $px / 16px;
    @return #{$remSize}rem;
}

@mixin can-search(){
    transition: background-color 0.2s ease;
    &.is-searching {
        background-color: transparentize($master-color, 0.91);
    }
}