/*
* Place bootstrap overrides here
*/

.btn {
    cursor: pointer;
    font-family: 'Nunito', sans-serif;
}

.btn-primary {
    background-color: $master-color;
    border: lighten($master-color, 5%);
    color: white;
    &:hover {
        background-color: $master-hover-color;
    }
    &:active {
        background-color: $master-active-color;
    }
    &:visited {
        color: white !important;
    }
}

.btn-outline-primary {
    border-color: $master-color;
    color: $master-color;
    &:hover {
        background-color: $master-color;
        color: white;
        .berrybox-svg-button {
            fill: white;
            stroke: white;
        }
    }
    &:active {
        background-color: darken($master-color, 10%);
        color: white;
        .berrybox-svg-button {
            fill: white;
            stroke: white;
        }
    }
    .berrybox-svg-button {
        fill: $master-color;
        stroke: $master-color;
    }
}

.btn-default {
    background-color: $master-color;
    border: lighten($master-color, 5%);
    color: white !important;
    &:hover {
        background-color: darken($master-color, 10%);
    }
    &:active {
        background-color: darken($master-color, 20%);
    }
}

.btn-outline-default {
    border-color: $master-color;
    color: $master-color;
    .berrybox-svg-button {
        fill: $master-color;
        stroke: $master-color;
    }
    &:hover {
        background-color: $master-color;
        color: white;
        .berrybox-svg-button {
            fill: white;
            stroke: white;
        }
    }
}

.btn-outline-secondary {
    color: var(--text-main-color);
}

.btn-success {
    background-color: var(--success-color);
    color: black;
}

.btn-danger {
    background-color: $danger-color;
    border: darken($danger-color, 5%);
    &:hover {
        background-color: darken($danger-color, 5%);
    }
}

.btn-outline-danger {
    color: white;
    border-color: $danger-color;
    box-shadow: inset 0 0 0 0.1rem $danger-color;
    &:hover {
        background-color: $danger-color;
        color: white;
    }
}

.btn-queue {
    color: var(--text-main-color);
    background-color: rgba(black, 0.2);
    &:hover {
        background-color: rgba(black, 0.3);
    }
}

.btn-berries {
    color: var(--text-main-color);
    border: 1px solid $berry-color;
    &:hover {
        background-color: rgba($berry-color, 0.8);
    }
}

.display-3 {
    font-family: 'Nunito', sans-serif;
}

.modal-header {
    font-family: 'Nunito', sans-serif;
    h5 {
        font-weight: 700 !important;
    }
    .close {
        color: var(--text-main-color);
        opacity: .8;
    }
}

.modal-header,
.modal-body {
    background-color: var(--background-main-color);
    border-radius: 0;
    border: none;
}

.modal-content {
    background-color: var(--background-main-color);
    color: var(--text-main-color);
    border-radius: 0;
}

.nav-link {
    cursor: pointer;
    font-family: 'Nunito', sans-serif;
    color: var(--text-system-color) !important;
    &:hover {
        background-color: var(--background-main-hover-color);
    }
    &.active {
        cursor: default;
        font-weight: 800;
        background-color: var(--background-main-active-color);
    }
}

.nav-link-inverted {
    border-radius: 0.25rem;
    &:hover {
        background-color: var(--background-main-color);
    }
    &.active {
        cursor: default;
        font-weight: 800;
        background-color: var(--background-main-color);
    }
}

.form-control {
    &:not(.no-border) {
        border: 1px solid $master-color !important;
    }
    background-color: rgba(0, 0, 0, 0.15);
    color: var(--text-main-color);
    &:not(.no-focus):focus {
        box-shadow: 0 0 0 0.1rem $master-color;
    }
}

.form-control-plaintext {
    color: var(--text-main-color);
}

// Pseudo-elements
::-webkit-scrollbar {
    background-color: inherit;
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: darken($master-color, 10%);
}

::-webkit-input-placeholder {
    color: $placeholder-color !important;
    opacity: 1 !important;
}

.help-block {
    color: var(--text-system-color);
}

.dropdown-toggle::after {
    display: none;
}

.card {
    background-color: var(--background-main-color);
}

// Alerts
.alert {
    font-weight: 700;
    &.alert-danger {
        background-color: transparent;
        color: $danger-color !important;
        border-color: $danger-color;
    }
    &.alert-warning {
        background-color: transparent;
        color: var(--warning-color) !important;
        border-color: var(--warning-color);
    }
    &.alert-success {
        background-color: transparent;
        color: var(--success-color) !important;
        border-color: var(--success-color);
    }
}

.dropdown-menu {
    background-color: var(--background-main-color);
    width: 200px;
    padding: 1rem 0 0.5rem 0;
    box-shadow: 0 0 7px 0.1rem black;
    top: 50px;
    border: none;
    .dropdown-item {
        cursor: pointer;
        color: var(--text-main-color);
        &:hover {
            background-color: var(--background-main-hover-color);
        }
        &:focus {
            background-color: var(--background-main-hover-color);
        }
    }
    .bx-dropdown-icon {
        width: 20px;
        height: 20px;
        margin-right: 2%;
    }
}

.table {
    font-family: 'Nunito';
    color: var(--text-main-color) !important;
    tr:hover {
        color: var(--text-main-color);
    }
    td, th {
        vertical-align: middle;
    }
}