/*
* Place bootstrap overrides here
*/

.btn {
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}

.btn-primary {
    background-color: $master-color;
    border: lighten($background-main-color, 5%);
    color: $text-main-color;
    &:hover {
        background-color: $master-hover-color;
    }
    &:active {
        background-color: $master-active-color;
    }
    &:visited {
        color: $text-main-color !important;
    }
}

.btn-outline-primary {
    border-color: $main-purple;
    color: $main-purple;
    &:hover {
        background-color: $main-purple;
        color: white;
    }
    &:active {
        background-color: darken($main-purple, 10%);
        color: white;
    }
}

.btn-default {
    background-color: $master-color;
    border: lighten($master-color, 5%);
    color: white !important;
    &:hover {
        background-color: darken($master-color, 10%);
    }
    &:active {
        background-color: darken($master-color, 20%);
    }
}

.btn-outline-default {
    border-color: $master-color;
    color: $master-color;
    .berrybox-svg-button {
        fill: $master-color;
        stroke: $master-color;
    }
    &:hover {
        background-color: $master-color;
        color: white;
        .berrybox-svg-button {
            fill: white;
            stroke: white;
        }
    }
}

.btn-success {
    background-color: $success-color;
}

.btn-danger {
    background-color: $danger-color;
}

.btn-outline-danger {
    color: white;
    border-color: $danger-color;
    box-shadow: inset 0 0 0 0.1rem $danger-color;
    &:hover {
        background-color: $danger-color;
        color: white;
    }
}

.display-3 {
    font-family: 'Montserrat', sans-serif;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
    &:hover {
        color: $master-color;
    }
}

.nav-pills {
    .nav-link {
        border-radius: 0;
        color: white;
        &:hover {
            color: darken($master-color, 10%);
        }
        &.active {
            background-color: inherit;
            border-bottom: 5px solid $master-color;
        }
    }
}

.modal-content {
    background-color: $background-main-color;
    color: $text-main-color;
    border-radius: 0;
}

.form-control {
    border: 1px solid $master-color !important;
    background-color: $input-main-color;
    &:focus {
        box-shadow: 0 0 0 0.2rem $master-color;
    }
}

// Pseudo-elements
::-webkit-scrollbar {
    background-color: inherit;
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: darken($master-color, 10%);
}

::-webkit-input-placeholder {
    color: $placeholder-color !important;
    opacity: 1 !important;
}

.help-block {
    color: $text-system-color;
}

.dropdown-toggle::after {
    display: none;
}

.card {
    background-color: $background-main-color;
}