/* You can add global styles to this file, and also import other style files */

@import 'global.css';
@import 'imports.scss';
@import '~bootstrap/scss/bootstrap';
@import '~ngx-toastr/toastr';
@import '~@ctrl/ngx-emoji-mart/picker';
body {
    overflow: hidden;
    background-color: var(--background-main-color);
    font-size: pxtorem($base-font-size);
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Montserrat', 'sans-serif';
}

.berrybox-svg {
    height: 1em;
    stroke: var(--stroke-color);
    fill: $fill-color;
    circle {
        fill: var(--stroke-color);
    }
    &:hover {
        .berrybox-path {
            fill: $master-color;
        }
        .berrybox-stroke {
            stroke: $master-color;
        }
    }
    .berrybox-path {
        fill: var(--text-system-color);
        &:active {
            fill: var(--active-stroke-color);
        }
    }
    .berrybox-stroke {
        stroke: var(--text-system-color);
        &:active {
            stroke: var(--active-stroke-color);
        }
    }
}

.berrybox-svg-static {
    height: 1em;
    stroke: var(--stroke-color);
    fill: $fill-color;
    circle {
        fill: var(--stroke-color);
    }
    .berrybox-path {
        fill: var(--text-system-color);
        &:active {
            fill: var(--active-stroke-color);
        }
    }
    .berrybox-stroke {
        stroke: var(--text-system-color);
        &:active {
            stroke: var(--active-stroke-color);
        }
    }
}

button>svg {
    height: 0.7em;
    fill: white;
}

.berrybox-svg-icon {
    height: 1.3em;
    width: 1.3em;
    &.crown {
        fill: var(--active-color);
        color: var(--active-color);
    }
    &.primary-icon {
        &:hover {
            fill: $master-color;
            stroke: $master-color;
        }
        cursor: pointer;
        fill: white;
        stroke: white;
    }
}

.bx-icon {
    fill: var(--text-main-color);
    color: var(--text-main-color);
    // Sizes
    &.bx-icon-xs {
        height: 20px;
        width: 20px;
    }
    &.bx-icon-sm {
        height: 40px;
        width: 40px;
    }
    &.bx-icon-md {
        height: 80px;
        width: 80px;
    }
    &.bx-icon-lg {
        height: 160px;
        width: 160px;
    }
    // Status
    &.bx-icon-danger {
        fill: $danger-color;
        color: $danger-color;
    }
    &.bx-icon-success {
        fill: var(--success-color);
        color: var(--success-color);
    }
}

.key-commands {
    font-size: 0.8rem;
    padding: 0.5rem;
}

.page-title {
    color: $master-color;
    padding: 40px;
}

.btn-outline-primary-light {
    color: white !important;
    border-color: white;
    &:hover {
        background-color: white;
        color: $master-color !important;
    }
}

.btn-active {
    background-color: var(--active-color);
    border-color: var(--active-color);
    color: white !important;
}

.btn-primary-icon {
    fill: white;
}

.help-text {
    color: var(--text-system-color);
    margin: 0;
}

.no-contents {
    padding-top: 50px;
    color: var(--inactive-color);
    svg {
        height: 4em !important;
        fill: var(--inactive-color);
        stroke: var(--inactive-color);
    }
}

// Auth modals
#auth-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
}

#auth-icon {
    width: 50px;
}

.featured {
    background-color: var(--background-main-color);
    .free-text {
        font-family: 'Montserrat', sans-serif;
        color: var(--text-focus-color);
        margin-bottom: 40px;
        text-align: center
    }
}

.notification-indicator {
    fill: $notification-color !important;
}

.box-option-button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
        background-color: transparentize($main-black, 0.8);
    }
    &:active {
        background-color: transparentize($main-black, 0.6);
    }
    &.box-option-button-danger {
        &:hover {
            background-color: transparentize($danger-color, 0.6);
        }
        &:active {
            background-color: transparentize($danger-color, 0.3);
        }
    }
}

.profile-picture {
    &.profile-picture-nav {
        @include profile-picture-size(28px);
    }
    &.profile-picture-xs {
        @include profile-picture-size(20px);
    }
    &.profile-picture-sm {
        @include profile-picture-size(30px);
    }
    &.profile-picture-md {
        @include profile-picture-size(50px);
    }
    &.profile-picture-lg {
        @include profile-picture-size(80px);
    }
}

.command-key {
    font-weight: 800;
    color: $master-color;
    &:hover {
        color: $master-hover-color;
    }
    &:active {
        color: $master-active-color;
    }
}

.no-focus {
    &:focus {
        outline: none;
        box-shadow: none;
    }
}

.no-active {
    &:active {
        outline: none;
        box-shadow: none;
    }
}

.no-border {
    border: none !important;
}

.admin-tab-title {
    color: var(--text-main-color);
    font-family: 'Montserrat';
    font-weight: 700;
}

.song-list-line {
    margin-bottom: 0;
    font-size: 1rem;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    a {
        color: $master-color;
        width: 100%;
        &:hover {
            text-decoration: underline;
        }
        &:active {
            color: darken($master-color, 10%);
        }
    }
}

img {
    &.actions-icon {
        content: '';
        background: var(--actions-icon);
    }
    &.active-icon {
        background: var(--active-icon);
    }
    &.edit-icon {
        background: var(--edit-icon);
    }
    &.trash-icon {
        background: var(--trash-icon);
    }
    &.access-icon {
        background: var(--access-icon);
    }
}

.panel-tab-title-section {
    border-bottom: 1px solid darken($main-black, 20%);
    display: flex;
    justify-content: space-between;
    padding: 10px;
    height: 50px;
    align-items: center;
}

.panel-tab-title {
    text-align: center;
    color: var(--text-main-color);
    font-style: 'Montserrat';
    font-size: 1rem;
    padding: 5px;
    margin-bottom: 0;
    justify-self: center;
}

.panel-tab-title-button {
    display: flex;
    justify-content: flex-end;
}