/* You can add global styles to this file, and also import other style files */
@import 'imports.scss';

body{
    //background-color: $main-yellow;
    background-color: black;
}
    
svg.berrybox-svg {
    height: 1em;
    &:hover {
        .berrybox-path {
            fill: $main-yellow;
        }
    }
    .berrybox-path {
        fill: white;
    }
}

button > svg {
    height: 0.7em;
    fill: white;
}

.berrybox-svg-icon {
    height: 1.3em;
    width: 1.3em;
    cursor: pointer;
    fill: white;
    stroke: white;

    &:hover {
        fill: $main-yellow;
        stroke: $main-yellow;
    }
}