$nav-height: 60px;
$base-font-size: 14px;
$master-color: #009AEB;
$master-hover-color: lighten($master-color, 10%);
$master-active-color: lighten($master-color, 20%);
$grey-on-master-color: #D3E2EA;
$main-purple: #2C3D4F;
$main-black: #444;
// Text colors
$placeholder-color: white;
// Feedback colors
$success-color: #0CEBC0;
$danger-color: #EB5117;
// Status colors
$active-color: #EBB517;
$notification-color: #F01833;
// Type colors
$command-color: #A091FF;
// SVG
$fill-color: none;