<details class="help-text text-muted mt-3">
    <summary class="btn btn-outline-secondary">
        Need some help?
    </summary>
    <div>
        Here's how it works:
        <ul>
            <li>Users can only have <strong>one</strong> role.</li>
            <li><strong>Only you can promote Moderators.</strong> In most cases, Moderators are here to enforce your rules when you're not in a box. They should be users you trust.</li>
            <li><strong>Permissions are not cumulative!</strong> Which means promoting someone might make them lose some privileges. Adjust your roles carefully.</li>
            <li>As Box Creator, <strong>you will always have all privileges.</strong></li>
        </ul>
    </div>
</details>
<table class="table table-hover table-borderless my-4">
    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col" class="text-center col-2 role-name">Moderators</th>
            <th scope="col" class="text-center col-2 role-name">VIPs</th>
            <th scope="col" class="text-center col-2 role-name">Community Members</th>
        </tr>
    </thead>
    <tbody *ngFor="let section of sections">
        <td colspan="4" class="section-title">{{ section.name }}</td>
        <tr *ngFor="let permission of section.permissions">
            <td>
                <div class="d-flex flex-row">
                    <span class="permission-name">{{ permission.name }}</span>
                    <img src="../../../../../assets/images/icons/berry-coin-icon.svg" alt="" style="height: 20px;" *ngIf="permission.withBerries" ngbTooltip="If disabled, this action can still be executed with Berries. You can disable Berries when creating a box." class="ml-3">
                </div>
                <p class="help-text text-muted">{{ permission.explanation }}</p>
            </td>
            <td>
                <app-slide-toggle class="checkbox d-flex justify-content-center" [(value)]="editableConfig[0][permission.key]" (valueChange)="this.buildACLConfig()">
                </app-slide-toggle>
            </td>
            <td>
                <app-slide-toggle class="checkbox d-flex justify-content-center" [(value)]="editableConfig[1][permission.key]" (valueChange)="this.buildACLConfig()">
                </app-slide-toggle>
            </td>
            <td>
                <app-slide-toggle class="checkbox d-flex justify-content-center" [(value)]="editableConfig[2][permission.key]" (valueChange)="this.buildACLConfig()">
                </app-slide-toggle>
            </td>
        </tr>
    </tbody>
</table>