@import './../../../../imports.scss';
.section-title {
    font-family: 'Nunito', sans-serif;
    color: var(--text-focus-color);
    font-weight: 700;
    font-size: 16px;
    border-bottom: 1px solid;
}

.role-name {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
}