@import './../../../../imports.scss';
#filter-options {
    padding: 20px;
    justify-content: space-evenly;
    text-align: center;
}

.option {
    margin-left: 10px;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 2px;
    font-family: 'Montserrat';
    cursor: pointer;
    color: var(--text-main-color);
    align-self: center;
    &.active {
        color: white;
        font-weight: 700;
        background-color: $master-color;
    }
}