<div class="row justify-content-center g-0">
    <h2 class="admin-tab-title">Playlists</h2>
    <div class="d-flex playlist-manager">
        <div class="d-flex playlist-space col-9 px-0">
            <div class="col-3 playlists-list p-0" *ngIf="playlists.length > 0">
                <div id="playlists-list-container">
                    <div *ngFor="let playlist of playlists" class="playlists-list-item p-3"
                        [ngClass]="{'active': playlist._id === selectedPlaylist?._id}"
                        (click)="selectPlaylist(playlist._id)">
                        <div class="d-flex">
                            <div class="col">
                                <p class="playlist-name mb-0">{{ playlist.name }} <span *ngIf="playlist.isPrivate"
                                        class="privacy-indicator">Private</span></p>
                                <span class="playlist-info"> {{ playlist.videos.length }} Videos - Last updated
                                    {{ playlist.updatedAt | date:'dd/MM/yyyy HH:mm:ss' }}</span>
                            </div>
                            <div class="col-1 p-0 m-auto text-center h-100 d-flex" ngbDropdown container="body"
                                *ngIf="playlist.isDeletable">
                                <div ngbDropdownToggle>
                                    <svg class="berrybox-svg" style="height: 30px; width: 30px;"
                                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 500">
                                        <rect class="berrybox-path" x="183.33" y="183.33" width="133.33" height="133.33"
                                            rx="10" />
                                        <rect class="berrybox-path" x="183.33" y="27.67" width="133.33" height="133.33"
                                            rx="10" />
                                        <rect class="berrybox-path" x="183.33" y="339" width="133.33" height="133.33"
                                            rx="10" />
                                    </svg>
                                </div>
                                <div ngbDropdownMenu>
                                    <button ngbDropdownItem (click)="openCreateModal(playlist)">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 500"
                                            class="berrybox-svg bx-dropdown-icon">
                                            <path class="berrybox-path"
                                                d="M345.2,68.73h57.89a0,0,0,0,1,0,0V190.16a0,0,0,0,1,0,0H345.2a6.47,6.47,0,0,1-6.47-6.47V75.2a6.47,6.47,0,0,1,6.47-6.47Z"
                                                transform="translate(724.72 -41.3) rotate(135)" />
                                            <polygon class="berrybox-path"
                                                points="66.08 433.56 168.78 416.73 82.92 330.86 66.08 433.56" />
                                            <rect class="berrybox-path" x="95.51" y="201.19" width="284.46"
                                                height="121.43" transform="translate(591.04 279) rotate(135)" />
                                        </svg>
                                        <span>Edit</span>
                                    </button>
                                    <button ngbDropdownItem (click)="deletePlaylist(playlist)">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 500"
                                            class="berrybox-svg bx-dropdown-icon">
                                            <defs>
                                                <style>
                                                    .a80cec86-9a1c-46d3-bf58-01bf0358db95 {
                                                        stroke-miterlimit: 10;
                                                        stroke-width: 33px;
                                                    }
                                                </style>
                                            </defs>
                                            <path
                                                class="a80cec86-9a1c-46d3-bf58-01bf0358db95 berrybox-path berrybox-stroke"
                                                d="M356.12,455H158.81c-10.49,0-19-11.2-19-25L105.74,129.35h299L375.1,430C375.1,443.81,366.6,455,356.12,455Z" />
                                            <path class="berrybox-path"
                                                d="M60.7,56.31h389a8.59,8.59,0,0,1,8.59,8.59V88.14a0,0,0,0,1,0,0H52.12a0,0,0,0,1,0,0V64.89A8.59,8.59,0,0,1,60.7,56.31Z" />
                                            <rect class="berrybox-path" x="189.07" y="30.02" width="132.29"
                                                height="52.57" rx="20.87" />
                                        </svg>
                                        <span>Delete</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="px-2 pb-2 d-grid">
                    <button class="btn btn-primary" (click)="openCreateModal()">
                        Create a playlist
                    </button>
                </div>
            </div>
            <div class="col-9 playlist-videos px-0"
                *ngIf="selectedPlaylist && selectedPlaylist.videos.length > 0; else noVideos">
                <div *ngFor="let video of selectedPlaylist.videos" class="playlist-video-item py-3 d-flex">
                    <app-video-entry class="col-10 p-0" [video]="video" [options]="{'none': true}">
                    </app-video-entry>
                    <div class="col-2 d-flex align-items-center justify-content-center">
                        <app-bx-button (click)="removeVideoFromPlaylist(video)"
                            [options]="{'type': 'cancel', 'context': 'danger', 'textDisplay': 'button', 'text': 'Remove'}">
                        </app-bx-button>
                    </div>
                </div>
            </div>
            <ng-template #noVideos>
                <div class="col-9 pt-3 d-flex align-items-center text-center no-videos-indicator">
                    <span class="w-100">There are no videos in this playlist</span>
                </div>
            </ng-template>
        </div>
        <div class="search-space col-3">
            <div class="p-3">
                <form (submit)="searchYouTube()">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Type to search on YouTube..."
                            [(ngModel)]="searchValue" name="searchCriterion">
                        <button class="btn btn-outline-default" type="submit"
                            [disabled]="canSearch === false">Search</button>
                    </div>
                </form>
            </div>
            <div *ngIf="searchResults" id="results">
                <div *ngIf="!canSearch">
                    <p class="text-muted text-center">Next search available in {{ searchTimeoutValue }} seconds.</p>
                </div>
                <div *ngIf="errorMessage" class="p-4">
                    <app-bx-alert [options]="{'type': 'danger', 'message': errorMessage}"></app-bx-alert>
                </div>
                <app-video-entry *ngFor="let video of searchResults" [video]="video" [options]="{'addToPlaylist': true}"
                    (addedToPlaylist)="addVideoToPlaylist($event)"></app-video-entry>
            </div>
        </div>
    </div>
</div>