@import './../../../../../imports.scss';
.user-name {
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
}

.role-title{
    color: var(--text-main-color);
    margin-bottom: 0;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    padding-top: 10px;
}