<div class="panel-tab-title-section">
    <div class="col"></div>
    <p class="panel-tab-title col">Users</p>
    <div class="col pr-0">
        <app-bx-button (click)="openInviteModal()" *appAcl="'inviteUser'" class="panel-tab-title-button"
            [options]="{'type': 'inviteUser', 'textDisplay': 'tooltip', 'context': 'queue', 'text': 'Invite users'}">
        </app-bx-button>
    </div>
</div>
<div class="px-3">
    <div *ngIf="admin">
        <p class="role-title">Creator</p>
        <div class="d-flex align-items-center">
            <app-profile-picture [fileName]="admin.settings.picture" [size]="'xs'"></app-profile-picture>
            <span class="ml-1 user-name">{{ admin.name }}</span>
        </div>
    </div>
    <div *ngIf="moderators.length > 0">
        <p class="role-title">Moderators - {{ moderators.length }}</p>
        <div *ngFor="let moderator of moderators" class="user-item my-1 d-flex">
            <div class="d-flex w-100 align-items-center justify-content-between">
                <div>
                    <app-profile-picture [fileName]="moderator.settings.picture" [size]="'xs'"></app-profile-picture>
                    <span class="ml-1 user-name">{{ moderator.name }}</span>
                </div>
                <div>
                    <button class="btn btn-outline-primary btn-promotion" *appAcl="'demoteModerator'"
                        (click)="changeRole(moderator._id, 'vip')">Demote to VIP</button>
                    <button class="btn btn-outline-primary btn-promotion" *appAcl="'demoteModerator'"
                        (click)="changeRole(moderator._id, 'simple')">Demote to Community</button>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="vips.length > 0">
        <p class="role-title">VIPs - {{ vips.length }}</p>
        <div *ngFor="let vip of vips" class="user-item my-1 d-flex">
            <div class="d-flex w-100 align-items-center justify-content-between">
                <app-profile-picture [fileName]="vip.settings.picture" [size]="'xs'"></app-profile-picture>
                <span class="ml-1 user-name">{{ vip.name }}</span>
                <button class="btn btn-outline-primary btn-promotion" *appAcl="'demote'"
                    (click)="changeRole(vip._id, 'simple')">Demote to Community</button>
                <button class="btn btn-outline-primary btn-promotion" *appAcl="'promoteModerator'"
                    (click)="changeRole(vip._id, 'moderator')">Promote to
                    Moderator</button>
            </div>
        </div>
    </div>
    <div *ngIf="community.length > 0">
        <p class="role-title">Community Members - {{ community.length }}</p>
        <div *ngFor="let user of community" class="user-item my-1 d-flex">
            <div class="d-flex w-100 align-items-center justify-content-between">
                <div>
                    <app-profile-picture [fileName]="user.settings.picture" [size]="'xs'"></app-profile-picture>
                    <span class="ml-1 user-name">{{ user.name }}</span>
                </div>
                <div>
                    <button class="btn btn-outline-primary btn-promotion" *appAcl="'promote'"
                        (click)="changeRole(user._id, 'vip')">Promote to VIP</button>
                    <button class="btn btn-outline-primary btn-promotion" *appAcl="'promoteModerator'"
                        (click)="changeRole(user._id, 'moderator')">Promote to
                        Moderator</button>
                </div>
            </div>
        </div>
    </div>
    <ng-template #loading>Loading users...</ng-template>
</div>