<div class="panel-tab-title-section">
    <p class="panel-tab-title col">Users</p>
</div>
<div class="px-3">
    <div *ngIf="admin">
        <p class="role-title">Admin</p>
        <div class="d-flex align-items-center">
            <app-profile-picture [userId]="admin._id" [size]="'xs'"></app-profile-picture>
            <span class="ml-1 user-name">{{ admin.name }}</span>
        </div>
    </div>
    <div *ngIf="moderators.length > 0">
        <p class="role-title">Moderators - {{ moderators.length }}</p>
        <div *ngFor="let moderator of moderators" class="user-item my-1 d-flex">
            <div class="d-flex align-items-center">
                <app-profile-picture [userId]="moderator._id" [size]="'xs'"></app-profile-picture>
                <span class="ml-1 user-name">{{ moderator.name }}</span>
            </div>
        </div>
    </div>
    <div *ngIf="vips.length > 0">
        <p class="role-title">VIPs - {{ vips.length }}</p>
        <div *ngFor="let vip of vips" class="user-item my-1 d-flex">
            <div class="d-flex align-items-center">
                <app-profile-picture [userId]="vip._id" [size]="'xs'"></app-profile-picture>
                <span class="ml-1 user-name">{{ vip.name }}</span>
            </div>
        </div>
    </div>
    <div *ngIf="community.length > 0">
        <p class="role-title">Community Members - {{ community.length }}</p>
        <div *ngFor="let user of community" class="user-item my-1 d-flex">
            <div class="d-flex align-items-center">
                <app-profile-picture [userId]="user._id" [size]="'xs'"></app-profile-picture>
                <span class="ml-1 user-name">{{ user.name }}</span>
            </div>
        </div>
    </div>
    <ng-template #loading>Loading users...</ng-template>
</div>