@import './../../../../../imports.scss';
.userlist {
    padding: 0 20px;
    height: calc(100% - 61px);
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: auto;
    @include can-search();
}

.user-filters {
    :first-child {
        flex: 5;
    }
    :last-child {
        flex: 1;
    }
}

.role-title-container {
    display: flex;
    align-items: center;
    img {
        height: 25px;
        width: 25px;
        margin-right: 10px;
    }
    .role-title{
        color: var(--text-main-color);
        font-weight: 600;
        font-family: 'Nunito', sans-serif;
    }
}

.user-name-container {
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: center;
    margin-bottom: 10px;
    .user-name {
        margin-left: 5px;
        font-size: 1.2rem;
        font-family: 'Nunito', sans-serif;
        color: var(--text-main-color);
    }
}

#offline-toggle {
    font-family: 'Nunito', sans-serif;
    font-size: 0.9rem;
    color: var(--text-main-color);
}