@import './../../../../../imports.scss';
.userlist {
    padding: 20px;
}

.role-title-container {
    display: flex;
    align-items: center;
    img {
        height: 25px;
        width: 25px;
        margin-right: 10px;
    }
    .role-title{
        color: var(--text-main-color);
        font-weight: 600;
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
    }
}

.user-name-container {
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: center;
    margin-bottom: 10px;
    .user-name {
        margin-left: 5px;
        font-size: 1.2rem;
        font-family: 'Montserrat', sans-serif;
    }
}