@import './../../../../../imports.scss';
.box-card {
    border: 1px solid lighten($master-color, 10%);
    margin: .7rem;
    color: $text-main-color;
    border-radius: .3rem;
}

.box-info {
    padding: 1rem;
}

.box-name {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4rem;
}

.box-option-button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding-left: 1.875rem;
    &:hover {
        background-color: transparentize($master-hover-color, 0.8);
    }
    &:active {
        background-color: transparentize($master-active-color, 0.6);
    }
}

.actions-icon {
    height: 40%;
}